<ion-header no-border>
    <ion-toolbar no-border>
        <ion-buttons slot="start">
            <ion-button (click)="dismiss(false)">
                <ion-icon class="atras" name="arrow-round-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-item color='transparent' lines='none' no-padding>
            <ion-avatar slot='start'>
                <img [src]="URLavatar + speakerPhoto" alt="Speaker profile pic">
            </ion-avatar>
            <ion-text class="nameTitle">{{speakerName | titlecase}}</ion-text>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content padding-vertical fullscreen>


    <div id="chat-parent" class="bg-image" [ngClass]="{ 'bg-image-X': phone_model=='iPhone X'}">
        <div *ngIf='fototomada'>
            <img [src]='waoChat.fotografia'>
        </div>
        <div id="chat-container" *ngIf='!fototomada' (mouseup)="mostrarbotonmoverfinal()">
            <div padding text-center *ngIf="cargaCompleta==false">
                <ion-spinner></ion-spinner>
                <h2>
                    <ion-text><strong>Cargando conversación...</strong></ion-text>
                </h2>
            </div>
            <ion-row [hidden]="!cargaCompleta" *ngFor="let conv of conversation; let i = index" class="full no-padding">
                <ion-col class="no-padding chat-row" [ngClass]="{ 'reverse': conv.sender === userData.datos.Nombre.substr(0, this.userData.datos.Nombre.indexOf(' '))}">
                    <div class="avatar-parent">
                        <div class="avatar-border"></div>
                        <img [src]="conv.image" class="avatar">
                    </div>
                    <div [ngClass]="{ 'name-row-parent-right': conv.sender === userData.datos.Nombre.substr(0, this.userData.datos.Nombre.indexOf(' ')),'name-row-parent-left': conv.sender !== userData.datos.Nombre.substr(0, this.userData.datos.Nombre.indexOf(' '))}">
                        <div class="no-padding" [ngClass]="{ 'name-row-right': conv.sender === userData.datos.Nombre.substr(0, this.userData.datos.Nombre.indexOf(' ')),'name-row-left': conv.sender !== userData.datos.Nombre.substr(0, this.userData.datos.Nombre.indexOf(' '))}">
                            {{ conv.sender }}
                            <div [ngClass]="{ 'timer-right': conv.sender === userData.datos.Nombre.substr(0, this.userData.datos.Nombre.indexOf(' ')),'timer-left': conv.sender !== userData.datos.Nombre.substr(0, this.userData.datos.Nombre.indexOf(' '))}">{{i+5}} mins ago
                                <ion-icon *ngIf="conv.sender === userData.datos.Nombre.substr(0, this.userData.datos.Nombre.indexOf(' ')) && conv.sent" name="checkmark" [color]="conv.read ? 'd3green': 'light'" class="first-tick"></ion-icon>
                                <ion-icon *ngIf="conv.sender === userData.datos.Nombre.substr(0, this.userData.datos.Nombre.indexOf(' ')) && conv.delivered" name="checkmark" [color]="conv.read ? 'd3green': 'light'" class="second-tick"></ion-icon>
                            </div>
                            <div [ngClass]="{ 'reverse-arc-right': conv.sender === userData.datos.Nombre.substr(0, this.userData.datos.Nombre.indexOf(' ')),'reverse-arc-left': conv.sender !== userData.datos.Nombre.substr(0, this.userData.datos.Nombre.indexOf(' '))}">
                                <div [ngClass]="{ 'reverse-arc-color-right': conv.sender === userData.datos.Nombre.substr(0, this.userData.datos.Nombre.indexOf(' ')),'reverse-arc-color-left': conv.sender !== userData.datos.Nombre.substr(0, this.userData.datos.Nombre.indexOf(' '))}"></div>
                            </div>
                        </div>
                        <div class="no-padding" [ngClass]="{ 'message-row-right': conv.sender === userData.datos.Nombre.substr(0, this.userData.datos.Nombre.indexOf(' ')),'message-row-left': conv.sender !== userData.datos.Nombre.substr(0, this.userData.datos.Nombre.indexOf(' '))}">
                            <ion-grid>
                                <ion-row *ngIf='conv.imagenMensaje'><img [src]='conv.imagenMensaje'></ion-row>
                                <ion-row *ngIf='conv.PDFMensaje'>
                                    <h4 id="i" (click)="pdf.descargarPDF(conv.PDFMensaje, i)">
                                        <ion-icon *ngIf="pdf.DescargandoPDFBandera === false || pdf.indiceclicado!=i" (click)="pdf.descargarPDF(conv.PDFMensaje, i)" class="PDFDoc" color="light" name="download"></ion-icon>
                                        <ion-spinner *ngIf="pdf.DescargandoPDFBandera === true && pdf.indiceclicado==i" color="light"></ion-spinner>
                                        <ion-text color="light"> <strong>PDF</strong></ion-text>
                                    </h4>

                                </ion-row>
                                <ion-row>
                                    <ion-text no-margin class="text">{{conv.text}}</ion-text>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </div>



                </ion-col>
            </ion-row>
        </div>
    </div>
    <!--   <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (dblclick)='cargar_mensajes_finales()'>
            <ion-icon name="arrow-dropdown"></ion-icon>
        </ion-fab-button>
    </ion-fab> -->

    <ion-fab vertical="top" horizontal="center" slot="fixed">
        <ion-fab-button (click)='cargar_mensajes_anteriores()'>

            <ion-icon name="arrow-dropup-circle"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <!-- <ion-list>
        <ion-item *ngFor="let item of data; let i=index">;
            <ion-label> item{{i+1}}</ion-label>
        </ion-item>
    </ion-list>
 -->

    <!--  <ion-infinite-scroll thresold="-100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll> -->
    <ion-button (click)="cargar_mensajes_anteriores()" expand="block">

    </ion-button>
</ion-content>

<ion-footer no-border>
    <ion-row class="input-position" [ngClass]="{ 'custom-footer-row': phone_model=='iPhone X'}">
        <ion-col size="8">
            <ion-input class="input restrict" type="text" placeholder="Escriba su Mensaje" [(ngModel)]="mensaje">

                <ion-button *ngIf='!fototomada || !pdf.RutaPDFSeleccionada' fill="clear" shape="round" color="secondary" (click)="presentActionSheet()">
                    <ion-text color="primary">
                        <ion-icon class="enviaricono" src="assets/icons/plus.svg"></ion-icon>
                    </ion-text>
                </ion-button>
            </ion-input>
        </ion-col>
        <ion-col size='2'>

        </ion-col>
        <ion-col size="2">
            <ion-button shape="round" type="submit" size="large" strong="true" color="primary" (click)="enviar()">
                <ion-text color="light">
                    <ion-icon class="enviaricono" name="send"></ion-icon>
                </ion-text>
            </ion-button>
        </ion-col>
    </ion-row>
</ion-footer>