.tabbar {
    justify-content: center;
}

.tab-button {
    max-width: 200px;
}

#notification-button {
    position: relative;
    width: 42px;
    top: 1px;
    right: 1px;
    overflow: visible!important;
}

#notifications-badge {
    background-color: red;
    position: absolute;
    top: -3px;
    right: -3px;
    border-radius: 100%;
}

.iconoTab {
    font-size: 100px;
}