<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="find-people">
            <ion-icon class="iconoTab" src="assets/icons/home-outline.svg"></ion-icon>
            <ion-label class="tabajo"> <strong>{{'PAGES.TABS.INICIO' | translate}}</strong> </ion-label>
        </ion-tab-button>

        <ion-tab-button tab="speakers">
            <ion-badge (click)="cambiarPuntoT()" *ngIf="NotifTarjetero===true" id="notifications-badge" color="danger"></ion-badge>
            <ion-icon class="iconoTab" src="assets/icons/business-card.svg"></ion-icon>
            <ion-label class="tabajo"> <strong>{{'PAGES.TABS.TARJETERO' | translate}}</strong> </ion-label>
        </ion-tab-button>

        <!--   <ion-tab-button tab="schedule">
            <ion-icon src="assets/icons/news.svg"></ion-icon>
            <ion-label class="tabajo"> <strong>Clasificados</strong> </ion-label>
        </ion-tab-button> -->

        <ion-tab-button (click)="cambiarPunto()" tab="account">
            <ion-badge *ngIf="NotifPerfil===true" id="notifications-badge" color="danger"></ion-badge>
            <ion-icon class="iconoTab" src="assets/icons/user-outline.svg"></ion-icon>
            <ion-label class="tabajo"><strong>{{'PAGES.TABS.PERFIL' | translate}}</strong></ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>