ion-toolbar {
    background: linear-gradient(to right, rgb(102, 0, 204), rgb(146, 37, 255));
}

.puntoActivoac {
    position: absolute;
    right: 3px;
    bottom: 88px;
    height: 60px;
    width: 60px;
    border-radius: 36%;
    border: 4px solid #ffffff;
    background-color: rgba(102, 0, 204, 0.856);
    cursor: pointer;
    color: white;
}

.action-sheets-groups-page {
    .colorWhatsapp {
        icon-inner {
            color: red !important;
        }
        ion-icon {
            color: green !important;
        }
    }
}

.ion-icon {
    font-size: 35px;
}

.fotopac {
    text-align: center;
    padding: 0px 0px 7% 28%;
}

.perfilac {
    max-width: 180px;
    max-height: 180px;
    border: 5px solid #ffffff;
    border-radius: 50%;
}

.ion-avatarac {
    border-radius: 50%;
    background-color: #ffffff;
    height: 180px;
    width: 180px;
}

.ion-itemac {
    position: relative;
    height: 180px;
    width: 180px;
    text-align: center;
    padding: 35px 0px 0px 0px;
}

.nombre {
    padding-top: 2px;
}

.list-md.list-inset {
    border-radius: 17px;
    box-shadow: 0px 4px 11px #d4d4d4;
}

.list-ML {
    --ion-safe-area-top: 20px;
    --ion-safe-area-bottom: 22px;
}