<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{'PAGES.ACOUNT.TITLE' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
    <div padding-top text-center>

        <div text-center class="fotopac" *ngIf="fototomada==false">
            <div class="ion-itemac">
                <div class="ion-avatarac">

                    <img class="perfilac" [src]="URLavatar  + userData.datos.foto_perfil">
                    <div>
                        <button (click)="updatePicture()" class="puntoActivoac" id="notification-button">
                            <div class="ion-icon">
                                <ion-icon class="ion-icon" src="assets/icons/camera-outline.svg" color="light"></ion-icon>
                            </div>
                        </button>
                    </div>

                </div>
            </div>
        </div>

        <div text-center class="fotopac" *ngIf="fototomada==true">
            <div class="ion-itemac">
                <div class="ion-avatarac">

                    <img class="perfilac" src="{{fotografia}}">
                    <div>
                        <button (click)="updatePicture()" class="puntoActivoac" id="notification-button">
                            <div class="ion-icon">
                                <ion-icon class="ion-icon" src="assets/icons/camera-outline.svg" color="light"></ion-icon>
                            </div>
                        </button>
                    </div>

                </div>
            </div>
        </div>

        <!-- cambio de nombre -->
        <h2>
            {{userData.datos.Nombre | titlecase}}
            <ion-icon (click)="changeUsername()" color="secondary" src="assets/icons/pencil.svg" slot="icon-only"></ion-icon>
        </h2>


        <!-- solicitudes -->
        <ion-button (click)="verSolicitudes()" shape="round" fill="outline">Solicitudes nuevas</ion-button>
        <ion-badge *ngIf="this.registro.solicitudesPendientes.cantidad" color="danger">{{this.registro.solicitudesPendientes.cantidad}}</ion-badge>
        <!-- menu de carlos se comentarea por peticion de carlos -->
        <!-- <ion-list inset>
            <ion-item (click)="vermiCV()">
                <ion-icon slot="start" src="assets/icons/eye.svg"></ion-icon>
                Administrar mi CV
            </ion-item>
            <ion-item (click)="changePassword()">
                <ion-icon slot="start" src="assets/icons/key-outline.svg"></ion-icon>
                {{'PAGES.ACOUNT.CAMBIAR_CONTRASENA' | translate}}
            </ion-item>
            <ion-item>
                <ion-icon slot="start" src="assets/icons/device-phone.svg"></ion-icon>
                <ion-label>
                    Mi número de celular
                    <p>{{userData.datos.Telefono_Celular}}</p>
                </ion-label>
            </ion-item>
            <ion-item (click)="logout()">{{'PAGES.ACOUNT.CERRAR_SESION' | translate}}</ion-item>
        </ion-list>-->
    </div>

    <!-- Mauricio: aqui voy a poner el menu de perfil que realice  :M-->
    <!-- // VEMOS Y RECORREMOS LAS CATEGORIAS -->
    <ion-list inset>

        <ion-item-divider>
            <ion-label>Mi visibilidad</ion-label>
        </ion-item-divider>
        <ion-item text-wrap lines="none">
            <ion-grid>
                <ion-row>
                    <ion-col size="9">
                        Visibilidad en WAOCards
                    </ion-col>
                    <ion-col text-center size="3">
                        <ion-toggle [checked]="visibilidad" (ionChange)="actualizar_visibilidad($event)" color="success" value="vista"></ion-toggle>
                        <ion-label *ngIf="AppComponente.visible == true || userData.datos.visible == 1" text-center position="stacked" color="success">
                            VISIBLE
                        </ion-label>
                        <ion-label *ngIf="AppComponente.visible == false || userData.datos.visible == 0" text-center position="stacked" color="danger">
                            INVISIBLE
                        </ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>


    <ion-list inset *ngFor='let categoria of tipoCategoria'>

        <ion-item-divider>
            <ion-label>{{categoria}}</ion-label>
        </ion-item-divider>

        <!-- por componente realizamos un recorrido para  y la correspondencia con categorias  -->
        <!-- direccionamientoFunciones -->

        <div *ngFor="let component of componentesA ; index as i">
            <div *ngIf='categoria==component.categoria'>
                <ion-item text-wrap (click)='direccionamientoFunciones(component.cClick)' lines="none">

                    <ion-icon slot="start" src="{{component.icon}}"></ion-icon>
                    <div>
                        {{component.texto}} <br>
                        <ion-label *ngIf='component.infAdicional != ""'>
                            <p>{{component.infAdicional}}</p>
                        </ion-label>

                    </div>
                </ion-item>
            </div>
        </div>
    </ion-list>

    <!-- 
    <ion-list inset>

        <ion-item-divider>
            <ion-label>Mi código de referidos</ion-label>
        </ion-item-divider>
        <ion-item text-wrap lines="none">
            <ion-grid>
                <ion-row>
                    <ion-col size="6">
                        Código:
                    </ion-col>
                    <ion-col text-center size="6">
                        <h6>
                            <ion-text>
                                <strong>
                                    {{registro.referidos.mensaje}}
                                </strong>
                            </ion-text>
                        </h6>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list> -->



    <!-- fin MERCADOFREE -->




</ion-content>