<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/app/tabs/speakers"></ion-back-button>
        </ion-buttons>
        <ion-title>Curriculum Vitae: {{'PAGES.SPEAKER-DETAIL.TITLE' | translate}} </ion-title>
    </ion-toolbar>
</ion-header>


<ion-content color="light" class="speaker-detail">

    <!-- Deslizar para actualizar -->
    <div text-center *ngIf="speaker">
        <div *ngIf="completo ==='true'">
            <div class="spk-header" padding>
                <img [src]="URLavatar + DatosBasicos.foto_perfil" [alt]="dataProvider.cv.Nombre">
                <br>
                <h1 class="nombrepersona"> <strong>{{DatosBasicos.Nombre | uppercase}}</strong> </h1>
                <ion-text color="primary">
                    <h4> {{DatosBasicos.Cargo_Actual}} </h4>
                    <h4 *ngIf="DatosBasicos.Tipo_Ocupacion=='3'"> Empírico </h4>
                    <h4 *ngIf="DatosBasicos.Tipo_Ocupacion=='1'"> Profesional </h4>
                    <h4 *ngIf="DatosBasicos.Tipo_Ocupacion=='2'"> Técnico </h4>
                </ion-text>
                <div *ngIf="DatosBasicos.Tipo_Ocupacion=='3'">
                    <ion-button shape="round" (click)="cambioPaginaCalificaciones()"> Calificar </ion-button>
                </div>
                <!-- <star-rating value="5" checkedcolor="red" uncheckedcolor="black" size="24px" readonly="false" (rate)="onRate($event)">
                </star-rating> -->
                <div *ngIf="DatosBasicos.Tipo_Ocupacion=='3'">
                    <ionic4-star-rating *ngIf="Calificaciones.promedio!=0" #rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#6600cc" defaultColor="#666666" readonly="true" [rating]="Calificaciones.promedio" fontSize="17px" (ratingChanged)="logRatingChange($event)">
                    </ionic4-star-rating>

                </div>
                <!-- <h6>
                    <ion-text color="dark">
                        {{Calificaciones.promedio}}
                    </ion-text>
                </h6> -->

                <!-- boton de contactos  -->

                <ion-button shape="round" (click)="presentModal()">Contactos</ion-button>
                <!-- [identificacion]='speakerId' -->

                <!-- <img [src]="URLavatar + speaker.foto_perfil" [alt]="speaker.Nombre"> -->

                <!--  <ion-button *ngIf="DatosBasicos.Twitter!=undefined || DatosBasicos.Twitter!='' " fill="clear" size="small" color="github" href="https://www.twitter.com/{{dataProvider.cv.Twitter}}">
                    <ion-icon src="assets/icons/social-twitter.svg" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-button *ngIf="DatosBasicos.Github!=undefined" fill="clear" size="small" color="github" href="https://www.github.com/{{dataProvider.cv.Github}}">
                    <ion-icon name="logo-github" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-button *ngIf="DatosBasicos.Instagram!=undefined" fill="clear" size="small" color="instagram" href="https://www.instagram.com/{{dataProvider.cv.Instagram}}">
                    <ion-icon name="logo-instagram" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-button *ngIf="DatosBasicos.Linkedin!=undefined" fill="clear" size="small" color="github" href="https://www.linkedin.com/{{dataProvider.cv.Linkedin}}">
                    <ion-icon name="logo-linkedin" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-button *ngIf="DatosBasicos.WWW!=undefined" fill="clear" size="small" color="github" href="https://{{dataProvider.cv.WWW}}">
                    <ion-icon src="assets/icons/world.svg" slot="icon-only"></ion-icon>
            </ion-button> -->
            </div>
        </div>
        <div padding>
            <ion-refresher slot="fixed" (ionRefresh)="doRefrescar($event)">
                <ion-refresher-content pullingIcon="arrow-dropdown" [pullingText]="DesliceParaRecargar" [refreshingText]="ObteniendoSus">
                </ion-refresher-content>
            </ion-refresher>



            <ion-list lines="none">
                <ion-item>
                    <ion-label text-wrap>
                        <ion-text color="primary">
                            <h2> <strong>{{'PAGES.SPEAKER-DETAIL.DATOS_BASICOS' | translate}}</strong> </h2>
                        </ion-text>

                        <ion-text>
                            <p><b>{{'PAGES.SPEAKER-DETAIL.NACIMIENTO' | translate}}: </b>{{DatosBasicos.Fecha_Nacimiento}}</p>
                        </ion-text>
                        <ion-text>
                            <p><b>{{'PAGES.SPEAKER-DETAIL.ID' | translate}}: </b>{{DatosBasicos.Identificacion}}</p>
                        </ion-text>
                        <!-- <ion-text [hidden]="DatosBasicos.Direccion_Residencia == ''">
                            <p [hidden]="DatosBasicos.Direccion_Residencia == ''"><b>{{'PAGES.SPEAKER-DETAIL.DIRECCION' | translate}}: </b>{{DatosBasicos.Direccion_Residencia}}</p>
                        </ion-text>
                        <ion-text [hidden]="DatosBasicos.Ciudad_Residencia == ''">
                            <p [hidden]="DatosBasicos.Ciudad_Residencia == ''"><b>{{'PAGES.SPEAKER-DETAIL.CIUDAD' | translate}}: </b>{{DatosBasicos.Ciudad_Residencia}}</p>
                        </ion-text> -->
                        <ion-text>
                            <p><b>{{'PAGES.SPEAKER-DETAIL.TELEFONO' | translate}}: </b> {{DatosBasicos.Telefono_Celular}}</p>
                        </ion-text>
                        <ion-text>
                            <p><b>E-mail: </b>{{DatosBasicos.Email}}</p>
                        </ion-text>

                    </ion-label>
                </ion-item>
            </ion-list>

                <!-- mostrar campo de accion *ngIf='categorias!='-->
                
            <ion-list lines="none"  *ngIf="categoriasSeleccionadasUser.length != ''" >
                <!-- mostrar campo de accion -->

                <ion-item   >
                    <ion-label text-wrap>
                        <ion-text color="primary">
                            <h2> <strong>CAMPO DE ACCIÓN</strong> </h2>

                        </ion-text>

                        <div *ngFor="let subCategoriaIndividual of categorias; let i=index " class="containerA">
                            <div outline color="primary" *ngFor="let  itemIndividual of subCategoriaIndividual.elementos" class="bloque">

                                <ion-chip *ngIf="datosComprobarCategoriasUser.includes(itemIndividual.item)" 
                                    (click)="clickElementoChip(itemIndividual.item)" color="primary" >
                                    <ion-label>{{itemIndividual.nombre}}</ion-label>
                                </ion-chip>
                            </div>
                        </div>
                    </ion-label>
                </ion-item>
            </ion-list>

            <!-- fin campo de accion  -->
            <ion-list lines="none">
                <ion-item>
                    <ion-label text-wrap>
                        <ion-text color="primary">
                            <h2> <strong>{{'PAGES.SPEAKER-DETAIL.PERFIL' | translate}}</strong> </h2>
                        </ion-text>
                        <p>{{DatosBasicos.perfil}}</p>
                    </ion-label>
                </ion-item>
            </ion-list>

            <ion-list lines="none">
                <ion-item *ngIf="Educacion.length!=0">
                    <ion-label text-wrap>
                        <ion-text color="primary">
                            <h2> <strong>{{'PAGES.SPEAKER-DETAIL.EDUCACION' | translate}}</strong> </h2>
                        </ion-text>
                        <div *ngFor="let educacion of Educacion">
                            <ion-card class="alturatarjeta">
                                <ion-card-header>
                                    <h6> {{'PAGES.SPEAKER-DETAIL.DE' | translate}} {{educacion.Fecha_Inicio}} {{'PAGES.SPEAKER-DETAIL.HASTA' | translate}} {{educacion.Fecha_Fin}}</h6>
                                    <h1 color="primary">
                                        <ion-icon name="school" slot="start"></ion-icon>
                                        <strong> {{educacion.Titulo_Obtenido}}</strong>
                                    </h1>
                                    <h5> {{'PAGES.SPEAKER-DETAIL.EN' | translate}}: <strong>{{educacion.Institucion_Educativa}}</strong></h5>
                                </ion-card-header>

                                <ion-card-content>
                                    <ion-button shape="round" fill="outline" slot="end">
                                        <ion-icon name="cloud-download" slot="start"></ion-icon>{{'PAGES.SPEAKER-DETAIL.VER_CERTIFICADO_BTN' | translate}}</ion-button>
                                </ion-card-content>
                            </ion-card>
                        </div>
                    </ion-label>
                </ion-item>

            </ion-list>

            <ion-list lines="none">
                <ion-item *ngIf="DatosBasicos.Ha_Trabajado=='1' && Experiencias.length!=0">
                    <ion-label text-wrap>
                        <ion-text color="primary">
                            <h2> <strong>{{'PAGES.SPEAKER-DETAIL.EXPERIENCIA_LABORAL' | translate}}</strong> </h2>
                        </ion-text>
                        <ion-list>
                            <ion-item padding *ngFor="let expe of Experiencias ">
                                <ion-icon name="business" slot="start" color="primary"></ion-icon>
                                <label>
                                    <h2>
                                        <ion-text><strong>{{expe.Cargo | titlecase}}</strong></ion-text>
                                    </h2>
                                    <h3>{{expe.Empresa}}</h3>
                                    <p>{{expe.Fecha_Inicio}} - {{expe.Fecha_Fin}}</p>
                                    <div >
                                     <p>{{expe.Funciones_Cargo}}</p>
                                    </div>
                                </label>
                            </ion-item>
                        </ion-list>
                    </ion-label>
                </ion-item>
            </ion-list>

            <ion-list lines="none">
                <ion-item *ngIf="Habilidades.length!=0">
                    <ion-label text-wrap>
                        <ion-text color="primary">
                            <h2> <strong>IDIOMAS</strong> </h2>
                        </ion-text>
                        <ion-list>
                            <ion-item padding *ngFor="let hab of Habilidades ">
                                <ion-icon src="assets/icons/flash.svg" slot="start" color="primary"></ion-icon>
                                <label>
                                    <h2>
                                        <ion-text><strong>{{hab.Aptitud | titlecase}}</strong></ion-text>
                                    </h2>
                                    <div>
                                        <p>{{hab.Descripcion}}</p>
                                    </div>
                                </label>
                            </ion-item>
                        </ion-list>
                    </ion-label>
                </ion-item>

            </ion-list>


            <ion-list lines="none">
                <ion-item *ngIf="Calificaciones.mensaje!='Nungun'">

                    <ion-label text-wrap>
                        <ion-text color="primary">
                            <h2> <strong>COMENTARIOS</strong> </h2>
                        </ion-text>
                        <ion-item padding *ngFor="let ref of Calificaciones.mensaje ">
                            <ion-icon name="person" slot="start" color="primary"></ion-icon>
                            <label>
                                        <h6>
                                            <ion-text color="primary"><strong>Usuario registrado</strong></ion-text>
                                        </h6>
                                        <h6>
                                            <ion-text>{{ref.Comentario}}</ion-text>
                                        </h6>
                                        <div>
                                            <ionic4-star-rating #rating activeIcon="ios-star" defaultIcon="ios-star-outline"
                                                activeColor="#6600cc" defaultColor="#666666" readonly="true" [rating]="ref.Calificacion" fontSize="17px"
                                                (ratingChanged)="logRatingChange($event)">
                                            </ionic4-star-rating>
                                            <p>{{ref.Calificacion}}/5 estrellas</p>
                                            
                                        </div>
                        
                                    </label>
                        </ion-item>
                    </ion-label>


                </ion-item>


            </ion-list>
        </div>

        <div *ngIf="completo==='false'">
            <div text-center>
                <img src="../../../assets/img/profile-loading.png" alt="Nombre">
                <br>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                <ion-text color="secondary">
                    <h4>{{'PAGES.SPEAKER-DETAIL.CARGANDO_PERFIL' | translate}}</h4>
                </ion-text>
                <ion-button fill="clear" size="small" color="secondary">
                    <ion-icon name="logo-twitter" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-button fill="clear" size="small" color="secondary">
                    <ion-icon name="logo-github" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-button fill="clear" size="small" color="secondary">
                    <ion-icon name="logo-instagram" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-button fill="clear" size="small" color="secondary">
                    <ion-icon name="logo-linkedin" slot="icon-only"></ion-icon>
                </ion-button>
            </div>

            <div text-center>
                <ion-skeleton-text animated style="width: 1%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                <ion-skeleton-text animated></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </div>

        </div>

        <div text-center *ngIf="completo==='error'">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <ion-grid>
                                        <ion-row>
                                            <ion-col>
                                                <img class="perfilError" src="../../../assets/img/404.png" alt="no cargo la pagina">
                                                <ion-text color="primary">
                                                    <h1> <strong> {{'PAGES.SPEAKER-DETAIL.NO_ES_POSIBLE' | translate}}</strong></h1>
                                                </ion-text>
                                                <p>{{'PAGES.SPEAKER-DETAIL.POR_FAVOR_REVISE' | translate}}</p>
                                                <h5> <strong> {{'PAGES.SPEAKER-DETAIL.PARA_RECARGAR' | translate}}</strong></h5>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>