ion-toolbar {
    background: linear-gradient(to right, rgb(102, 0, 204), rgb(146, 37, 255));
}

.speaker-detail img {
    max-width: 53%;
    border: 5px solid #ffffff;
    border-radius: 50%;
}

.perfilError {
    border-radius: 0%;
}

.speaker-detail p {
    color: #60646b;
}

.spk-header {
    width: 100%;
    text-align: center;
}

ion-refresher {
    background-color: rgb(241, 242, 244);
}

ionic4-star-rating {
    padding-top: 5px;
}

.containerA{
        text-align:left;
        display:inline;
    }
    .bloque
    {
        display:inline;
    }
.list-md {
    padding: 5%;
    margin: 6% 1%;
    border-radius: 17px;
    box-shadow: 0px 4px 11px #d4d4d4;
}

.list-ios {
    padding: 5%;
    margin: 6% 1%;
    border-radius: 17px;
    box-shadow: 0px 4px 11px #d4d4d4;
}

ion-item {
    width: 100%;
}

.nombrepersona {
    padding-left: 2%;
    padding-right: 2%;
}

.alturatarjeta {
    border-radius: 17px;
    background-color: #ffffff;
    border-color: #ffffff;
    box-shadow: 0px 1px 11px #d4d4d4;
}
