ion-toolbar {
    background: linear-gradient(to right, rgb(102, 0, 204), rgb(146, 37, 255));
}

.scroll {
    background: #ede3fa;
}

.ceroContactosimg {
    font-size: 300px;
}

.speaker-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 17px 17px;
    box-shadow: none;
    background-color: #ffffff;
    --ion-background-color: #ffffff;
    box-shadow: 0px 4px 11px #d4d4d4;
    border-color: #ffffff;
}

.botonRechazar {
    padding-top: 10px;
}

.fondo-verde {
    background-color: #dff5e4;
    --ion-background-color: #dff5e4;
}

.speaker-card ion-card-header {
    padding: 0;
}

.speaker-card ion-card-header .item {
    padding: 4px 16px;
}

.speaker-card ion-card-content {
    flex: 1 1 auto;
    padding: 0;
}

.outer-content {
    --ion-background-color: #f1f2f4
}


/* .perfil {
    filter: blur(0px);
} */

ion-refresher {
    background-color: rgb(241, 242, 244);
}

#notifications-badge {
    background-color: #f25454;
    position: absolute;
    top: 4px;
    right: 27px;
    border-radius: 100%;
    height: 13px;
}

#margen {
    margin-bottom: -19px;
}