<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{'PAGES.SPEAKER-LIST.TITLE' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
    <ion-segment [(ngModel)]="segment" (ionChange)="actualizarSegment()">

        <ion-segment-button value="contactos">
            <h6>Contactos</h6>
        </ion-segment-button>
        <ion-segment-button value="repartidas">
            <!-- <ion-badge id="notifications-badge" color="danger">
                <ion-text color="danger">.</ion-text>
            </ion-badge> -->
            <h6>Repartidas</h6>
        </ion-segment-button>
    </ion-segment>

    <!-- Deslizar para actualizar -->
    <ion-refresher slot="fixed" (ionRefresh)="doRefrescar($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" [pullingText]="DesliceParaRecargar" [refreshingText]="ObteniendoSus">

        </ion-refresher-content>
    </ion-refresher>

    <div *ngIf="completo === 'true' && !repartidas">

        <!-- <ion-card>
                    <ion-item>
                      <ion-icon src="assets/icons/user-add.svg" slot="start"></ion-icon>
                      <ion-label>Nuevos contactos</ion-label> 
                      
                      <ion-button (click)="abrirContactos()" fill="outline" slot="end">Importar</ion-button>
                    </ion-item>
                    <ion-card-content>
                            Encuentre contactos desde la libreta del dispositivo
                  </ion-card-content>
                  </ion-card> -->

        <ion-list>
            <ion-grid fixed>
                <ion-row align-items-stretch>
                    <ion-col size="12" size-md="6" *ngFor="let speaker of speakers">
                        <ion-card class="speaker-card" detail="false" lines="none">
                            <ion-card-header routerLink="/app/tabs/speakers/speaker-details/{{speaker.Identificacion}}">
                                <!--<ion-item>-->
                                <ion-list>
                                    <ion-grid>
                                        <ion-row>
                                            <ion-col size="1 "></ion-col>
                                            <ion-col size="3">
                                                <ion-avatar>
                                                    <img [src]="URLavatar + speaker.foto_perfil" alt="Speaker profile pic">
                                                </ion-avatar>
                                            </ion-col>

                                            <ion-col size="8">
                                                <h5 id="margen">
                                                    <ion-text>
                                                        <strong>
                                                            {{speaker.Nombre | titlecase}}
                                                        </strong>
                                                    </ion-text>
                                                </h5>

                                                <h6>
                                                    <ion-label color="primary" position="stacked">
                                                        {{speaker.ubicacion}}
                                                    </ion-label>
                                                </h6>

                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                    <!--</ion-item>-->
                                </ion-list>
                            </ion-card-header>

                            <ion-card-content>
                                <ion-list>
                                    <!--<ion-item *ngFor="let session of speaker.sessions" routerLink="/app/tabs/speakers/session/{{session.id}}">
                                        <h3>{{session.name}}</h3>
                                    </ion-item> -->
                                    <ion-item routerLink="/app/tabs/speakers/speaker-details/{{speaker.Identificacion}}">
                                        <ion-item>
                                            <h3><b>{{'PAGES.SPEAKER-LIST.CARGO/PROFESION' | translate}}:</b> {{speaker.Cargo_Actual}}</h3>
                                        </ion-item>
                                        <ion-item (click)="'tel:' + speaker.Telefono_Celular">
                                            <h3><b>{{'PAGES.SPEAKER-LIST.TELEFONO' | translate}}:</b> +57{{speaker.Telefono_Celular}}</h3>
                                        </ion-item>
                                    </ion-item>
                                </ion-list>
                            </ion-card-content>

                            <ion-row no-padding justify-content-center>
                                <ion-col text-left size="4">
                                    <ion-button fill="clear" size="small" color="primary" (click)="openChat(speaker.Nombre, speaker.Identificacion, speaker.foto_perfil)">
                                        <ion-icon src="assets/icons/messages.svg" slot="end"></ion-icon>
                                        Chat
                                    </ion-button>
                                </ion-col>

                                <ion-col text-right size="4">
                                    <ion-button fill="clear" size="small" color="primary" routerLink="/app/tabs/speakers/speaker-details/{{speaker.Identificacion}}">
                                        <ion-icon src="assets/icons/document-text.svg" slot="start"></ion-icon>
                                        <strong>{{'PAGES.SPEAKER-LIST.ABRIR_CV' | translate}}</strong>
                                    </ion-button>
                                </ion-col>
                                <!--<ion-col slot='end'>
                                    <ion-button fill="clear" size="small" color="primary" routerLink="/app/tabs/speakers/speaker-details/{{speaker.Identificacion}}">
                                        <ion-icon name="chatbubbles" slot="start"></ion-icon>
                                        <strong>{{'PAGES.SPEAKER-LIST.ABRIR_CV' | translate}}</strong>
                                    </ion-button>
                                </ion-col>-->
                            </ion-row>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>
    </div>

    <div *ngIf="completo === 'true' && repartidas" [hidden]="registro.NuevasTarjetasRepartidas.nuevasTarjetas == undefined">

        <!-- <ion-card>
                        <ion-item>
                          <ion-icon src="assets/icons/user-add.svg" slot="start"></ion-icon>
                          <ion-label>Nuevos contactos</ion-label> 
                          
                          <ion-button (click)="abrirContactos()" fill="outline" slot="end">Importar</ion-button>
                        </ion-item>
                        <ion-card-content>
                                Encuentre contactos desde la libreta del dispositivo
                      </ion-card-content>
                      </ion-card> -->



        <div class="fondo-verde" *ngIf="registro.NuevasTarjetasRepartidas.nuevasTarjetas!='0'" padding text-center>
            <h6 padding text-center>
                <ion-text text-center color="success">
                    - Nuevas tarjetas recibidas -
                </ion-text>
            </h6>

            <ion-list>
                <ion-grid fixed>
                    <ion-row align-items-stretch>


                        <ion-col size="12" size-md="6" *ngFor="let speaker of registro.NuevasTarjetasRepartidas.nuevasTarjetas">
                            <ion-card class="speaker-card">
                                <ion-card-header>
                                    <ion-item detail="false" lines="none" routerLink="/app/tabs/speakers/speaker-details/{{speaker.Identificacion}}">
                                        <ion-avatar slot="start">
                                            <img [src]="URLavatar + speaker.foto_perfil" alt="Speaker profile pic">
                                        </ion-avatar>
                                        <strong>{{speaker.Nombre | titlecase}}</strong>
                                    </ion-item>
                                </ion-card-header>

                                <ion-card-content>
                                    <ion-list>
                                        <!--<ion-item *ngFor="let session of speaker.sessions" routerLink="/app/tabs/speakers/session/{{session.id}}">
                                            <h3>{{session.name}}</h3>
                                        </ion-item> -->
                                        <ion-item>
                                            <ion-item>
                                                <h3><b>{{'PAGES.SPEAKER-LIST.CARGO/PROFESION' | translate}}:</b> {{speaker.Cargo_Actual}}
                                                </h3>
                                            </ion-item>
                                            <!-- 
                                        <ion-item (click)="'tel:' + speaker.Telefono_Celular">
                                            <h3><b>{{'PAGES.SPEAKER-LIST.TELEFONO' | translate}}:</b>
                                                +57{{speaker.Telefono_Celular}}</h3>
                                        </ion-item> -->
                                        </ion-item>
                                    </ion-list>
                                </ion-card-content>

                                <ion-row no-padding justify-content-center>
                                    <ion-col text-left size="8">
                                        <ion-button (click)="registro.aceptarRechazarRepartidos(valor.identificacion, speaker.Identificacion, '1')" shape="round" size="large" expand="full" color="success">
                                            <ion-icon src="assets/icons/input-checked.svg" slot="start"></ion-icon>
                                            <strong>Aceptar tarjeta</strong>
                                        </ion-button>
                                    </ion-col>

                                    <ion-col text-left size="4">
                                        <ion-button (click)="registro.aceptarRechazarRepartidos(valor.identificacion, speaker.Identificacion, '0')" class="botonRechazar" fill="clear" size="small" color="secondary">
                                            Rechazar
                                        </ion-button>
                                    </ion-col>
                                    <!--<ion-col slot='end'>
                                        <ion-button fill="clear" size="small" color="primary" routerLink="/app/tabs/speakers/speaker-details/{{speaker.Identificacion}}">
                                            <ion-icon name="chatbubbles" slot="start"></ion-icon>
                                            <strong>{{'PAGES.SPEAKER-LIST.ABRIR_CV' | translate}}</strong>
                                        </ion-button>
                                    </ion-col>-->
                                </ion-row>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-list>
        </div>



        <div text-center>


            <ion-list>
                <ion-grid fixed>
                    <ion-row align-items-stretch>


                        <ion-col size="12" size-md="6" *ngFor="let speaker of registro.MisTarjetasRecibidas.Tarjetas">
                            <ion-card class="speaker-card">
                                <ion-card-header>
                                    <ion-item detail="false" lines="none" routerLink="/app/tabs/speakers/speaker-details/{{speaker.Identificacion}}">
                                        <ion-avatar slot="start">
                                            <img [src]="URLavatar + speaker.foto_perfil" alt="Speaker profile pic">
                                        </ion-avatar>
                                        <strong>{{speaker.Nombre | titlecase}}</strong>
                                    </ion-item>
                                </ion-card-header>

                                <ion-card-content>
                                    <ion-list>
                                        <!--<ion-item *ngFor="let session of speaker.sessions" routerLink="/app/tabs/speakers/session/{{session.id}}">
                                                            <h3>{{session.name}}</h3>
                                                        </ion-item> -->
                                        <ion-item routerLink="/app/tabs/speakers/speaker-details/{{speaker.Identificacion}}">
                                            <ion-item>
                                                <h3><b>{{'PAGES.SPEAKER-LIST.CARGO/PROFESION' | translate}}:</b> {{speaker.Cargo_Actual}}
                                                </h3>
                                            </ion-item>
                                            <!-- 
                                                        <ion-item (click)="'tel:' + speaker.Telefono_Celular">
                                                            <h3><b>{{'PAGES.SPEAKER-LIST.TELEFONO' | translate}}:</b>
                                                                +57{{speaker.Telefono_Celular}}</h3>
                                                        </ion-item> -->
                                        </ion-item>
                                    </ion-list>
                                </ion-card-content>

                                <ion-row no-padding justify-content-center>
                                    <ion-col text-left size="4">
                                        <ion-button fill="clear" size="small" color="primary" (click)="openChat(speaker.Nombre, speaker.Identificacion, speaker.foto_perfil)">
                                            <ion-icon src="assets/icons/messages.svg" slot="end"></ion-icon>
                                            Chat
                                        </ion-button>
                                    </ion-col>

                                    <ion-col text-right size="4">
                                        <ion-button fill="clear" size="small" color="primary" routerLink="/app/tabs/speakers/speaker-details/{{speaker.Identificacion}}">
                                            <ion-icon src="assets/icons/document-text.svg" slot="start"></ion-icon>
                                            <strong>{{'PAGES.SPEAKER-LIST.ABRIR_CV' | translate}}</strong>
                                        </ion-button>
                                    </ion-col>
                                </ion-row>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-list>
        </div>
    </div>



    <!--Si aun no se ha cargado-->

    <div *ngIf="completo === 'false'">
        <ion-list>
            <ion-grid fixed>
                <ion-row align-items-stretch>
                    <ion-col size="12" size-md="6" *ngFor="let speaker of contreferencias">
                        <ion-card class="speaker-card">
                            <ion-card-header>
                                <ion-item detail="false" lines="none">
                                    <ion-avatar slot="start">
                                        <img src="../../../assets/img/profile-loading.png" alt="Speaker profile pic">
                                    </ion-avatar>
                                    <ion-skeleton-text animated style="width: 99%"></ion-skeleton-text>
                                </ion-item>
                            </ion-card-header>

                            <ion-card-content>
                                <div text-center class="ion-padding custom-skeleton">
                                    <ion-row>
                                        <ion-col size="6">
                                            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                                            <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
                                        </ion-col>
                                        <ion-col>
                                            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                                            <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
                                        </ion-col>
                                    </ion-row>
                                </div>
                            </ion-card-content>

                            <ion-row no-padding justify-content-center>
                                <!-- <ion-col text-left size="4">
                                        <ion-button fill="clear" size="small" color="primary" (click)="openContact(speaker)">
                                            <ion-icon name="chatbubbles" slot="start"></ion-icon>
                                            Chat
                                        </ion-button>
                                    </ion-col> -->

                                <ion-col text-center size="8">
                                    <ion-button fill="clear" size="small" color="primary">
                                        <ion-icon name="today" color="secondary" slot="start"></ion-icon>
                                        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>
    </div>









    <!-- Se muestra si no hay conexion con el servidor -->
    <div text-center *ngIf="completo === 'error'">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-grid>
                                    <ion-row>
                                        <ion-col>
                                            <ion-icon class="ceroContactosimg" src="assets/img/No-Conexion-icono.svg"></ion-icon>
                                            <p>{{'PAGES.SPEAKER-LIST.POR_FAVOR_REVISE' | translate}}</p>
                                            <h5> <strong> {{'PAGES.SPEAKER-LIST.PARA_RECARGAR' | translate}}</strong></h5>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

    <!-- Se muestra si no hay conexion con el servidor -->
    <div text-center *ngIf="completo === 'zero'">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-grid>
                                    <ion-row>
                                        <ion-col>
                                            <ion-icon class="ceroContactosimg" src="assets/img/No-personas-tarjetero.svg"></ion-icon>
                                            <h1>
                                                <ion-text color="primary"><strong>¡Vaya! No tiene ningún contacto</strong></ion-text>
                                            </h1>
                                            <h5> <strong> Agregue contactos en en la sección de Encontrar... ó:</strong></h5>
                                            <ion-button color="primary">
                                                <ion-text color="light">Importar contactos del dispositivo</ion-text>
                                            </ion-button>
                                        </ion-col>
                                    </ion-row>
                                </ion-grid>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>