<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>WAOCards</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
    <ion-avatar cache-view="false">
        <img class="imagenAvatar" [src]="URLavatar + userData.datos.foto_perfil" alt="userData.datos.Nombre">
    </ion-avatar>
    <div text-center>
        <ion-list text-center class="tarjetitaInicial" inset>
            <ion-item lines="none">
                <div text-center class="internoTarjeta">
                    <h6>
                        <ion-label>
                            Inició sesión como:
                        </ion-label>
                    </h6>
                    <h5>
                        <ion-text>
                            <strong>
                                {{userData.datos.Nombre | titlecase}}
                            </strong>
                        </ion-text>
                    </h5>
                    <h6>
                        <ion-label color="primary" position="stacked">
                            Usuario
                        </ion-label>
                    </h6>

                </div>
            </ion-item>
        </ion-list>
    </div>


    <div>
        <ion-list inset>
            <ion-grid>
                <ion-row>
                    <ion-col size="10">
                        <h6 class="tituloSeccion">
                            <ion-label color="primary"> <strong>{{'PAGES.FIND-PEOPLE.ENCONTRAR_NUEVOS' | translate}}</strong></ion-label>
                        </h6>
                    </ion-col>
                    <ion-col size="2">
                        <ion-spinner *ngIf="ubicacion.activarGPS == false" color="primary"></ion-spinner>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div text-center>
                <img src="../../../assets/img/ICONO-7.gif" alt="buscar" class="buscarImg">
            </div>

            <div text-center *ngIf="ubicacion.activarGPS == true">
                <h5>{{'PAGES.FIND-PEOPLE.SELECCIONE_LA_OP' | translate}}</h5>
            </div>
            <div text-center *ngIf="ubicacion.activarGPS == false">
                <h5>{{'PAGES.FIND-PEOPLE.SE_ESTA_OBTENIEN' | translate}}...</h5>
                <h6><b>
          <ion-label color="primary">{{'PAGES.FIND-PEOPLE.SI_NO_APARECE_LU' | translate}}</ion-label>
        </b></h6>
                <ion-button shape="round" (click)="ubicacion.iniciarGeubicacion()" color="primary">
                    <ion-text color="light">{{'PAGES.FIND-PEOPLE.VOLVER_A_INT_BTN' | translate}}</ion-text>
                </ion-button>
            </div>

            <ion-item text-center *ngIf="ubicacion.activarGPS == true" lines="none">
                <ion-grid text-center>
                    <ion-row>
                        <ion-col text-center (click)="agitar()" size="4">
                            <ion-icon color="primary" src="assets/icons/puzzle-outline.svg"></ion-icon>
                            <ion-text><strong>{{'PAGES.FIND-PEOPLE.AGITAR_PARA_CONT' | translate}}</strong></ion-text>
                        </ion-col>
                        <ion-col text-center (click)="manual()" size="4">
                            <ion-icon color="primary" src="assets/icons/sort-alphabetically.svg"></ion-icon>
                            <ion-text><strong>{{'PAGES.FIND-PEOPLE.BUSCAR_POR_PALAB' | translate}}</strong></ion-text>
                        </ion-col>
                        <ion-col text-center (click)="compartirTarjeta()" size="4">
                            <ion-icon color="primary" name="share"></ion-icon>
                            <ion-text><strong>Compartir mi tarjeta</strong></ion-text>
                        </ion-col>
                        <!--
                        <ion-col text-center (click)="abrirContactos()" size="4">
                            <ion-icon color="primary" src="assets/icons/user-add.svg"></ion-icon>
                            <ion-text><strong>Libreta de contactos</strong></ion-text>
                        </ion-col>
                        -->
                        <!-- 
                        <ion-col text-center (click)="mapa()" size="4">
                            <ion-icon color="primary" src="assets/icons/map.svg"></ion-icon>
                            <ion-text><strong>{{'PAGES.FIND-PEOPLE.MOSTRAR_EL_MAPA' | translate}}</strong></ion-text>
                        </ion-col> -->
                    </ion-row>

                </ion-grid>
            </ion-item>
            <!--   <div text-center full *ngIf="ubicacion.activarGPS == true">
                <h6> {{'PAGES.FIND-PEOPLE.LATITUD' | translate}}:
                    <ion-text color="primary">{{ubicacion.latitud}}</ion-text>, {{'PAGES.FIND-PEOPLE.LONGITUD' | translate}}:
                    <ion-text color="primary">{{ubicacion.longitud}}</ion-text>
                   , {{'PAGES.FIND-PEOPLE.PRECISION' | translate}}:
                            <ion-text color="primary">{{ubicacion.precision}}</ion-text> m 
                </h6>
            </div> -->
        </ion-list>
    </div>

    <!-- <div #mapCanvas class="map-canvas"></div> -->
</ion-content>