ion-toolbar {
    background: linear-gradient(to right, rgb(102, 0, 204), rgb(146, 37, 255));
}

.list-md.list-inset {
    border-radius: 17px;
    box-shadow: 0px 4px 11px #d4d4d4;
}

.buscarImg {
    margin-top: 0px;
    max-height: 250px;
}

ion-icon {
    font-size: 60px;
}

img {
    margin-top: 35%;
}

.imagenAvatar {
    position: absolute;
    left: 40%;
    top: 5%;
    height: 90px;
    width: 90px;
    z-index: 255;
    box-shadow: 0px -8px 16px #d4d4d4;
    margin-top: 0%;
    border: white solid 3px;
}

.internoTarjeta {
    padding-top: 9%;
}

.tarjetitaInicial {
    border-radius: 17px;
    box-shadow: 0px 4px 11px #d4d4d4;
    width: 84%;
    margin-left: auto;
    margin-right: auto;
}

.tituloSeccion {
    margin-left: 25px;
}