<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/app/tabs/speakers"></ion-back-button>
        </ion-buttons>
        <ion-title>Importar la libreta de contactos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="light" padding>
    <h1 text-center>
        <ion-text color="primary"><strong>Contactos recuperados</strong></ion-text>
    </h1>

    <ion-list *ngIf="cargaCompleta===true">
        <ion-item *ngFor="let contacto of registro.ContactosenWAOCards.contactos" [hidden]="contacto.foto_perfil==null" (click)="verPerfil(contacto.Identificacion)">
            <img slot="start" [src]="avatar + contacto.foto_perfil" *ngIf="contacto.foto_perfil!==null" [hidden]="contacto.foto_perfil==null" class="fotoEncontrados">
            <ion-label>
                <h3 *ngIf="contacto.Nombre!==null">
                    <ion-text><strong>{{contacto.Nombre}}</strong></ion-text>
                </h3>
                <p *ngIf="contacto.Profesion!==null"> Profesión: {{contacto.Profesion}}</p>
                <p *ngIf="contacto.Telefono_Celular!==null"> Número: {{contacto.Telefono_Celular}}</p>
            </ion-label>

        </ion-item>
    </ion-list>
</ion-content>