<!--<ion-header>
  <ion-toolbar>
    <ion-title>Confirmación</ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content color="light">
    <div *ngIf="carga_completa==true">
        <div class="signup-logo">
            <img src="assets/img/WAOlogin.png" width="128px" height="128px" alt="WAOCardsLogo">
        </div>

        <div class="todo" padding>
            <form #signupForm="ngForm" novalidate>

                <p class="p_inicio" text-justify>
                    <ion-text color="primary">Ingrese el código de 6 dígitos recibido</ion-text>
                </p>
                <!--CAJA PARA CÓDIGO DE VERIFICACIÓN-->
                <!-- <ion-label text-center color="primary">Código: <strong>{{usr.PIN}}</strong> </ion-label> -->
                <ion-list class="campo" lines="none">
                    <ion-item text center>
                        <ion-input class="campppin" text-center maxlength="6" minlength="6" color="dark" [(ngModel)]="signup.password" name="pin" type="password" #password="ngModel" (keypress)="soloNumero($event)" required>
                        </ion-input>
                    </ion-item>
                    <ion-chip slot="end" [hidden]="password.valid || submitted == false" color="danger">
                        <ion-icon src="assets/icons/warning.svg" color="danger"></ion-icon>
                        <ion-label color="danger"></ion-label>
                    </ion-chip>
                </ion-list>
                <div text-center>
                    <ion-chip slot="end" *ngIf="registro.PINLlegado.mensaje=='PIN Incorrecto'" color="danger">
                        <ion-icon src="assets/icons/warning.svg" color="danger"></ion-icon>
                        <ion-label color="danger">PIN no válido</ion-label>
                    </ion-chip>
                </div>

                <ion-button (click)="onFollowingSignup(signupForm)" size="large" color="primary" expand="full" shape="round">Continuar
                </ion-button>

            </form>

        </div>

    </div>
    <div text-center *ngIf="carga_completa == false || carga_completa == null">
        <div class="cargando" padding>
            <ion-text color="primary">
                <h1 class="p_inicio"> <strong> Cargando...</strong></h1>
            </ion-text>
            <ion-spinner color="primary" name="dots">

            </ion-spinner>
            <!-- <img src="../../../assets/img/1amw.gif" alt="loading"> -->

        </div>
    </div>
</ion-content>