.signup-logo {
    padding-top: 10%;
    min-height: 80px;
    text-align: center;
}

.signup-logo img {
    max-width: 150px;
}

.list {
    margin-bottom: 0;
}

.lock-icon {
    text-align: center;
    font-size: 100px
}

p {
    text-align: center;
    padding: 15px;
    --ion-color: white
}

.fondo {
    --ion-background: linear-gradient(to right, rgb(102, 0, 204), rgb(147, 42, 253));
}

.campppin {
    font-size: 45px;
}

.todo {
    padding: 3% 14% 3% 14%;
}

.campo {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 0;
    margin-bottom: 8%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    background: var(--ion-item-background, var(--ion-background-color, rgba(255, 255, 255, 0.089)));
    border-radius: 8px;
    border: rgba(189, 189, 189, 0.322) 1.6px solid;
}

ion-spinner {
    width: 220px !important;
    height: 430px !important;
}

.cargando {
    padding-top: 30%
}

ion-item {
    --background: #3881ff00;
    --color: #fff;
}