<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="dismiss()">
                <ion-icon color="light" src="assets/icons/delete-outline.svg"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title *ngIf="pauta === 'Clasificado'">
            Nuevo clasificado
        </ion-title>

        <ion-title *ngIf="pauta === 'Feria_Evento'">
            Nueva Feria o Evento
        </ion-title>

        <ion-buttons slot="end">
            <ion-button (click)="applyFilters(pauta)" strong>
                <ion-icon color="light" src="assets/icons/tick.svg"></ion-icon>
                Ok
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<!---------------------------------------------------------- VISTA PARA PAUTAR UN CLASIFICADO --------------------------------------------------------------------------->
<ion-content>
    <div *ngIf="pauta === 'Clasificado'" class="outer-content">
        <ion-grid>
            <ion-row>
                <ion-col (click)='GaleriaImagen()' size="12" class="ion-col3">
                    <div *ngIf="fototomada==false" text center padding>
                        <ion-icon class="lock-icon" color="light" src="assets/icons/image.svg"></ion-icon>
                        <ion-text color="light">Haga click para subir imagen</ion-text>
                    </div>
                    <div *ngIf="fototomada==true">
                        <img src="{{fotografia}}" alt="seleccionar perfil">
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        <form #signupForm="ngForm" novalidate>
            <ion-list padding>
                <ion-item>
                    <ion-label position="stacked" color="primary">ID del clasificado:</ion-label> <strong> {{IDClasificado}}</strong>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked" color="primary">Título del clasificado</ion-label>
                    <ion-input [(ngModel)]="clasi.Titulo" type="text" name="Título del clasificado" placeholder="No mayor a 50 caracteres"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked" color="primary">Descripción</ion-label>
                    <ion-textarea [(ngModel)]="clasi.Descripcion" type="text" name="Descropcion" placeholder="Incluya información resumida de lo que se desea ofertar..."></ion-textarea>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked" color="primary">Contacto</ion-label>
                    <ion-input [(ngModel)]="clasi.Contacto" type="number" name="Telefono_Contacto" placeholder="Número de contacto"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked" color="primary">Categoría</ion-label>
                    <ion-select [(ngModel)]="clasi.PalabrasClave" name="Categoria" placeholder="Elija una Categoría">
                        <ion-select-option value="Afin">Afín</ion-select-option>
                        <ion-select-option value="General">General</ion-select-option>
                        <ion-select-option value="Trabajo">Empleos</ion-select-option>
                        <ion-select-option value="Comidas">Comidas</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked" color="primary">Tamaño del clasificado</ion-label>
                    <ion-select [(ngModel)]="clasi.Tipo" name="Tipo" placeholder="Elija un tamaño">
                        <ion-select-option value="Pequeño">Normal 1x1</ion-select-option>
                        <ion-select-option value="Grande2">($) Grande 2x2 </ion-select-option>
                        <ion-select-option value="LargoV">($) Vertical 2x1</ion-select-option>
                        <ion-select-option value="ExtralargoH">($$) Horizontal 1x3</ion-select-option>
                        <ion-select-option value="GrandeXL">($$$) Extra-Grande 3x3</ion-select-option>
                        <ion-select-option value="LargoH">($) Horizontal 1x2</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
        </form>
    </div>




    <!---------------------------------------------------------- VISTA PARA PAUTAR UNA FERIA O EVENTO --------------------------------------------------------------------------->
    <div *ngIf="pauta === 'Feria_Evento'" class="outer-content">
        <ion-chip slot="end" [hidden]="(validFoto)" color="danger">
            <ion-icon src="assets/icons/warning.svg" color="danger"></ion-icon>
        </ion-chip>
        <ion-grid [hidden]="tamanoPublicidad === ' '">
            <ion-row>
                <ion-col [size]='(12-anchoFoto)/2'></ion-col>
                <ion-col (click)='GaleriaImagen()' [size]="anchoFoto" [ngClass]="tamanoFoto">
                    <div *ngIf="fototomada==false" style='text-align: center'>
                        <ion-icon class="lock-icon" size='medium' color="light" src="assets/icons/image.svg"></ion-icon><br>
                        <ion-text color="light" style='font-size: 15px'>Haga click para subir imagen</ion-text>
                    </div>
                    <div *ngIf="fototomada==true">
                        <img src="{{fotografia}}" alt="seleccionar perfil">
                    </div>
                </ion-col>
                <ion-col [size]='(12-anchoFoto)/2'></ion-col>
            </ion-row>
        </ion-grid>
        <form #signupForm="ngForm" novalidate>
            <ion-list padding>

                <ion-item>
                    <div id='elegirTamaño' expand="full">
                        <ion-button expand='block' (click)="elegirTamanoFeriaEvento()">
                            <ion-icon color="light" src="assets/icons/th-large-outline.svg"></ion-icon>
                            <div class='botonElegirTamaño'>&#32; Elegir Tamaño de la Publicidad</div>

                        </ion-button>
                    </div>
                </ion-item>
                <!-- 
                <ion-item>
                    <ion-label position="stacked" color="primary">ID de la Feria o evento:</ion-label> <strong>
                    {{IDFeriaEvento}}</strong>
                </ion-item> -->

                <ion-item>
                    <ion-label position="stacked" color="primary">Nombre de la Feria o Evento</ion-label>
                    <ion-input [(ngModel)]="FeriEvent.Titulo" type="text" name="Título de la feria o evento" placeholder="No mayor a 50 caracteres"></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label position="stacked" color="primary">Categoría</ion-label>
                    <ion-select [(ngModel)]="FeriEvent.PalabrasClave" name="Categoria" placeholder="Elija una Categoría">
                        <ion-select-option value="Afin">Afín</ion-select-option>
                        <ion-select-option value="General">General</ion-select-option>
                        <ion-select-option value="Trabajo">Empleos</ion-select-option>
                        <ion-select-option value="Comidas">Comidas</ion-select-option>
                    </ion-select>
                </ion-item>

                <!--CAJA PARA FECHA DE INICIO DEL EVENTO-->
                <ion-item>
                    <ion-label position="stacked" color="primary">
                        <ion-text>Fecha de Inicio</ion-text>
                    </ion-label>
                    <ion-chip slot="end" [hidden]="(validFecha)" color="danger">
                        <ion-icon src="assets/icons/warning.svg" color="danger"></ion-icon>
                    </ion-chip>
                    <ion-datetime [min]='fechaInicialMinFeriaEvento' [max]='fechaInicialMaxFeriaEvento' (ionChange)='CalcularPrecioPauta()' displayFormat="DD MMM YYYY" monthShortNames="ene, feb, mar, abr, may, jun, jul, ago, sep, oct, nov, dic" [(ngModel)]="FeriEvent.fechaIni"
                        name="fechaIFeriaEvento" #fechaIFeriaEvento="ngModel" placeholder="Seleccione fecha" cancel-text="Cancelar" doneText="Aceptar"></ion-datetime>
                </ion-item>


                <!--CAJA PARA FECHA DE FINALIZACIÓN DEL EVENTO-->
                <ion-item>
                    <ion-label position="stacked" color="primary">
                        <ion-text>Fecha de Finalización</ion-text>
                    </ion-label>
                    <ion-chip slot="end" [hidden]="(validFecha)" color="danger">
                        <ion-icon src="assets/icons/warning.svg" color="danger"></ion-icon>
                    </ion-chip>
                    <ion-datetime [min]='fechaFinalMinFeriaEvento' [max]='fechaFinalMaxFeriaEvento' (ionChange)='CalcularPrecioPauta()' displayFormat="DD MMM YYYY" monthShortNames="ene, feb, mar, abr, may, jun, jul, ago, sep, oct, nov, dic" [(ngModel)]="FeriEvent.fechaFin"
                        name="fechaFFeriaEvento" #fechaFFeriaEvento="ngModel" placeholder="Seleccione fecha" [disabled]='disableFechaFin' cancel-text="Cancelar" doneText="Aceptar"></ion-datetime>
                </ion-item>

                <!--CAJA PARA SELECCIÓN DE CIUDAD-->
                <ion-item>
                    <ion-label position="stacked" color="primary">Ciudad</ion-label>
                    <ion-select [(ngModel)]="FeriEvent.Ciudad" name="Ciudad" placeholder="Seleccione la ciudad de encuentro">
                        <ion-select-option *ngFor='let ciudadPais of CiudadesPaisesBD' value="{{ciudadPais.ciudad_municipio + ' - ' + ciudadPais.Pais}}">{{ ciudadPais.ciudad_municipio }} - {{ ciudadPais.Pais }}</ion-select-option>
                    </ion-select>
                </ion-item>

                <ion-item>
                    <ion-label position="stacked" color="primary">Dirección de la Feria o Evento</ion-label>
                    <ion-input [(ngModel)]="FeriEvent.Direccion" type="text" name="Direccion de la feria o evento" placeholder="No mayor a 50 caracteres"></ion-input>
                </ion-item>
                <br>
                <!-- DISPLAY QUE MUESTRA EL CALCULO DEL VALOR DE LA PAUTA SEGÚN EL TAMAÑO ELEGIDO Y LA DURACIÓN DEL EVENTO -->
                <ion-item>
                    <ion-label>Su Pauta Vale: </ion-label>
                    <ion-chip slot="end">
                        <ion-label>$ {{ precioPauta }}</ion-label>
                    </ion-chip>

                </ion-item>

            </ion-list>


        </form>
    </div>
</ion-content>