@import '../schedule/schedule';
ion-toolbar {
    background: linear-gradient(to right, rgb(102, 0, 204), rgb(146, 37, 255));
}

.reset-filters {
    color: var(--ion-color-danger);
}

.ion-col3 {
    border: rgb(102, 0, 204), 2px solid;
    padding: 0% 0% 0% 5%;
    background: -webkit-linear-gradient(left top, rgba(102, 0, 204, 0.445), rgba(146, 37, 255, 0.397));
    height: 160px;
}

.lock-icon {
    text-align: center;
    font-size: 90px
}

.botonElegirTamaño {
    font-size: 9px
}

#elegirTamaño {
    padding-left: 10%
}

ion-alert {
    --height: 3000px;
    //overflow-y: hidden
}

ion-textarea {
    height: 150px;
}

@each $track,
$value in map-remove($categories) {
    ion-item[track='#{$track}'] .dot {
        display: inline-block;
        height: 10px;
        width: 10px;
        background-color: $value;
        border-radius: 5px;
        margin-right: 10px;
    }
}