<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/app/tabs/account"></ion-back-button>
        </ion-buttons>
        <ion-title></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <h3>
        <ion-text>Solicitudes pendientes:
            <ion-text *ngIf="registro.solicitudesPendientes.solicitudes!='0'" color="primary"><strong>{{cantidad}}</strong></ion-text>
        </ion-text>
    </h3>
    <ion-list *ngIf="registro.solicitudesPendientes.solicitudes!='0'">
        <ion-item-sliding *ngFor="let s of solicitudes">
            <ion-item (click)="verPerfil(s.Identificacion)" text-wrap>

                <img slot="start" [src]="URLavatar + s.foto_perfil" class="fotoEncontrados">

                <ion-label>
                    <h2>
                        <ion-text><strong>{{s.Cargo_Actual | titlecase}}</strong></ion-text>
                    </h2>
                    <p> {{s.Profesion | titlecase}}</p>
                    <p> Empresa: {{s.Empresa | titlecase}}</p>

                    <ion-grid>
                        <ion-row>
                            <p>Común: </p>
                            <ion-col *ngFor="let l of s.AmigosComunes" size="1">
                                <img *ngIf="s.AmigosComunes!=undefined" [src]="URLavatar + l.foto_perfil" alt="amigos_comun" class="AmigosComunFoto">
                                <p *ngIf="s.AmigosComunes==null">Ninguno</p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-label>


            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="primary" (click)="verPerfil(s.Identificacion)">Perfil</ion-item-option>
            </ion-item-options>
            <ion-item-options side="start">
                <ion-item-option *ngIf="CargandoConfirmacion=='false'" [hidden]="(CargandoConfirmacion=='cargando') || (CargandoRechazo=='cargando') || (CargandoConfirmacion=='correcto') || (CargandoRechazo=='correcto')" color="success" (click)="aceptarSolicitud(s.Identificacion)">Aceptar</ion-item-option>
                <ion-item-option *ngIf="CargandoConfirmacion=='cargando'" color="success">
                    <ion-spinner color="light"></ion-spinner>
                </ion-item-option>
                <ion-item-option *ngIf="CargandoConfirmacion=='correcto'" color="success">
                    <ion-icon color="light" name="checkmark"></ion-icon>
                </ion-item-option>

                <!-- <ion-item-option *ngIf="CargandoRechazo=='false'" [hidden]="(CargandoConfirmacion=='cargando') || (CargandoRechazo=='cargando') || (CargandoConfirmacion=='correcto') || (CargandoRechazo=='correcto')" color="danger" (click)="cancelarSolicitud(s.Identificacion)">Cancelar</ion-item-option>
                <ion-item-option *ngIf="CargandoRechazo=='cargando'" color="danger">
                    <ion-spinner color="light"></ion-spinner>
                </ion-item-option>
                <ion-item-option *ngIf="CargandoRechazo=='correcto'" color="danger">
                    <ion-icon color="light" name="checkmark"></ion-icon>
                </ion-item-option> -->
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

</ion-content>