ion-grid {
    padding-left: var(--ion-grid-padding-xs,var(--ion-grid-padding,0px));
    padding-right: var(--ion-grid-padding-xs,var(--ion-grid-padding,0px)); 
    padding-top: var(--ion-grid-padding-xs,var(--ion-grid-padding,0px)); 
    padding-bottom: var(--ion-grid-padding-xs,var(--ion-grid-padding,0px));
}

ion-row {
    padding-left: var(--ion-grid-padding-xs,var(--ion-grid-padding,0px));
    padding-right: var(--ion-grid-padding-xs,var(--ion-grid-padding,0px)); 
    padding-top: var(--ion-grid-padding-xs,var(--ion-grid-padding,0px)); 
    padding-bottom: var(--ion-grid-padding-xs,var(--ion-grid-padding,0px));
}

.ion-padding, [padding] {
    --padding-start: var(--ion-padding, 16px);
    --padding-end: var(--ion-padding, 16px);
    --padding-top: var(--ion-padding, 0px);
    --padding-bottom: var(--ion-padding, 0px);
    padding-left: var(--ion-padding, 16px);
    padding-right: var(--ion-padding, 16px);
    padding-top: var(--ion-padding, 0px);
    padding-bottom: var(--ion-padding, 0px);
}

.AmigosComunFoto {
    max-height: 33px;
    max-width: 33Px;
    border: 2px solid #ffffff;
    border-radius: 50%;
  }

  .fotoEncontrados{
    max-width: 60px;
    border-radius: 50%;
  }