<ion-header no-border>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content id="page" class="fondo" scroll="false" padding no-border>



    <div class="signup-logo">
        <img src="assets/img/ICONO-4.gif" alt="WAOCards Logo">
        <h4 text-center>
            <ion-text color="dark"> <strong>Registro | Usuario</strong></ion-text>
        </h4>
    </div>

    <div text-center class="formulario">
        <form #signupForm="ngForm" class="formulario" novalidate>
            <ion-list lines="none">

                <!--CAJA PARA NOMBRE COMPLETO-->
                <ion-label padding text-center position="stacked" color="primary">
                    <ion-text padding>Nombres y apellidos</ion-text>
                </ion-label>
                <ion-item class="i">

                    <ion-chip slot="end" [hidden]="(username.valid || submitted == false)" color="danger">
                        <ion-icon src="assets/icons/warning.svg" color="danger"></ion-icon>
                    </ion-chip>

                    <ion-input [(ngModel)]="signup.username" name="username" type="text" #username="ngModel" (keypress)="soloLetra($event)" required>
                        <ion-icon color="primary" src="assets/icons/user.svg" item-right></ion-icon>
                        <ion-col size='0.5'> </ion-col>
                    </ion-input>
                </ion-item>

                <!--CAJA PARA NÚMERO DE IDENTIFICACIÓN-->
                <ion-label text-center position="stacked" color="primary">
                    <ion-text>Cédula de ciudadanía</ion-text>
                </ion-label>
                <ion-item class="i">

                    <ion-chip slot="end" [hidden]="(id_user.valid || submitted == false) && FaltaID==false" color="danger">
                        <ion-icon src="assets/icons/warning.svg" color="danger"></ion-icon>
                    </ion-chip>

                    <ion-input [(ngModel)]="signup.id_user" name="id_user" type="number" #id_user="ngModel" required>
                        <ion-icon color="primary" src="assets/icons/ticket.svg" item-right></ion-icon>
                        <ion-col size='0.5'> </ion-col>

                    </ion-input>
                </ion-item>

                <!--CAJA PARA TELÉFONO-->
                <ion-label position="stacked" color="primary">
                    <ion-text>Seleccione Código del país + Número celular</ion-text>
                </ion-label>
                <ion-grid>
                    <ion-row>
                        <ion-col class="colCodigo" size="4">
                            <!--  <ion-label text-center position="stacked" color="primary">
                                <ion-text>Código del país</ion-text>
                            </ion-label> -->
                            <ion-item *ngIf="codigoseleccionado==false" class="i">
                                <ion-select class="codigocampo" *ngIf="codigoseleccionado==false" (ionChange)="updateSelectedValue($event)" interface="action-sheet" [interfaceOptions]="customActionSheetOptions" name="Codigo" okText="Aceptar" cancelText="Cancelar" placeholder="+0">
                                    <ion-select-option *ngFor="let s of paises.paises" [value]="s.dial_code">{{s.dial_code}} - <img src="../../../assets/img/banderas/CO.PNG"> {{s.name}} </ion-select-option>
                                </ion-select>
                            </ion-item>

                            <ion-chip (click)="cambiarTipoCodigo()" *ngIf="codigoseleccionado==true">
                                <ion-label color="primary"><strong>{{numerocodigo}}</strong></ion-label>
                                <ion-icon name="close"></ion-icon>
                            </ion-chip>
                        </ion-col>
                        <ion-col size="8">
                            <ion-item class="i">

                                <ion-chip slot="end" [hidden]="(tel_cel.valid || submitted == false)" color="danger">
                                    <ion-icon src="assets/icons/warning.svg" color="danger"></ion-icon>
                                </ion-chip>

                                <ion-input [(ngModel)]="signup.tel_cel" name="tel_cel" type="number" #tel_cel="ngModel" required>
                                </ion-input>
                            </ion-item>
                        </ion-col>
                    </ion-row>
                </ion-grid>

                <!--CAJA PARA EMAIL-->
                <ion-label text-center position="stacked" color="primary">
                    <ion-text>Correo electrónico</ion-text>
                </ion-label>
                <ion-item class="i">

                    <ion-chip slot="end" [hidden]="(email.valid || submitted == false)" color="danger">
                        <ion-icon src="assets/icons/warning.svg" color="danger"></ion-icon>
                    </ion-chip>

                    <ion-input [(ngModel)]="signup.email" name="email" type="email" #email="ngModel" required>
                        <ion-icon color="primary" src="assets/icons/at.svg" item-right></ion-icon>
                        <ion-col size='0.5'> </ion-col>
                    </ion-input>
                </ion-item>

                <!--CAJA PARA FECHA DE NACIMIENTO-->
                <ion-label text-center position="stacked" color="primary">
                    <ion-text>Fecha de nacimiento</ion-text>
                </ion-label>
                <ion-item class="i">

                    <ion-chip slot="end" [hidden]="(bornDate.valid || submitted == false)" color="danger">
                        <ion-icon src="assets/icons/warning.svg" color="danger"></ion-icon>
                    </ion-chip>

                    <ion-datetime max='2001-07-30' min='1930' displayFormat="DD MMM YYYY" monthShortNames="ene, feb, mar, abr, may, jun, jul, ago, sep, oct, nov, dic" [(ngModel)]="signup.bornDate" name="bornDate" #bornDate="ngModel" placeholder="Seleccione fecha" required>
                        <ion-icon color="primary" src="assets/icons/calendar.svg" item-right></ion-icon>
                        <ion-text class="whiteColor">2</ion-text>
                    </ion-datetime>
                </ion-item>
                <ion-button (click)="onSignup(signupForm)" size="large" color="primary" expand="full" shape="round">Registrar</ion-button>
            </ion-list>

        </form>
    </div>



</ion-content>