.signup-logo {
    padding: 5px 0;
    min-height: 170px;
    text-align: center;
    background-color: #f4f5f9;
}

.signup-logo img {
    max-width: 400px;
}

.sc-ion-segment-md-hion-toolbar:not(.ion-color).sc-ion-segment-md-s>ion-segment-button,
ion-toolbar .sc-ion-segment-md-h:not(.ion-color).sc-ion-segment-md-s>ion-segment-button {
    color: rgb(205, 159, 250)
}

.list {
    margin-bottom: 10;
    width: 100%;
}

.list-md {
    background: rgb(244, 245, 249);
}

.list-ios {
    background: rgb(244, 245, 249);
}

.ion-padding,
[padding] {
    --padding-start: var(--ion-padding, 0px);
    --padding-end: var(--ion-padding, 0px);
    --padding-top: var(--ion-padding, 0px);
    --padding-bottom: var(--ion-padding, 0px);
}

.ion-padding {
    --padding-start: var(--ion-padding, 0px);
    --padding-end: var(--ion-padding, 0px);
    --padding-top: var(--ion-padding, 0px);
    --padding-bottom: var(--ion-padding, 0px);
}

p {
    text-align: center;
    color: rgb(18, 8, 31)
}

.fondo {
    --ion-background: linear-gradient(to right, rgb(102, 0, 204), rgb(147, 42, 253));
    height: 100%;
    overflow: auto;
}

.formulario {
    --ion-background: rgba(255, 255, 255, 0.219);
    background-color: rgba(255, 255, 255, 0.445);
    width: 100%;
}

ion-content {
    padding: 45%;
    --ion-background: rgba(255, 255, 255, 0);
    width: 100%;
}

ion-list {
    padding: 10%;
    --ion-background: rgba(255, 255, 255, 0.534);
}

ion-item {
    --background: #3881ff00;
    --color: rgb(27, 14, 39);
    // height: 50px;
}

.codigocampo {
    max-width: 150px;
}

h1 {
    margin-top: 0px;
    font-size: 26px;
}

.i {
    //margin-left: 5%;
    //margin-right: 5%;
    margin-top: 0;
    margin-bottom: 8%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 8px;
    padding-bottom: 0px;
    border-radius: 8px;
    border: rgba(189, 189, 189, 0.322) 1.5px solid;
    background-color: rgb(255, 255, 255);
}

.campcontrasena {
    font-size: 34px;
}

.NombresLabel {
    padding-top: 3%;
}

.whiteColor {
    color: rgb(243, 231, 253);
}

.codigoPais {
    font-size: 13px;
}

.colCodigo {
    padding-top: 1%;
}