#celularBackGround {
    position: absolute;
    top: 3%;
    left: 12%;
    max-width: 80%;
}

#pequeno {
    position: absolute;
    top: 80px;
    left: 61px
}

#largoh {
    position: absolute;
    top: 80px;
    left: 138px
}

#largov {
    position: absolute;
    top: 156px;
    left: 61px
}

#grandexl {
    position: absolute;
    top: 380px;
    left: 61px
}

#grande2 {
    position: absolute;
    top: 156px;
    left: 138px
}

#extralargoh {
    position: absolute;
    top: 306px;
    left: 61px
}