<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="salir()">
                <ion-icon color="light" src="assets/icons/delete-outline.svg"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title>Elija un Tamaño</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content text-center>
    {{ tamano }}<br>

    <ion-slides (ionSlideDidChange)="cambio($event)" *ngIf='conslider'>
        <ion-slide (click)='tamanoElegido()'>
            <!--Pequeño<br>-->
            <img src='../../../assets/img/tamanos/pequeño.PNG'>
        </ion-slide>
        <ion-slide (click)='tamanoElegido()'>
            <!--Grande2<br>-->
            <img src='../../../assets/img/tamanos/grande2.png'>
        </ion-slide>
        <ion-slide (click)='tamanoElegido()'>
            <!--GrandeXL<br>-->
            <img src='../../../assets/img/tamanos/grandeXL.png'>
        </ion-slide>
        <ion-slide (click)='tamanoElegido()'>
            <!--largoH<br>-->
            <img src='../../../assets/img/tamanos/largoH.png'>
        </ion-slide>
        <ion-slide (click)='tamanoElegido()'>
            <!--extralargoH<br>-->
            <img src='../../../assets/img/tamanos/extralargoH.png'>
        </ion-slide>
        <ion-slide (click)='tamanoElegido()'>
            <!--largoV<br>-->
            <img src='../../../assets/img/tamanos/largoV.png'>
        </ion-slide>
    </ion-slides>

    <img src='../../../assets/img/tamanos/sizesAllInOne.png' id='celularBackGround' *ngIf='!conslider'>
    <div id='pequeno' *ngIf='!conslider' (click)='tamanoElegido(0)'>
        <img src='../../../assets/img/tamanos/pequeñoSolo.png'>
    </div>
    <div id='largoh' *ngIf='!conslider' (click)='tamanoElegido(1)'>
        <img src='../../../assets/img/tamanos/largoHSolo.png'>
    </div>
    <div id='largov' *ngIf='!conslider' (click)='tamanoElegido(2)'>
        <img src='../../../assets/img/tamanos/LargoVSolo.png'>
    </div>
    <div id='grande2' *ngIf='!conslider' (click)='tamanoElegido(3)'>
        <img src='../../../assets/img/tamanos/grande2Solo.png'>
    </div>
    <div id='extralargoh' *ngIf='!conslider' (click)='tamanoElegido(4)'>
        <img src='../../../assets/img/tamanos/extralargoHSolo.png'>
    </div>
    <div id='grandexl' *ngIf='!conslider' (click)='tamanoElegido(5)'>
        <img src='../../../assets/img/tamanos/grandeXLSolo.png'>
    </div>

</ion-content>