<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title></ion-title>
        <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">

            <ion-segment-button value="favorites" (click)="cargarFeriasEventos()">
                <h6>{{'PAGES.SCHEDULE.CITAS' | translate}}</h6>
            </ion-segment-button>
            <ion-segment-button value="all" (click)="cargarClasificados()">
                <h6>{{'PAGES.SCHEDULE.CLASIFICADOS' | translate}}</h6>
            </ion-segment-button>
        </ion-segment>

    </ion-toolbar>

    <ion-toolbar *ngIf="Clasificados===false">
        <ion-searchbar [(ngModel)]="cadenaBusquedaEventoCiudad" (keyup.enter)="buscarEventoCiudad()" placeholder="Encontrar feria o evento en..."></ion-searchbar>

    </ion-toolbar>
</ion-header>

<ion-content color="light">

    <!-- Deslizar para actualizar clasificados -->
    <ion-refresher *ngIf="Clasificados===true" slot="fixed" (ionRefresh)="refrescarClasificados($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Deslice para recargar" refreshingSpinner="circles" refreshingText="Cargando clasificados...">

        </ion-refresher-content>
    </ion-refresher>

    <!-- Deslizar para actualizar ferias y eventos -->
    <ion-refresher *ngIf="Clasificados===false" slot="fixed" (ionRefresh)="refrescarFeriasEventos($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Deslice para recargar" refreshingSpinner="circles" refreshingText="Cargando erias y eventos cercanos...">

        </ion-refresher-content>
    </ion-refresher>

    <!-- STORY LINE CATEGORIAS -->
    <ion-list-header class="fondoEstatico">
        <ion-text color="light">{{'PAGES.SCHEDULE.REFINAR_CLAS' | translate}}: {{RefinarCategorias}}</ion-text>
    </ion-list-header>

    <div class="story" scrollX="true" [hidden]="completo == 'error'">
        <div class="story_scroll" (click)="filtrartodos()">
            <div *ngIf="RefinarCategorias !== 'Todos'" class="story_img_bg">
                <img no-margin no-padding class="story_img" src="assets/img/clasificados/todos.png"></div>
            <div *ngIf="RefinarCategorias === 'Todos'" class="story_img_bg_selected">
                <img no-margin no-padding class="story_img" src="assets/img/clasificados/todos.png"></div>
            <h6 no-margin no-padding text-center class="story_text" color="light">
                <ion-text color="light">Todos</ion-text>
            </h6>
        </div>
        <div class="story_scroll" (click)="filtrarafin()">
            <div *ngIf="RefinarCategorias !== 'Afin'" class="story_img_bg">
                <img no-margin no-padding class="story_img" src="assets/img/clasificados/afin.jpg"></div>
            <div *ngIf="RefinarCategorias === 'Afin'" class="story_img_bg_selected">
                <img no-margin no-padding class="story_img" src="assets/img/clasificados/afin.jpg"></div>
            <h6 no-margin no-padding text-center class="story_text" color="light">
                <ion-text color="light">Afin</ion-text>
            </h6>
        </div>
        <div class="story_scroll" (click)="filtrargeneral()">
            <div *ngIf="RefinarCategorias !== 'General'" class="story_img_bg">
                <img no-margin no-padding class="story_img" src="assets/img/clasificados/general.png"></div>
            <div *ngIf="RefinarCategorias === 'General'" class="story_img_bg_selected">
                <img no-margin no-padding class="story_img" src="assets/img/clasificados/general.png"></div>
            <h6 no-margin no-padding text-center class="story_text" color="light">
                <ion-text color="light">General</ion-text>
            </h6>
        </div>
        <div class="story_scroll" (click)="filtrartrabajos()">
            <div *ngIf="RefinarCategorias !== 'Trabajo'" class="story_img_bg">
                |<img no-margin no-padding class="story_img" src="assets/img/clasificados/trabajo.png"></div>
            <div *ngIf="RefinarCategorias === 'Trabajo'" class="story_img_bg_selected">
                |<img no-margin no-padding class="story_img" src="assets/img/clasificados/trabajo.png"></div>
            <h6 no-margin no-padding text-center class="story_text" color="light">
                <ion-text color="light">Empleo</ion-text>
            </h6>
        </div>
        <div class="story_scroll" (click)="filtrartrcomida()">
            <div *ngIf="RefinarCategorias !== 'Comidas'" class="story_img_bg">
                <img no-margin no-padding class="story_img" src="assets/img/clasificados/comidas.png"></div>
            <div *ngIf="RefinarCategorias === 'Comidas'" class="story_img_bg_selected">
                <img no-margin no-padding class="story_img" src="assets/img/clasificados/comidas.png"></div>
            <h6 no-margin no-padding text-center class="story_text" color="light">
                <ion-text color="light">Comida</ion-text>
            </h6>
        </div>

    </div>


    <!-- STORY LINE PAISES -->
    <div *ngIf="paises && !Clasificados && !paisSeleccionado">
        <ion-list-header class="fondoEstatico">
            <ion-text color="light">Ver ferias y eventos en: {{RefinarPaises}}</ion-text>
        </ion-list-header>

        <div class="story" scrollX="true" [hidden]="completo == 'error'">
            <div class="story_scroll" (click)="filtrarCiudadesEventosPais('todos')">
                <div *ngIf="RefinarPaises !== 'Todo el mundo'" class="story_img_bg">
                    <img no-margin no-padding class="story_img" src="assets/img/clasificados/todos.png"></div>
                <div *ngIf="RefinarPaises === 'Todo el mundo'" class="story_img_bg_selected">
                    <img no-margin no-padding class="story_img" src="assets/img/clasificados/todos.png"></div>
                <h6 no-margin no-padding text-center class="story_text" color="light">
                    <ion-text color="light">Todos</ion-text>
                </h6>
            </div>
            <div class="story_scroll" (click)="filtrarCiudadesEventosPais(pais.Pais)" *ngFor='let pais of paises'>
                <div *ngIf="RefinarPaises !== pais.Pais" class="story_img_bg">
                    <img no-margin no-padding class="bandera" [src]="URLBanderas + pais.imagenPais"></div>
                <div *ngIf="RefinarPaises === pais.Pais" class="story_img_bg_selected">
                    <img no-margin no-padding class="bandera" [src]="URLBanderas + pais.imagenPais"></div>
                <h6 no-margin no-padding text-center class="story_text" color="light">
                    <ion-text color="light">{{ pais.Pais }}</ion-text>
                </h6>
            </div>

        </div>
    </div>

    <!-- STORY LINE CIUDADES -->
    <div *ngIf="paisSeleccionado && !Clasificados">
        <ion-list-header class="fondoEstatico">
            <ion-text color="light">Ver ferias y eventos en: {{RefinarCiudad}}</ion-text>
        </ion-list-header>
        <div class="story" scrollX="true" [hidden]="completo == 'error'">


            <div class="back_arrow" (click)="irAtrasCiudades()">
                <div class="story_img_bg">
                    <ion-icon name="arrow-back"></ion-icon>
                </div>
            </div>

            <div class="story_scroll" (click)="filtrarCiudadesEventosPaisCiudad(ciudad.ciudad_municipio)" *ngFor='let ciudad of ciudades'>
                <div *ngIf="RefinarCiudad !== ciudad.ciudad_municipio" class="story_img_bg">
                    <img no-margin no-padding class="bandera" [src]="URLBanderas + RefinarPaises + '.PNG'"></div>
                <div *ngIf="RefinarCiudad === ciudad.ciudad_municipio" class="story_img_bg_selected">
                    <img no-margin no-padding class="bandera" [src]="URLBanderas + RefinarPaises + '.PNG'"></div>
                <h6 no-margin no-padding text-center class="story_text" color="light">
                    <ion-text color="light">{{ ciudad.ciudad_municipio }}</ion-text>
                </h6>
            </div>

        </div>
    </div>


    <!--IMAGEN QUE INDICA QUE NO SE ENCONTRARON RESULTADOS DE FERIAS Y EVENTOS SEGUN LO ECRITO EN LA BARRA DE BUSQUEDA-->
    <div text-center *ngIf="sinResultados == true">
        <img src="../../../assets/img/Zero_Contacts.png" alt="buscar">
        <h1>
            <ion-text color="primary"><strong>Sin resultados</strong></ion-text>
        </h1>
        <h6 *ngIf="sinResultados == true" padding>
            <ion-text>{{ mensajesSvr }}</ion-text>
        </h6>
    </div>

    <!--LISTADO DE FERIAS Y EVENTOS-->
    <div *ngIf="Clasificados===false">

        <div *ngIf="completo==='true'">
            <ion-grid *ngFor="let s of contreferencias">
                <ion-row>
                    <ion-col *ngFor="let p of Pequeno" [hidden]="(p.Pais!==RefinarPaises) && (RefinarPaises!=='Todo el mundo') || ((p.PalabrasClave !== RefinarCategorias) && (RefinarCategorias !== 'Todos'))" text-center padding size="4" [class]="p.Color" (click)='presentarPosterFE(p.imagen)'>

                        <p><strong>{{p.ciudad_municipio}}</strong></p>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col *ngFor="let g of Grande2" [hidden]="(g.Pais!==RefinarPaises)  && (RefinarPaises!=='Todo el mundo') || ((g.PalabrasClave !== RefinarCategorias) && (RefinarCategorias !== 'Todos'))" text-center padding size="8" [class]="g.Color" (click)='presentarPosterFE(g.imagen)'>
                        <h6><strong>{{g.ciudad_municipio}}</strong></h6>
                    </ion-col>

                    <ion-col *ngFor="let l of LargoV" [hidden]="(l.Pais!==RefinarPaises)  && (RefinarPaises!=='Todo el mundo') || ((l.PalabrasClave !== RefinarCategorias) && (RefinarCategorias !== 'Todos'))" text-center padding size="4" [class]="l.Color" (click)='presentarPosterFE(l.imagen)'>
                        <h6><strong>{{l.ciudad_municipio}}</strong></h6>
                    </ion-col>
                </ion-row>


                <ion-row>
                    <ion-col *ngFor="let xlh of ExtralargoH" [hidden]="(xlh.Pais!==RefinarPaises)  && (RefinarPaises!=='Todo el mundo') || ((xlh.PalabrasClave !== RefinarCategorias) && (RefinarCategorias !== 'Todos'))" text-center padding size="12" [class]="xlh.Color" (click)='presentarPosterFE(xlh.imagen)'>
                        <h6><strong>{{xlh.ciudad_municipio}}</strong></h6>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col *ngFor="let xxl of GrandeXL" [hidden]="(xxl.Pais!==RefinarPaises)  && (RefinarPaises!=='Todo el mundo') || ((xxl.PalabrasClave !== RefinarCategorias) && (RefinarCategorias !== 'Todos'))" text-center padding size="12" [class]="xxl.Color" (click)='presentarPosterFE(xxl.imagen)'>
                        <h6><strong>{{xxl.ciudad_municipio}}</strong></h6>
                        <!--{{xxl.ciudad_municipio}}-->
                    </ion-col>
                </ion-row>
            </ion-grid>

        </div>

        <div *ngIf="completo==='false'" [hidden]="sinResultados == true">
            <ion-grid>
                <ion-row>
                    <ion-col text-center padding size="4" class="ion-col32">
                        <p>
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </p>
                    </ion-col>
                    <ion-col text-center padding size="4" class="ion-col31">
                        <p>
                            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                        </p>
                    </ion-col>
                    <ion-col text-center padding size="4" class="ion-col32">
                        <p>
                            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                        </p>
                    </ion-col>
                    <ion-col text-center padding size="4" class="ion-col34">
                        <p>
                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                        </p>
                    </ion-col>
                    <ion-col text-center padding size="4" class="ion-col32">
                        <p>
                            <ion-skeleton-text animated style="width: 75%"></ion-skeleton-text>
                        </p>
                    </ion-col>
                    <ion-col text-center padding size="4" class="ion-col33">
                        <p>
                            <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
                        </p>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col text-center padding size="8" class="ion-col6x63">
                        <h3>
                            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                        </h3>
                        <p>
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </p>
                        <p>
                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                        </p>
                    </ion-col>

                    <ion-col text-center padding size="4" class="ion-col6x31">
                        <p>
                            <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
                        </p>
                    </ion-col>
                </ion-row>


                <ion-row>
                    <ion-col text-center padding size="12" class="ion-col34">
                        <p>
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </p>
                    </ion-col>
                    <ion-col text-center padding size="12" class="ion-col32">
                        <p>
                            <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
                        </p>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col text-center padding size="12" class="ion-col6x63">
                        <h6>
                            <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>

                        </h6>
                        <p>
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </p>
                        <p>
                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                        </p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>

    </div>

    <!--LISTADO DE CLASIFICADOS-->
    <div *ngIf="Clasificados===true">


        <div *ngIf="completo==='true'">
            <ion-grid *ngFor="let s of contreferencias">
                <ion-row>
                    <ion-col *ngFor="let p of Pequeno" [hidden]="(p.PalabrasClave!==RefinarCategorias) && (RefinarCategorias!=='Todos')" text-center padding size="4" [class]="p.Color" routerLink="/app/tabs/schedule/detalle-clasificado/{{p.ID}}">

                        <p><strong>{{p.Titulo}}</strong></p>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col *ngFor="let g of Grande2" [hidden]="(g.PalabrasClave!==RefinarCategorias)  && (RefinarCategorias!=='Todos')" text-center padding size="8" [class]="g.Color" routerLink="/app/tabs/schedule/detalle-clasificado/{{g.ID}}">
                        <h6><strong>{{g.Titulo}}</strong></h6>
                    </ion-col>

                    <ion-col *ngFor="let l of LargoV" [hidden]="(l.PalabrasClave!==RefinarCategorias)  && (RefinarCategorias!=='Todos')" text-center padding size="4" [class]="l.Color" routerLink="/app/tabs/schedule/detalle-clasificado/{{l.ID}}">
                        <h6><strong>{{l.Titulo}}</strong></h6>
                    </ion-col>
                </ion-row>


                <ion-row>
                    <ion-col *ngFor="let xlh of ExtralargoH" [hidden]="(xlh.PalabrasClave!==RefinarCategorias)  && (RefinarCategorias!=='Todos')" text-center padding size="12" [class]="xlh.Color" routerLink="/app/tabs/schedule/detalle-clasificado/{{xlh.ID}}">
                        <h6><strong>{{xlh.Titulo}}</strong></h6>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col *ngFor="let xxl of GrandeXL" [hidden]="(xxl.PalabrasClave!==RefinarCategorias)  && (RefinarCategorias!=='Todos')" text-center padding size="12" [class]="xxl.Color" routerLink="/app/tabs/schedule/detalle-clasificado/{{xxl.ID}}">
                        <h6><strong>{{xxl.Titulo}}</strong></h6>
                        {{xxl.Descripcion}}
                    </ion-col>
                </ion-row>
            </ion-grid>

        </div>





        <div *ngIf="completo==='false'">
            <ion-grid>
                <ion-row>
                    <ion-col text-center padding size="4" class="ion-col32">
                        <p>
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </p>
                    </ion-col>
                    <ion-col text-center padding size="4" class="ion-col31">
                        <p>
                            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                        </p>
                    </ion-col>
                    <ion-col text-center padding size="4" class="ion-col32">
                        <p>
                            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                        </p>
                    </ion-col>
                    <ion-col text-center padding size="4" class="ion-col34">
                        <p>
                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                        </p>
                    </ion-col>
                    <ion-col text-center padding size="4" class="ion-col32">
                        <p>
                            <ion-skeleton-text animated style="width: 75%"></ion-skeleton-text>
                        </p>
                    </ion-col>
                    <ion-col text-center padding size="4" class="ion-col33">
                        <p>
                            <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
                        </p>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col text-center padding size="8" class="ion-col6x63">
                        <h3>
                            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                        </h3>
                        <p>
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </p>
                        <p>
                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                        </p>
                    </ion-col>

                    <ion-col text-center padding size="4" class="ion-col6x31">
                        <p>
                            <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
                        </p>
                    </ion-col>
                </ion-row>


                <ion-row>
                    <ion-col text-center padding size="12" class="ion-col34">
                        <p>
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </p>
                    </ion-col>
                    <ion-col text-center padding size="12" class="ion-col32">
                        <p>
                            <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
                        </p>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col text-center padding size="12" class="ion-col6x63">
                        <h6>
                            <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>

                        </h6>
                        <p>
                            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                        </p>
                        <p>
                            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                        </p>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </div>

        <!-- Se muestra si no hay conexion con el servidor -->
        <div text-center *ngIf="completo == 'error'" padding>


            <img src="../../../assets/img/404.png" alt="no cargo la pagina" padding>
            <p padding>Por favor, revise la conexión a internet en su dispositivo</p>
            <h5> <strong> Para recargar de nuevo, deslice hacia abajo en esta pantalla</strong></h5>

        </div>

    </div>

    <ion-infinite-scroll [hidden]="completo == 'error'" *ngIf="Clasificados===true" threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando más clasificados...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>


    <div [hidden]="completo == 'error'">
        <ion-fab [hidden]="completo == 'error'" (click)="presentFilter()" color="success" slot="fixed" vertical="bottom" horizontal="end" #fab>
            <ion-fab-button [hidden]="completo == 'error'" color="success">
                <ion-icon src="assets/icons/plus.svg"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </div>
</ion-content>