ion-toolbar {
    background: linear-gradient(to right, rgb(102, 0, 204), rgb(146, 37, 255));
}

$categories: ( ionic: var(--ion-color-primary), angular: #ac282b, communication: #8e8d93, tooling: #fe4c52, services: #fd8b2d, design: #fed035, workshop: #69bb7b, food: #3bc7c4, documentation: #b16be3, navigation: #6600cc);
@each $track,
$value in map-remove($categories) {
    ion-item-sliding[track='#{$track}'] ion-label {
        border-left: 2px solid $value;
        padding-left: 10px;
    }
}

img {
    display: inline-block;
}

.custom-skeleton ion-skeleton-text {
    line-height: 13px;
}

.custom-skeleton ion-skeleton-text:last-child {
    margin-bottom: 5px;
}

ion-refresher {
    background: linear-gradient(to right, rgba(145, 35, 255, 0.712), rgba(169, 92, 245, 0.712));
    color: #ffffff;
    --color: #fff;
}

ion-grid {
    padding-left: var(--ion-grid-padding-xs, var(--ion-grid-padding, 0px));
    padding-right: var(--ion-grid-padding-xs, var(--ion-grid-padding, 0px));
    padding-top: var(--ion-grid-padding-xs, var(--ion-grid-padding, 0px));
    padding-bottom: var(--ion-grid-padding-xs, var(--ion-grid-padding, 0px));
}


/* Stories */

.fondoEstatico {
    background: linear-gradient(to right, rgba(145, 35, 255, 0.712), rgba(169, 92, 245, 0.712));
    height: 30px;
}

.story {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: 50px;
    background: linear-gradient(to right, rgba(145, 35, 255, 0.712), rgba(169, 92, 245, 0.712));
}

.story_scroll {
    display: inline-block;
    width: 70px;
    height: 60px;
    //margin: 8px;
    overflow-x: auto;
    overflow-y: hidden;
}

.story_img_bg {
    width: 30px;
    height: 30px;
    padding: 2px;
    border-radius: 10%;
    padding-bottom: 0;
    transition: all 1s;
    -webkit-transition: all 0.2s;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.story_img_bg_selected {
    width: 30px;
    height: 30px;
    padding: 2px;
    border: 1px solid #6600cc;
    border-radius: 10%;
    padding-bottom: 0;
    transition: all 1s;
    -webkit-transition: all 0.2s;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.story_img_bg:active {
    background: -webkit-linear-gradient(left top, rgba(102, 0, 204, 0.096), rgba(146, 37, 255, 0.103));
    transform: scale(1.1);
}


/*
.story_img_bg_selected:active {
    background: -webkit-linear-gradient(left top, rgba(102, 0, 204, 0.096), rgba(146, 37, 255, 0.103));
    transform: scale(1.1);
}
*/

.story_img {
    width: 70px;
    height: 30px;
    border-radius: 10%;
}

.story_text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 2px;
    font-size: 10px
}

.back_arrow {
    display: inline-block;
    width: 30px;
    height: 50px;
    //margin: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 3%
}

.bandera {
    width: 70px;
    height: 20px;
    border-radius: 10%;
}

.poster {
    width: 70px;
    height: 20px;
    border-radius: 10%;
}

.alertaPoster {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: start;
}

////// ********** DEFINICIÓN DE LOS COLORES PARA CADA TIPO DE CLASIFICADO ***********

/*                 Para los Pequeños, LargoH, ExtralargoH                             */

.ion-col3 {
    background: -webkit-linear-gradient(left top, rgba(102, 0, 204, 0.212), rgba(146, 37, 255, 0.226));
    height: 120px;
}

.ion-col31 {
    background: -webkit-linear-gradient(left top, rgba(0, 88, 204, 0.212), rgba(37, 139, 255, 0.226));
    height: 120px;
}

.ion-col32 {
    background: -webkit-linear-gradient(left top, rgba(204, 0, 0, 0.212), rgba(255, 37, 37, 0.226));
    height: 120px;
}

.ion-col33 {
    background: -webkit-linear-gradient(left top, rgba(0, 204, 10, 0.212), rgba(37, 255, 37, 0.226));
    height: 120px;
}

.ion-col34 {
    background: -webkit-linear-gradient(left top, rgba(204, 190, 0, 0.212), rgba(255, 233, 37, 0.226));
    height: 120px;
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////

/*                            Para los Grande2  GrandeXL                  */

.ion-col6x6 {
    background: -webkit-linear-gradient(left top, rgba(102, 0, 204, 0.212), rgba(146, 37, 255, 0.226));
    height: 240px;
}

.ion-col6x61 {
    background: -webkit-linear-gradient(left top, rgba(0, 88, 204, 0.212), rgba(37, 139, 255, 0.226));
    height: 240px;
}

.ion-col6x62 {
    background: -webkit-linear-gradient(left top, rgba(204, 0, 0, 0.212), rgba(255, 37, 37, 0.226));
    height: 240px;
}

.ion-col6x63 {
    background: -webkit-linear-gradient(left top, rgba(0, 204, 10, 0.212), rgba(37, 255, 37, 0.226));
    height: 240px;
}

.ion-col6x64 {
    background: -webkit-linear-gradient(left top, rgba(204, 190, 0, 0.212), rgba(255, 233, 37, 0.226));
    height: 240px;
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////

/*                            Para los largoV                    */

.ion-col6x3 {
    background: -webkit-linear-gradient(left top, rgba(102, 0, 204, 0.212), rgba(146, 37, 255, 0.226));
    height: 240px;
}

.ion-col6x31 {
    background: -webkit-linear-gradient(left top, rgba(0, 88, 204, 0.212), rgba(37, 139, 255, 0.226));
    height: 240px;
}

.ion-col6x32 {
    background: -webkit-linear-gradient(left top, rgba(204, 0, 0, 0.212), rgba(255, 37, 37, 0.226));
    height: 240px;
}

.ion-col6x33 {
    background: -webkit-linear-gradient(left top, rgba(102, 0, 204, 0.212), rgba(146, 37, 255, 0.226));
    height: 240px;
}

.ion-col6x34 {
    background: -webkit-linear-gradient(left top, rgba(204, 190, 0, 0.212), rgba(255, 233, 37, 0.226));
    height: 240px;
}