<ion-header no-border>
    <ion-toolbar color="light">
        <ion-button slot="end" shape="round" size="small" (click)="openTutorial()" color='tertiary'>{{'PAGES.WELCOME.VER_MAS' | translate}}</ion-button>

    </ion-toolbar>
</ion-header>

<ion-content text-center fullscreen>
    <img src="assets/img/WAOCardsLogoN.png" class="principal-image" />
    <div class="fondo" padding>
        <p>
            <ion-text color="dark">
                {{'PAGES.WELCOME.VERSION' | translate}} {{version}}
            </ion-text>
        </p>
        <h5 class="slide-title">
            <ion-text color="primary">
                {{'PAGES.WELCOME.BIENVENIDO_A' | translate}}
            </ion-text>
        </h5>
        <ion-button size="large" color="primary" (click)="login()" shape="round" padding>
            <ion-text color="light">
                <ion-icon src="assets/icons/arrow-right-thick.svg" expand="block"></ion-icon> <strong>
                    {{'PAGES.WELCOME.INICIAR_SESION_BTN' | translate}}</strong>
            </ion-text>
        </ion-button>
        <p>
            <ion-text color="dark">
                {{'PAGES.WELCOME.NO_DISPONE' | translate}}
            </ion-text>
            <ion-button size="small" shape="round" color="light" (click)="abrirUsuario()">
                {{'PAGES.WELCOME.REGISTRESE_BTN' | translate}}</ion-button>
        </p>

    </div>

</ion-content>

<ion-footer no-border>
    <ion-toolbar>
        <div text-center>
            <p>
                <ion-text color="primary">© 2019 WAOPro Inc.</ion-text>
            </p>
        </div>
    </ion-toolbar>
</ion-footer>