<ion-header no-border>
    <ion-toolbar>
        <ion-toolbar>
            <ion-buttons padding slot="start">
                <ion-backdrop></ion-backdrop>
                <ion-icon class="atras" name="arrow-round-back"></ion-icon>
                <ion-title> Realización de Pago</ion-title>
            </ion-buttons>
        </ion-toolbar>
    </ion-toolbar>
</ion-header>

<ion-content padding class='speaker-detail'>

    <!--
    <ion-card class="ion-text-center" id="tarjeta_perfil">
            <ion-content fullscreen>
        <ion-card-header class="ion-text-center">
            <ion-grid class="ion-text-center">
                <ion-row class="ion-text-center">
                    <ion-col class="ion-text-center" size="12">
                        <div class="ion-text-center">
                            <img class="imagenimg" [src]='foto'>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>

        <ion-card-subtitle>
            <strong>{{ profesion }}</strong>
        </ion-card-subtitle>

        <ion-card-content>
            {{ perfil }}
        </ion-card-content>
            </ion-content>
    </ion-card>
    -->

    <ion-card id="tarjeta_pago">
        <ion-card-header>
            <ion-item>
                <ion-label>Total a Pagar:</ion-label>
                <ion-row size="12">
                    <ion-col size=17>
                        <ion-label> $US: {{ valorPago }} </ion-label>
                    </ion-col>
                </ion-row>
            </ion-item>

        </ion-card-header>


    </ion-card>

    <ion-card id="tarjeta_opciones_pago" *ngIf='habilito_vista_tipodepago'>
        <ion-card-header>
            <ion-label>¿Como desea realizar el pago?</ion-label>
            <ion-list>
                <ion-item>
                    <ion-label>Tarjeta</ion-label>
                    <ion-checkbox color="primary" [checked]='chulear_opcion_tarjeta' [disabled]='deshabilitar_tarjeta' slot="start" (click)="deshabilitar_botones('Tarjeta')" (ionChange)='checked_botones($event)'></ion-checkbox>
                </ion-item>
                <ion-item>
                    <ion-checkbox color="primary" [checked]='chulear_opcion_pse' [disabled]='deshabilitar_trans_pse' slot="start" (click)="deshabilitar_botones('Trans_pse')" (ionChange)='checked_botones($event)'></ion-checkbox>
                    <ion-label>Transferencia PSE</ion-label>
                </ion-item>
                <ion-item>
                    <ion-checkbox color="primary" [checked]='chulear_opcion_efectivo' [disabled]='deshabilitar_efectivo' slot="start" (click)="deshabilitar_botones('Efec_payu')" (ionChange)='checked_botones($event)'></ion-checkbox>
                    <ion-label>Efectivo PAYU</ion-label>
                </ion-item>
            </ion-list>
            <ion-grid>
                <ion-row>
                    <ion-col size='3'></ion-col>
                    <ion-col size='3'></ion-col>
                    <ion-col size='6'>
                        <ion-button color="primary" [disabled]='!deshabilitar_tarjeta && !deshabilitar_trans_pse && !deshabilitar_efectivo' (click)="habilitar_boton_PAGAR('continuar')">Continuar </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>
    </ion-card>

    <ion-card id='datos_con_tarjeta' *ngIf='se_habilito_tarjeta'>
        <form #pago_tarjeta1Form="ngForm" class="formulario" novalidate>
            <div>
                <ion-card-header>
                    <ion-label>Ingrese sus datos:</ion-label>

                    <ion-list lines="none">
                        <!-- CAJA PARA NUMERO DE TARJETA: -->
                        <ion-item class="i">
                            <ion-chip slot="end" [hidden]="(submitted==false || (submitted==true && dato_valido_numtarjeta==true) )" color="danger">
                                <ion-icon src="assets/icons/warning.svg" color="danger"></ion-icon>
                            </ion-chip>

                            <ion-label position="stacked">Numero de tarjeta:</ion-label>
                            <ion-input [(ngModel)]="cargapago.num_tarjeta" name="num_tarjeta" type="number" #num_tarjeta="ngModel" (keypress)="solo_numero($event, 1)" required></ion-input>
                        </ion-item>

                        <!-- CAJA PARA NOMBRE Y APELLIDO: -->
                        <ion-item class="i">
                            <ion-chip slot="end" [hidden]="(name_lastname.valid || submitted == false)" color="danger">
                                <ion-icon src="assets/icons/warning.svg" color="danger"></ion-icon>
                            </ion-chip>

                            <ion-label position="stacked">Nombre y Apellido: </ion-label>
                            <ion-input [(ngModel)]="cargapago.name_lastname" name="name_lastname" type="text" #name_lastname="ngModel" (keypress)="soloLetra($event)" required></ion-input>
                        </ion-item>

                        <!-- CAJA PARA FECHA: -->
                        <ion-item class="i">

                            <ion-chip slot="end" [hidden]="(fecha_exp.valid || submitted == false)" color="danger">
                                <ion-icon src="assets/icons/warning.svg" color="danger"></ion-icon>
                            </ion-chip>

                            <ion-label position="stacked">Fecha de expiracion: </ion-label>
                            <ion-chip slot="end" [hidden]="(fecha_exp.valid || submitted == false)" color="danger">
                                <ion-icon name="calendar" color="primary"></ion-icon>
                            </ion-chip>

                            <ion-datetime max='2040-12-31' min='2019' displayFormat="DD MMM YYYY" monthShortNames="ene, feb, mar, abr, may, jun, jul, ago, sep, oct, nov, dic" [(ngModel)]="cargapago.fecha_exp" name="fecha_exp" #fecha_exp="ngModel" placeholder="Seleccione fecha" required>
                                <ion-icon color="primary" src="assets/icons/calendar.svg" item-right></ion-icon>
                                <ion-text class="whiteColor">2</ion-text>
                            </ion-datetime>
                        </ion-item>

                        <!-- CAJA PARA CODIGO DE SEGURIDAD: -->
                        <ion-item class="i">

                            <ion-chip slot="end" [hidden]="(submitted==false || (submitted==true && dato_valido_codseg==true) )" color="danger">
                                <ion-icon src="assets/icons/warning.svg" color="danger"></ion-icon>
                            </ion-chip>
                            <ion-label position="stacked">Codigo de seguridad: </ion-label>
                            <ion-input [(ngModel)]="cargapago.cod_seguridad" name="cod_seguridad" type="number" #cod_seguridad="ngModel" (keypress)="solo_numero($event, 2)" required></ion-input>
                        </ion-item>
                        <ion-item>

                            <!-- CAJA PARA TIPO DE DUCUMENTO: -->
                            <ion-label>Tipo de documento:</ion-label>
                            <ion-select>
                                <ion-select-option value="01" selected>CC</ion-select-option>
                                <ion-select-option value="02">CE</ion-select-option>
                                <ion-select-option value="02">NIT</ion-select-option>

                            </ion-select>
                        </ion-item>

                        <!-- CAJA PARA NUMERO DE DOCUMENTO: -->
                        <ion-item class="i">

                            <ion-chip slot="end" [hidden]="(submitted==false || (submitted==true && dato_valido_numdoc==true) )" color="danger">
                                <ion-icon src="assets/icons/warning.svg" color="danger"></ion-icon>
                            </ion-chip>
                            <ion-label position="stacked">Numero de documento: </ion-label>
                            <ion-input [(ngModel)]="cargapago.num_doc" name="num_doc" type="number" #num_doc="ngModel" (keypress)="solo_numero($event, 3)" required></ion-input>
                        </ion-item>
                    </ion-list>
                    <ion-button color="primary" (click)="activa_boton_atras('atras_tarjeta')">Atras </ion-button>
                    <ion-button color="primary" (click)="activa_boton_continuar('continuar_tarjeta', pago_tarjeta1Form)">Continuar </ion-button>
                </ion-card-header>
            </div>
        </form>
    </ion-card>

    <ion-card id='datos_con_pse1' *ngIf='se_habilito_trans_pse'>

        <ion-card-header>

            <ion-list>
                <ion-item>

                    <ion-select placeholder="¿cual es tu banco?" (ionChange)="banco_seleccionado=$event.detail.value">
                        <ion-select-option value="01">Banco Falabella</ion-select-option>
                        <ion-select-option value="02">Banco Itau</ion-select-option>
                        <ion-select-option value="03">Banco Davivienda</ion-select-option>
                        <ion-select-option value="04">Bancolombia</ion-select-option>
                        <ion-select-option value="05">Banco Agrario</ion-select-option>
                        <ion-select-option value="06">Banco Caja Social</ion-select-option>
                        <ion-select-option value="07">Banco Colpatria</ion-select-option>
                        <ion-select-option value="08">Banco de occiente</ion-select-option>
                        <ion-select-option value="09">Banco de Bogota</ion-select-option>
                        <ion-select-option value="10">Nequi</ion-select-option>
                        <ion-select-option value="11">DaviPlata</ion-select-option>
                        <ion-select-option value="12">Banco Popular</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
            <ion-button color="primary" (click)="activa_boton_atras('atras_pse')">Atras </ion-button>
            <ion-button color="primary" (click)="activa_boton_continuar('continuar_pse')" [disabled]="banco_seleccionado=='¿cual es tu banco?'">Continuar </ion-button>
        </ion-card-header>

    </ion-card>

    <ion-card id='datos_con_pse_2' *ngIf='se_habilito_pse_2'>
        <form #pago_pseForm="ngForm" class="formulario" novalidate>
            <div>
                <ion-card-header>
                    <ion-label>Ingrese sus datos:</ion-label>
                    <ion-list lines="none">

                        <!-- TIPO DE PERSONA: -->
                        <ion-item>


                            <ion-label>Tipo de persona:</ion-label>
                            <ion-select>
                                <ion-select-option value="01" selected>Natural</ion-select-option>
                                <ion-select-option value="12">Juridica</ion-select-option>
                            </ion-select>
                        </ion-item>

                        <!-- TIPO DE DOCUMENTO: -->
                        <ion-item class='i'>


                            <ion-label>Tipo de documento:</ion-label>
                            <ion-select>
                                <ion-select-option value="01">CC</ion-select-option>
                                <ion-select-option value="02">CE</ion-select-option>
                                <ion-select-option value="02">NIT</ion-select-option>

                            </ion-select>
                        </ion-item>

                        <!-- NUMERO DE DOCUMENTO: -->
                        <ion-item class="i">

                            <ion-chip slot="end" [hidden]="(submitted==false || (submitted==true && dato_valido_numdoc==true) )" color="danger">
                                <ion-icon src="assets/icons/warning.svg" color="danger"></ion-icon>
                            </ion-chip>
                            <ion-label position="stacked">Numero de documento:
                                <ion-text color="danger"></ion-text>
                            </ion-label>
                            <ion-input [(ngModel)]="cargapago.num_doc" name="num_doc" type="number" #num_doc="ngModel" (keypress)="solo_numero($event, 3)" required></ion-input>
                        </ion-item>
                    </ion-list>
                    <ion-button color="primary" (click)="activa_boton_atras('atras_pse_2')">Atras </ion-button>
                    <ion-button color="primary" (click)="activa_boton_continuar('continuar_pse_2', pago_pseForm)">Continuar </ion-button>
                </ion-card-header>
            </div>
        </form>
    </ion-card>

    <ion-card id='datos_con_efectivo' *ngIf='se_habilito_efectivo'>
        <form #pago_efectivoForm="ngForm" class="formulario" novalidate>
            <div>
                <ion-card-header>
                    <ion-label>Ingrese sus datos:</ion-label>
                    <ion-list lines="none">

                        <!-- TIPO DE PERSONA: -->
                        <ion-item class="i">


                            <ion-label>Tipo de persona:</ion-label>
                            <ion-select>
                                <ion-select-option value="01" selected>Natural</ion-select-option>
                                <ion-select-option value="12">Juridica</ion-select-option>
                            </ion-select>
                        </ion-item>

                        <!-- TIPO DE DOCUMENTO: -->
                        <ion-item>
                            <ion-label>Tipo de documento:</ion-label>
                            <ion-select>
                                <ion-select-option value="01" selected>CC</ion-select-option>
                                <ion-select-option value="02">CE</ion-select-option>
                                <ion-select-option value="02">NIT</ion-select-option>

                            </ion-select>
                        </ion-item>

                        <!-- NUMERO DE DOCUMENTO: -->
                        <ion-item class="i">
                            <ion-chip slot="end" [hidden]="(submitted==false || (submitted==true && dato_valido_numdoc==true) )" color="danger">
                                <ion-icon src="assets/icons/warning.svg" color="danger"></ion-icon>
                            </ion-chip>
                            <ion-label position="stacked">Numero de documento:
                                <ion-text color="danger"></ion-text>
                            </ion-label>
                            <ion-input [(ngModel)]="cargapago.num_doc" name="num_doc" type="number" #num_doc="ngModel" (keypress)="solo_numero($event, 3)" required></ion-input>
                        </ion-item>
                    </ion-list>
                    <ion-button color="primary" (click)="activa_boton_atras('atras_efectivo')">Atras </ion-button>
                    <ion-button color="primary" (click)="activa_boton_continuar('continuar_efectivo', pago_efectivoForm)">Continuar </ion-button>
                </ion-card-header>
            </div>
        </form>
    </ion-card>

    <ion-card id='tarjeta_detalles' *ngIf='se_habilito_tarjeta2'>
        <ion-card-header>
            <ion-item>
                <ion-label>Detalle de pago con tarjeta:</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Pagas $US: {{ valorPago }}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Solo resta tu confirmacion</ion-label>
            </ion-item>
            <ion-button color="primary" (click)="activa_boton_atras('atras_tarjeta2')">Atras </ion-button>
            <ion-button color="primary" (click)="presentAlert()">Confirmar pago </ion-button>


        </ion-card-header>
    </ion-card>

    <ion-card id='pse_detalles' *ngIf='se_habilito_pse_3'>
        <ion-card-header>
            <ion-item>
                <ion-label>Detalle de pago con transferencia PSE:</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Pagas $US:{{ valorPago }}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>No demores en pagar, solo podemos reservarte stock cuando el pago se acredite</ion-label>
            </ion-item>
            <ion-button color="primary" (click)="activa_boton_atras('atras_pse_3')">Atras </ion-button>
            <ion-button color="primary" (click)="presentAlert()">Confirmar pago </ion-button>
        </ion-card-header>
    </ion-card>

    <ion-card id='efectivo_detalles' *ngIf='se_habilito_efectivo2'>
        <ion-card-header>
            <ion-item>
                <ion-label>Detalle de pago con efectivo:</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>Pagas $US:{{ valorPago }}</ion-label>
            </ion-item>
            <ion-item>
                <ion-label>No demores en pagar, solo podemos reservarte stock cuando el pago se acredite</ion-label>
            </ion-item>

            <ion-button color="primary" (click)="activa_boton_atras('atras_efectivo2')">Atras </ion-button>
            <ion-button color="primary" (click)="presentAlert()">Confirmar pago </ion-button>
        </ion-card-header>
    </ion-card>



</ion-content>