.speaker-detail img {
    max-width: 75px;
    border: 5px solid #ffffff;
    align-items: center;
    border-radius: 50%;
}

.perfilError {
    border-radius: 0%;
}

.speaker-detail p {
    color: #60646b;
}

.spk-header {
    background-color: #eaedf3;
    width: 100%;
    text-align: center;
}

.sc-ion-card-md-h {
    --background: var(--ion-item-background, transparent);
    --color: var(--ion-color-step-550, S#737373);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 23px;
    font-size: 14px;
    height: 182px;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.sc-ion-card-md-s img {
    display: inline;
    width: 100%;
}

.sc-ion-card-md-h[_ngcontent-c6] {
    --background: var(--ion-item-background, transparent);
    --color: var(--ion-color-step-550, S#737373);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 23px;
    font-size: 14px;
    height: 313px;
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

#tarjeta_pago {
    height: 76px;
}

#tarjeta_perfil {
    height: 400px; //400
}

#tarjeta_opciones_pago {
    height: 333px; //300
}

#datos_con_tarjeta {
    height: 556px;
    overflow-y: scroll;
}

#datos_con_pse1 {
    height: 300px;
}

#datos_con_pse2 {
    height: 300px;
}

#datos_con_efectivo {
    height: 392px;
}

#tarjeta_detalles,
#pse_detalles,
#efectivo_detalles {
    height: 218px;
}

.signup-logo {
    padding: 5px 0;
    min-height: 170px;
    text-align: center;
}

.signup-logo img {
    max-width: 140px;
}

.sc-ion-segment-md-hion-toolbar:not(.ion-color).sc-ion-segment-md-s>ion-segment-button,
ion-toolbar .sc-ion-segment-md-h:not(.ion-color).sc-ion-segment-md-s>ion-segment-button {
    color: rgb(205, 159, 250)
}

.list {
    margin-bottom: 10;
    width: 100%;
}

.list-md {
    background: rgb(244, 245, 249);
}

.list-ios {
    background: rgb(244, 245, 249);
}

.ion-padding,
[padding] {
    --padding-start: var(--ion-padding, 0px);
    --padding-end: var(--ion-padding, 0px);
    --padding-top: var(--ion-padding, 0px);
    --padding-bottom: var(--ion-padding, 0px);
}

.ion-padding {
    --padding-start: var(--ion-padding, 0px);
    --padding-end: var(--ion-padding, 0px);
    --padding-top: var(--ion-padding, 0px);
    --padding-bottom: var(--ion-padding, 0px);
}

p {
    text-align: center;
    color: rgb(18, 8, 31)
}

.fondo {
    --ion-background: linear-gradient(to right, rgb(102, 0, 204), rgb(147, 42, 253));
    height: 100%;
    overflow: auto;
}

.formulario {
    --ion-background: rgba(255, 255, 255, 0.219);
    background-color: rgba(255, 255, 255, 0.445);
    width: 100%;
}

ion-content {
    padding: 45%;
    --ion-background: rgba(255, 255, 255, 0);
    width: 100%;
}

ion-list {
    padding: 10%;
    --ion-background: rgba(255, 255, 255, 0.534);
}

ion-item {
    --background: #3881ff00;
    --color: rgb(27, 14, 39);
    // height: 50px;
}

.codigocampo {
    max-width: 150px;
}

h1 {
    margin-top: 0px;
    font-size: 26px;
}

.i {
    //margin-left: 5%;
    //margin-right: 5%;
    margin-top: 0;
    margin-bottom: 8%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 8px;
    padding-bottom: 0px;
    border-radius: 8px;
    border: rgba(189, 189, 189, 0.322) 1.5px solid;
    background-color: rgb(255, 255, 255);
}

.campcontrasena {
    font-size: 34px;
}

.NombresLabel {
    padding-top: 3%;
}

.whiteColor {
    color: rgb(243, 231, 253);
}

.codigoPais {
    font-size: 13px;
}

.colCodigo {
    padding-top: 1%;
}

#datos_con_pse_2 {
    height: 391px;
}