<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="salirModal()">
                <ion-icon color="light" src="assets/icons/arrow-left.svg"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Mi curriculum vitae</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="speaker-detail">

    <!-- Deslizar para actualizar -->
    <div text-center>
        <div *ngIf="completo ==='true'">
            <div class="spk-header" padding>
                <img [src]="URLavatar + DatosBasicos.foto_perfil" [alt]="dataProvider.cv.Nombre">
                <br>
                <h1> <strong>{{DatosBasicos.Nombre | uppercase}}</strong> </h1>
                <ion-text color="primary">
                    <h4> {{DatosBasicos.Cargo_Actual}} </h4>
                </ion-text>



                <!-- <img [src]="URLavatar + speaker.foto_perfil" [alt]="speaker.Nombre"> -->

                <ion-button *ngIf="DatosBasicos.Twitter!=undefined || DatosBasicos.Twitter!='' " fill="clear" size="small" color="github" href="https://www.twitter.com/{{dataProvider.cv.Twitter}}">
                    <ion-icon src="assets/icons/social-twitter.svg" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-button *ngIf="DatosBasicos.Github!=undefined" fill="clear" size="small" color="github" href="https://www.github.com/{{dataProvider.cv.Github}}">
                    <ion-icon name="logo-github" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-button *ngIf="DatosBasicos.Instagram!=undefined" fill="clear" size="small" color="instagram" href="https://www.instagram.com/{{dataProvider.cv.Instagram}}">
                    <ion-icon name="logo-instagram" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-button *ngIf="DatosBasicos.Linkedin!=undefined" fill="clear" size="small" color="github" href="https://www.linkedin.com/{{dataProvider.cv.Linkedin}}">
                    <ion-icon name="logo-linkedin" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-button *ngIf="DatosBasicos.WWW!=undefined" fill="clear" size="small" color="github" href="https://{{dataProvider.cv.WWW}}">
                    <ion-icon src="assets/icons/world.svg" slot="icon-only"></ion-icon>
                </ion-button>
            </div>
        </div>
        <div padding>
            <!--   <ion-refresher slot="fixed" (ionRefresh)="doRefrescar($event)">
      <ion-refresher-content pullingIcon="arrow-dropdown" [pullingText]="DesliceParaRecargar"
        [refreshingText]="ObteniendoSus">
      </ion-refresher-content>
    </ion-refresher> -->
            <ion-button *ngIf="userData.datos.PDFSubido=='0'" (click)="seleccionarArchivo()" shape="round" fill="outline">Subir CV en PDF</ion-button>
            <ion-button *ngIf="userData.datos.PDFSubido=='1'" (click)="descargarPDF()" shape="round" fill="outline">Ver mi CV</ion-button>
            <!-- <ion-icon  color="secondary" src="assets/icons/pencil.svg" slot="icon-only"></ion-icon> -->
            <ion-button *ngIf="userData.datos.PDFSubido=='1'" (click)="seleccionarArchivo()" fill="outline" color="primary" shape="round">
                <ion-icon src="assets/icons/upload.svg" slot="icon-only"></ion-icon>
            </ion-button>




            <ion-list>
                <ion-item>
                    <ion-label text-wrap>
                        <ion-text color="primary">
                            <h2> <strong>{{'PAGES.SPEAKER-DETAIL.DATOS_BASICOS' | translate}}</strong> </h2>
                        </ion-text>

                        <ion-text>
                            <p><b>{{'PAGES.SPEAKER-DETAIL.NACIMIENTO' | translate}}: </b>{{DatosBasicos.Fecha_Nacimiento}}</p>
                        </ion-text>
                        <ion-text>
                            <p><b>{{'PAGES.SPEAKER-DETAIL.ID' | translate}}: </b>{{DatosBasicos.Identificacion}}</p>
                        </ion-text>
                        <!--  <ion-text [hidden]="DatosBasicos.Direccion_Residencia == ''">
                            <p [hidden]="DatosBasicos.Direccion_Residencia == ''"><b>{{'PAGES.SPEAKER-DETAIL.DIRECCION' | translate}}:
              </b>{{DatosBasicos.Direccion_Residencia}}</p>
                        </ion-text>
                        <ion-text [hidden]="DatosBasicos.Ciudad_Residencia == ''">
                            <p [hidden]="DatosBasicos.Ciudad_Residencia == ''"><b>{{'PAGES.SPEAKER-DETAIL.CIUDAD' | translate}}:
              </b>{{DatosBasicos.Ciudad_Residencia}}</p>
                        </ion-text> -->
                        <ion-text>
                            <p><b>{{'PAGES.SPEAKER-DETAIL.TELEFONO' | translate}}: </b> {{DatosBasicos.Telefono_Celular}}</p>
                        </ion-text>
                        <ion-text>
                            <p><b>E-mail: </b>{{DatosBasicos.Email}}</p>
                        </ion-text>

                    </ion-label>
                </ion-item>

                <ion-item>
                    <ion-label text-wrap>
                        <ion-text color="primary">
                            <h2> <strong>{{'PAGES.SPEAKER-DETAIL.PERFIL' | translate}}</strong> </h2>
                        </ion-text>
                        <p>{{DatosBasicos.perfil}}</p>
                    </ion-label>
                </ion-item>


                <ion-item *ngIf="Educacion.length!=0">
                    <ion-label text-wrap>
                        <ion-text color="primary">
                            <h2> <strong>{{'PAGES.SPEAKER-DETAIL.EDUCACION' | translate}}</strong> </h2>
                        </ion-text>
                        <div *ngFor="let educacion of Educacion">
                            <ion-card>
                                <ion-card-header>
                                    <h6> {{'PAGES.SPEAKER-DETAIL.DE' | translate}} {{educacion.Fecha_Inicio}} {{'PAGES.SPEAKER-DETAIL.HASTA' | translate}} {{educacion.Fecha_Fin}}</h6>
                                    <h1 color="primary">
                                        <ion-icon name="school" slot="start"></ion-icon>
                                        <strong> {{educacion.Titulo_Obtenido}}</strong>
                                    </h1>
                                    <h5> {{'PAGES.SPEAKER-DETAIL.EN' | translate}}: <strong>{{educacion.Institucion_Educativa}}</strong>
                                    </h5>
                                </ion-card-header>

                                <ion-card-content>
                                    <ion-button *ngIf="educacion.PDFSubido=='1'" fill="outline" slot="end">
                                        <ion-icon name="cloud-download" slot="start"></ion-icon>
                                        {{'PAGES.SPEAKER-DETAIL.VER_CERTIFICADO_BTN' | translate}}
                                    </ion-button>
                                    <ion-button *ngIf="educacion.PDFSubido=='0'" fill="outline" slot="end">
                                        <ion-icon name="upload" slot="start"></ion-icon>
                                        Subir Certificación
                                    </ion-button>
                                </ion-card-content>
                            </ion-card>
                        </div>
                    </ion-label>
                </ion-item>

                <ion-item *ngIf="DatosBasicos.Ha_Trabajado=='1' && Experiencias.length!=0">
                    <ion-label text-wrap>
                        <ion-text color="primary">
                            <h2> <strong>{{'PAGES.SPEAKER-DETAIL.EXPERIENCIA_LABORAL' | translate}}</strong> </h2>
                        </ion-text>
                        <ion-list>
                            <ion-item padding *ngFor="let expe of Experiencias ">
                                <ion-icon name="business" slot="start" color="primary"></ion-icon>
                                <label>
                <h2>
                  <ion-text><strong>{{expe.Cargo | titlecase}}</strong></ion-text>
                </h2>
                <h3>{{expe.Empresa}}</h3>
                <p>{{expe.Fecha_Inicio}} - {{expe.Fecha_Fin}}</p>
                <div>
                  <p>{{expe.Funciones_Cargo}}</p>
                </div>
              </label>
                            </ion-item>
                        </ion-list>
                    </ion-label>
                </ion-item>

                <ion-item *ngIf="Habilidades.length!=0">
                    <ion-label text-wrap>
                        <ion-text color="primary">
                            <h2> <strong>HABILIDADES</strong> </h2>
                        </ion-text>
                        <ion-list>
                            <ion-item padding *ngFor="let hab of Habilidades ">
                                <ion-icon src="assets/icons/flash.svg" slot="start" color="primary"></ion-icon>
                                <label>
                <h2>
                  <ion-text><strong>{{hab.Aptitud | titlecase}}</strong></ion-text>
                </h2>
                <div>
                  <p>{{hab.Descripcion}}</p>
                </div>
              </label>
                            </ion-item>
                        </ion-list>
                    </ion-label>
                </ion-item>

                <ion-item *ngIf="Referencias.length!=0">
                    <ion-label text-wrap>
                        <ion-text color="primary">
                            <h2> <strong>REFERENCIAS</strong> </h2>
                        </ion-text>
                        <ion-list>
                            <ion-item padding *ngFor="let ref of Referencias ">
                                <ion-icon name="person" slot="start" color="primary"></ion-icon>
                                <label>
                <h2>
                  <ion-text><strong>{{ref.Nombre_Referencia | titlecase}}</strong></ion-text>
                </h2>
                <div>
                  <p>{{ref.Ocupacion}}</p>

                </div>

                <ion-button (click)="llamar(ref.Telefono_Celular)" color="primary" fill="outline">
                  <ion-icon name="call" color="primary"></ion-icon>
                  &#32;{{ref.Telefono_Celular}}
                </ion-button>
              </label>
                            </ion-item>
                        </ion-list>
                    </ion-label>
                </ion-item>


            </ion-list>
        </div>

        <div *ngIf="completo==='false'">
            <div text-center>
                <img src="../../../assets/img/profile-loading.png" alt="Nombre">
                <br>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                <ion-text color="secondary">
                    <h4>{{'PAGES.SPEAKER-DETAIL.CARGANDO_PERFIL' | translate}}</h4>
                </ion-text>
                <ion-button fill="clear" size="small" color="secondary">
                    <ion-icon name="logo-twitter" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-button fill="clear" size="small" color="secondary">
                    <ion-icon name="logo-github" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-button fill="clear" size="small" color="secondary">
                    <ion-icon name="logo-instagram" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-button fill="clear" size="small" color="secondary">
                    <ion-icon name="logo-linkedin" slot="icon-only"></ion-icon>
                </ion-button>
            </div>

            <div text-center>
                <ion-skeleton-text animated style="width: 1%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                <ion-skeleton-text animated></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </div>

        </div>

        <div text-center *ngIf="completo==='error'">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <ion-grid>
                                        <ion-row>
                                            <ion-col>
                                                <img class="perfilError" src="../../../assets/img/404.png" alt="no cargo la pagina">
                                                <ion-text color="primary">
                                                    <h1> <strong> {{'PAGES.SPEAKER-DETAIL.NO_ES_POSIBLE' | translate}}</strong></h1>
                                                </ion-text>
                                                <p>{{'PAGES.SPEAKER-DETAIL.POR_FAVOR_REVISE' | translate}}</p>
                                                <h5> <strong> {{'PAGES.SPEAKER-DETAIL.PARA_RECARGAR' | translate}}</strong></h5>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>


</ion-content>