ion-toolbar {
    background: linear-gradient(to right, rgb(102, 0, 204), rgb(146, 37, 255));
}

img {
    max-width: 150px;
    border: 5px solid #ffffff;
    border-radius: 50%;
}

.perfilError {
    border-radius: 0%;
}

p {
    color: #60646b;
}

.spk-header {
    background-color: #eaedf3;
    width: 100%;
    text-align: center;
}