ion-toolbar {
    background: linear-gradient(to right, rgb(102, 0, 204), rgb(146, 37, 255));
}

.support-logo {
    padding: 20px 0;
    min-height: 200px;
    text-align: center;
}

.support-logo img {
    max-width: 359px;
}

.list {
    margin-bottom: 0;
}

.textoIngreso {
    font-size: 16px;
    border: #f5e7ff 1.5px solid;
    background-color: transparent;
    border-radius: 5px;
    margin-bottom: 18px;
}

.terminaFormulario {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0;
    margin-bottom: 8%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    background: var(--ion-item-background, var(--ion-background-color, rgb(255, 255, 255)));
    border-radius: 17px;
    box-shadow: 0px 4px 11px #d4d4d4;
}