<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Sugerencias y soporte de WAOCards</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content color="light">
    <div class="support-logo">
        <img src="assets/img/ICONO-9.gif" alt="Sugerencias">
    </div>

    <form #submitForm="ngForm" novalidate (ngSubmit)="submit(submitForm)">
        <ion-list class="terminaFormulario" lines="none">
            <ion-label position="stacked" color="primary">Envíenos sus sugerencias y/o experiencias en WAOCards, nosotros mejoraremos para usted.</ion-label>
            <ion-item class="textoIngreso">
                <ion-textarea [(ngModel)]="areaTexto" name="areaTexto" rows="6" required></ion-textarea>
            </ion-item>
        </ion-list>

        <ion-text color="danger">
            <!-- <p [hidden]="areaTexto.valid || submitted === false" padding-left> -->
            <!--   Support message is required -->
            <!-- </p> -->
        </ion-text>

        <div padding>
            <ion-button shape="round" [disabled]="banderaBloqueoBotonEnvio" (click)="EnviarComentariosNuevaCategoria()" expand="block" type="submit">Enviar</ion-button>
        </div>
    </form>
</ion-content>