<ion-header no-border>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-back-button color="dark"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content fullscreen color="light">
    <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager="true">

        <ion-slide>
            <img src="assets/img/ICONO-1.gif" class="slide-image" />
            <ion-text color="dark">
                <h1 class="slide-title">{{'PAGES.TUTORIAL.QUE_ES' | translate}}</h1>
            </ion-text>
            <p>
                <ion-text color="dark">
                    <strong>WAOCards</strong> {{'PAGES.TUTORIAL.ES_UNA_HERRA' | translate}}</ion-text>
            </p>
        </ion-slide>

        <ion-slide>
            <img src="assets/img/ICONO-2.gif" class="slide-image" />
            <h2 class="slide-title">{{'PAGES.TUTORIAL.COMO_ASI' | translate}}</h2>
            <p>
                <ion-text color="dark">
                    {{'PAGES.TUTORIAL.PUES_SI' | translate}}</ion-text>
            </p>
        </ion-slide>

        <ion-slide>
            <img src="assets/img/ICONO-10.gif" class="slide-image" />
            <h2 class="slide-title">Botón de Apagado</h2>
            <p>
                <ion-text color="dark">
                    Si su intención solo es buscar un profesional y no ser encontrado podrá dejar su estado en ser invisible, pero recuerde que para encontrar su profesional es requisito llenar el registro para hacer uso de la App.</ion-text>
            </p>
        </ion-slide>

        <ion-slide>
            <img src="assets/img/ICONO-3.gif" class="slide-image" />
            <h2 class="slide-title">{{'PAGES.TUTORIAL.LISTO_PARA' | translate}}</h2>
            <ion-button color="dark" fill="clear" (click)="getSignedUp()">
                {{'PAGES.TUTORIAL.CLARO_QUE_SI_BTN' | translate}}
                <ion-icon slot="end" name="arrow-forward"></ion-icon>
            </ion-button>
        </ion-slide>
    </ion-slides>

</ion-content>