    ion-toolbar {
        // TODO test transparent and fullscreen
        --background: transparent;
        --border-color: transparent;
    }
    
    ion-button {
        border-radius: 25px 25px;
    }
    
    .swiper-slide {
        display: block;
    }
    
    .slide-title {
        margin-top: 2.8rem;
        margin: 16px 15% 20px 15%;
    }
    
    .slide-image {
        max-height: 70%;
        max-width: 80%;
        margin: 16px 20% 10px 8%;
    }
    
    .principal-image {
        max-height: 50%;
        max-width: 60%;
        margin: 16px 20% 0px 20%;
    }
    
    b {
        font-weight: 500;
    }
    
    p {
        padding: 0 40px;
        font-size: 14px;
        line-height: 1.5;
        color: #60646b;
        b {
            color: #000000;
        }
    }
    
    .fondo {
        --ion-background: inear-gradient(to right, rgb(102, 0, 204), rgb(147, 42, 253));
    }
    
    ion-content {
        padding: 45%
    }
    
    ion-list {
        padding: 10%
    }
    
    .pie {
        padding: 5% 0% 5% 0%;
    }