<ion-header no-border>
    <ion-toolbar>
        <ion-toolbar>
            <ion-buttons padding slot="start">
                <ion-backdrop></ion-backdrop>
                <ion-icon class="atras" name="arrow-round-back"></ion-icon>
                <ion-title> Búsqueda por palabras clave</ion-title>
            </ion-buttons>
        </ion-toolbar>
    </ion-toolbar>
    <!-- el error puede estar en showCancelButton -->
    <ion-toolbar>
        <ion-searchbar cancelButtonText="Cancelar" placeholder="Buscar Profesional" [(ngModel)]="cadenaBusquedaManual" (keyup.enter)="buscarManual()" autocorrect="off"></ion-searchbar>
    </ion-toolbar>
</ion-header>

<ion-content color="light" padding>
    <div *ngIf="completo === 'false'" [hidden]="sinResultados == true" text-center>
        <img [hidden]="sinResultados == true" *ngIf="completo === 'false'" src="../../../assets/img/ICONO-8.gif" alt="buscar">
    </div>
    <div text-center *ngIf="completo === 'false'" [hidden]="sinResultados == true">
        <h1>
            <ion-text color="primary"><strong>Búsqueda por palabras clave</strong></ion-text>
        </h1>
        <h6>
            <ion-text>Haz una busqueda especifica, para mejores resultados ten encuenta estas categorias:</ion-text>
            <div text-left>
                <ul>
                    <li>Profesión.</li>
                    <li>Ciudad o país donde buscas.</li>
                    <li>Cargo.</li>
                    <li>Empresa.</li>
                    <li>Idioma.</li>
                    <li>Institución educativa.</li>
                </ul>
            </div>


            <ion-text>Ej: Comunicador social en Medellín que sepa inglés.</ion-text>
        </h6>
    </div>
    <br>
    <div text-center *ngIf="sinResultados == true">
        <img src="../../../assets/img/Zero_Contacts.png" alt="buscar">
        <h1>
            <ion-text color="primary"><strong>Sin resultados</strong></ion-text>
        </h1>
        <h6 *ngIf="sinResultados == true" padding>
            <ion-text>{{ mensajesSvr }}</ion-text>
        </h6>
    </div>
    <!---------------------------------------------- LISTADO DE TARJETAS DE PEROSNAS ENCONTRADAS DE MANERA MANUAL ---------------------------------------------------------------------->
    <div *ngIf="completo === 'true' && PEncontradas != ''">
        <!--<div *ngIf="true">-->
        <h6>
            <ion-text>Mostrando resultados para '<strong>{{cadenaBusquedaManual}}</strong>'</ion-text>
        </h6>
        <h2>
            <ion-text color="primary">1. Perfiles con sus criterios:</ion-text>
        </h2>
        <ion-list>
            <ion-grid fixed>
                <ion-row align-items-stretch>
                    <ion-col size="12" size-md="6" *ngFor="let encontrado of PEncontradas">
                        <ion-card class="speaker-card">
                            <ion-card-header>

                                <ion-item detail="false" lines="none">
                                    <ion-avatar slot="start">
                                        <img class="perfilFoto" [src]="URLavatar + encontrado.foto_perfil" alt="Speaker profile pic">
                                    </ion-avatar>
                                    <b>{{encontrado.Cargo_Actual | titlecase}}</b>
                                    <ion-button (click)="detalles(encontrado.Identificacion)" fill="outline" slot="end">Ver</ion-button>
                                </ion-item>
                            </ion-card-header>

                            <ion-card-content>
                                <ion-list>

                                    <ion-item lines="none">
                                        <b padding>Profesión:</b>
                                        <h3>{{encontrado.Profesion}}</h3>
                                    </ion-item>

                                    <ion-item>
                                        <b padding>Empresa:</b>
                                        <h3 *ngIf="encontrado.Empresa != null">{{encontrado.Empresa | titlecase}}</h3>
                                        <h3 *ngIf="encontrado.Empresa == null">N/A</h3>
                                    </ion-item>
                                    <ion-item>
                                        <ion-label text-wrap>
                                            <h6>
                                                <ion-text>Contactos en común:</ion-text>
                                            </h6>
                                            <ion-grid *ngIf="completo=='true'">
                                                <ion-row>
                                                    <ion-col *ngFor="let l of encontrado.AmigosComunes" size="2">
                                                        <img [src]="URLavatar + l.foto_perfil" alt="amigos_comun" class="AmigosComunFoto">
                                                    </ion-col>
                                                </ion-row>
                                            </ion-grid>
                                        </ion-label>

                                    </ion-item>



                                </ion-list>
                            </ion-card-content>

                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>
    </div>

    <!---------------------------------------------- LISTADO DE TARJETAS DE PEROSNAS SUGERIDAS ---------------------------------------------------------------------->
    <div *ngIf="completo === 'true'" [hidden]="PSugeridas === ''">
        <h2>
            <ion-text color="primary">2. Sugerencias:</ion-text>
        </h2>
        <ion-list>
            <ion-grid fixed>
                <ion-row align-items-stretch>
                    <ion-col size="12" size-md="6" *ngFor="let encontrado of PSugeridas">
                        <ion-card class="speaker-card">
                            <ion-card-header>
                                <ion-item detail="false" lines="none">
                                    <ion-avatar slot="start">
                                        <img class="perfilFoto" [src]="URLavatar + encontrado.foto_perfil" alt="Speaker profile pic">
                                    </ion-avatar>
                                    {{encontrado.Cargo_Actual}}
                                    <ion-button (click)="detalles(encontrado.Identificacion)" fill="outline" slot="end">Ver</ion-button>
                                </ion-item>
                            </ion-card-header>

                            <ion-card-content>
                                <ion-list>
                                    <ion-item>
                                        <b padding>Profesión:</b>
                                        <h3>{{encontrado.Profesion | titlecase}}</h3>
                                    </ion-item>

                                    <ion-item>
                                        <b padding>Empresa:</b>
                                        <h3 *ngIf="encontrado.Empresa != null">{{encontrado.Empresa}}</h3>
                                        <h3 *ngIf="encontrado.Empresa == null">N/A</h3>
                                    </ion-item>
                                </ion-list>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>
    </div>

</ion-content>