ion-toolbar {
    background: linear-gradient(to right, rgb(102, 0, 204), rgb(146, 37, 255));
}

ion-list {
    background: var(--ion-item-background, var(--ion-background-color, rgba(255, 255, 255, 0)));
}

.scroll {
    background: #ede3fa;
}

.ceroContactosimg {
    height: 230px;
}

.perfilFoto {
    display: block;
    width: 40px;
    height: 40px;
}

.AmigosComunFoto {
    max-height: 25px;
    max-width: 25px;
    // border: 2px solid #ffffff;
    border-radius: 50%;
}

img {
    height: 300px;
    align-content: center;
}

.speaker-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 17px 17px;
    box-shadow: none;
    background-color: #ffffff;
    --ion-background-color: #ffffff;
    -webkit-box-shadow: none;
}

.speaker-card ion-card-header {
    padding: 0;
}

.speaker-card ion-card-header .item {
    padding: 4px 16px;
}

.speaker-card ion-card-content {
    flex: 1 1 auto;
    padding: 0;
}

.outer-content {
    --ion-background-color: #f1f2f4
}