<ion-header no-border>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/app/tabs/speakers"></ion-back-button>
      </ion-buttons>
    <ion-title>Preferencias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <h6 text-center padding><ion-text color="primary">Preferencias básicas</ion-text></h6>
    <ion-list inset>
        <ion-item>
          <div slot="start">
              <ion-icon src="assets/icons/user.svg" color="primary"></ion-icon>
          </div>
          
          <h6> Configuración básica de su perfil</h6>
        </ion-item>
        <ion-item>
            <div slot="start">
                <ion-icon src="assets/icons/lock-closed-outline.svg" color="primary"></ion-icon>
            </div>
            
            <h6> Configuración de la privacidad</h6>
          </ion-item>
          <ion-item>
              <div slot="start">
                  <ion-icon src="assets/icons/lightbulb.svg" color="primary"></ion-icon>
              </div>              
              <h6> Configuración de las notificaciones</h6>
            </ion-item>
    </ion-list>
    <h6 text-center padding><ion-text color="primary">Otras preferencias</ion-text></h6>
    <ion-list inset>
        <ion-item>Acuerdo de usuario</ion-item>
        <ion-item>Cerrar sesión</ion-item>
    </ion-list>
    <div padding text-center>
       <img class="logoHorizontal" src="assets/img/waoLogoSimboloH.PNG" alt="Logo Horizaontal">
    </div>
</ion-content>
