<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content id="page" class="fondo" scroll="false" padding>


    <div class="signup-logo">
        <img src="assets/img/appicon.png" alt="Ionic Logo">
        <h1 text-center>
            <ion-text color="light"> <strong>{{'PAGES.SIGNUP.TITLE' | translate}}</strong></ion-text>
        </h1>

    </div>

    <ion-content>
        <ion-list (click)="abrirUsuario()" inset lines="none">
            <ion-item>
                <div slot="start">
                    <ion-icon src="assets/icons/user.svg" color="primary" class="iconOption"></ion-icon>
                </div>

                <h3> Si es <strong>usuario</strong></h3>

                <div slot="end">
                    <ion-icon name="return-right" color="primary" class="iconOption"></ion-icon>
                </div>
            </ion-item>

        </ion-list>

        <!-- <ion-list (click)="abrirEmpresa();" inset lines="none">

            <ion-item>
                <div slot="start">
                    <ion-icon src="assets/icons/briefcase.svg" color="primary" class="iconOption"></ion-icon>
                </div>

                <h3> Si es <strong>empresa o institución</strong></h3>

                <div slot="end">
                    <ion-icon name="return-right" color="primary" class="iconOption"></ion-icon>
                </div>
            </ion-item>

        </ion-list> -->


    </ion-content>