.signup-logo {
    padding: 20px 0;
    min-height: 200px;
    text-align: center;
}

.signup-logo img {
    max-width: 150px;
}

.sc-ion-segment-md-hion-toolbar:not(.ion-color).sc-ion-segment-md-s>ion-segment-button,
ion-toolbar .sc-ion-segment-md-h:not(.ion-color).sc-ion-segment-md-s>ion-segment-button {
    color: rgb(205, 159, 250)
}

.list {
    margin-bottom: 10;
    width: 100%;
}

.list-md {
    background: rgba(255, 255, 255, 0.678);
}

.list-ios {
    background: rgba(255, 255, 255, 0.685);
}

.ion-padding,
[padding] {
    --padding-start: var(--ion-padding, 0px);
    --padding-end: var(--ion-padding, 0px);
    --padding-top: var(--ion-padding, 0px);
    --padding-bottom: var(--ion-padding, 0px);
}

.ion-padding {
    --padding-start: var(--ion-padding, 0px);
    --padding-end: var(--ion-padding, 0px);
    --padding-top: var(--ion-padding, 0px);
    --padding-bottom: var(--ion-padding, 0px);
}

p {
    text-align: center;
    color: rgb(18, 8, 31)
}

.fondo {
    --ion-background: linear-gradient(to right, rgb(102, 0, 204), rgb(147, 42, 253));
    height: 100%;
    overflow: auto;
}

.formulario {
    --ion-background: rgba(255, 255, 255, 0.219);
    background-color: rgba(255, 255, 255, 0.445);
    width: 100%;
}

ion-content {
    padding: 45%;
    --ion-background: rgba(255, 255, 255, 0);
    width: 100%;
}

ion-list {
    padding: 10%;
    --ion-background: rgba(255, 255, 255, 0.534);
}

ion-item {
    --background: #3881ff00;
    --color: rgb(27, 14, 39);
}

.list-md.list-inset {
    border-radius: 18px;
}

.logoHorizontal {
    width: 160px;
}

ion-item {
    width: 100%;
}

.iconOption {
    font-size: 48px;
}