<ion-header no-border>
    <ion-toolbar no-border>
        <ion-buttons slot="start">
            <ion-button (click)="dismiss(false)">
                <ion-icon class="atras" name="arrow-round-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-item color='transparent' lines='none' no-padding>
            <ion-title color="light"> Contactos de {{user | titlecase}} </ion-title>

            <ion-text class="nameTitle"> </ion-text>
        </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content color="light" padding>
    <!-- aqui se muestra todops los contactos que tiene una persona hachos mediante pequeñas tarjetas -->
    <div *ngIf="contactos.error == false">
        <ion-list>
            <ion-grid fixed>
                <ion-row align-items-stretch>
                    <ion-col size="12" size-md="6" *ngFor="let contacto of contactos.amigos">
                        <ion-card class="speaker-card">
                            <ion-card-header>
                                <ion-item detail="false" lines="none" (click)="presentModal(contacto.Identificacion)">
                                    <ion-avatar slot="start">
                                        <img [src]="URLavatar + contacto.foto_perfil" alt="contacto profile pic">
                                    </ion-avatar>
                                    {{contacto.Nombre | titlecase}}
                                </ion-item>
                            </ion-card-header>

                            <ion-card-content (click)="presentModal(contacto.Identificacion)" text-center>
                                <!-- <ion-list> -->

                                <!-- <ion-item (click)="presentModal(contacto.Identificacion)" text-center> -->
                                <!-- <ion-item > -->
                                <h3><b>Cargo/Profesión</b><br>
                                    <!--{{profession}}-->
                                    {{contacto.Cargo_Actual}}</h3>
                                <!-- </ion-item> -->
                                <!-- </ion-item> -->
                                <!-- </ion-list> -->
                            </ion-card-content>

                            <ion-row no-padding justify-content-center>


                                <ion-button fill="clear" size="small" color="primary" (click)="presentModal(contacto.Identificacion)">
                                    <ion-icon name="today" slot="start"></ion-icon>
                                    <strong> abrir CV </strong>
                                    <!-- {{verHojaVida}} -->
                                </ion-button>

                            </ion-row>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-list>
    </div>




</ion-content>