.speaker-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 17px 17px;
    box-shadow: none;
    background-color: #ffffff;
    --ion-background-color: #ffffff;
    box-shadow: 0px 4px 11px #d4d4d4;
    border-color: #ffffff;
}

.list-md {
    background: transparent;
}

.list-ios {
    background: transparent;
}