<ion-header no-border>
    <ion-toolbar>
        <!-- boton pra cerrar el modal aparentemente boton de gregresar -->
        <ion-buttons slot="start">
            <ion-button (click)="dismiss()">
                <ion-icon class="atras" name="arrow-round-back"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-title color="light"> Campo de acción </ion-title>

    </ion-toolbar>
</ion-header>

<ion-content color="light" padding="true">
    <!-- depende del metodo por el que se ingrese en visivilidad deseada por la variable modoPreferencias muestra  -->
    <!-- <h4> {{textoMostradoEjecucion}} </h4> -->

    <!-- <ion-list>
    <ion-list-header>
      <h2>Categorías</h2>
    </ion-list-header>

     se mira todos los campos de items qie son 7 en el momento 
    <div *ngFor='let categoriaIndividual of items; let i index'>

       mostramos la categoria 
       se crea el elemento select 

      <ion-label><strong>{{categoriaIndividual.tipo}}</strong></ion-label>
       class="item item-input ion-select" 
       <ion-item> 
      <ion-grid>
        <ion-row>
          <ion-col size="1">
            <ion-icon name="settings" class="tamanoicon"></ion-icon>
          </ion-col>
          <ion-col size="11">
            <ion-select interface="action-sheet" id="{{i}}" placeholder='Seleccione sus preferencias'
              cancelText="cancelar" okText="Ok" class="ion-select.myCustomSelect" multiple="true"
              (ionChange)="cambioItemSeleccionado($event, i )">

               se adicionan los elementos a la seleccion 
              <div *ngFor='let  itemIndividual of categoriaIndividual.elementos'>
                <ion-select-option value="{{itemIndividual.item}}" class="ion-text-wrap"
                  [selected]="banderaComparacionA(itemIndividual.item)">
                  {{itemIndividual.nombre}}
                </ion-select-option>
              </div>

            </ion-select>
          </ion-col>
        </ion-row>
      </ion-grid>
       </ion-item> 


    </div>

  </ion-list> -->

    <!-- <ion-button (click)="guardarPreferenciasVisibilidadUsuario()">Guardar cambios</ion-button> -->


    <!-- <ion-list-header> -->
    <!-- class="fondoEstatico" -->
    <!-- <ion-text >
          <h1>categorias</h1>
        </ion-text> -->
    <!-- </ion-list-header> -->
    <!-- [hidden]="completo == 'error'" -->

    <div class="story " scrollX="true">
        <div class="parent">

            <div (click)="tipos(9)" class="doscuadros">

                <ion-icon color="primary" class="div11 tamanoicon" src="../../../assets/icons/calendar.svg">
                </ion-icon>


                <h5 class="div22">mostrar todo</h5>
            </div>

            <div (click)="tipos(i)" *ngFor="let categoriaIndividual of categorias; let i=index" class="doscuadros ">
                <ion-icon color="primary" class="div11 tamanoicon" src={{iconosMuestra[i]}}>
                </ion-icon>
                <h5 class="div22">{{categoriaIndividual.tipo}}</h5>
            </div>

            <div (click)="tipos(10)" class="doscuadros">
                <ion-icon color="primary" class="div11 tamanoicon" src="../../../assets/icons/download-outline.svg">
                </ion-icon>
                <h5 class="div22">otro</h5>
            </div>
        </div>
    </div>



  <div *ngFor="let categoriaIndividual of categorias; let i=index ">
    <!-- aqui se muestran las diferentes categorias que existen en la base de datos mediante botones se accede -->
    <div *ngIf="datosDivCategoria == i || datosDivCategoria==9 ">
      <p >
        <ion-chip *ngFor="let  itemIndividual of categoriaIndividual.elementos"
          (click)="clickElementoChip(itemIndividual.item)" outline color="{{deficinioncolor(itemIndividual.item)}}">
          <div *ngIf="deficinioncolor(itemIndividual.item) == 'primary'">
            <ion-icon name="checkmark-circle"></ion-icon>
          </div>
          <ion-label>{{itemIndividual.nombre}}</ion-label>
        </ion-chip>
      </p>

    </div>
    <div *ngIf="datosDivCategoria==10 ">

        <ion-textarea placeholder="Si no encuentra su campo de acción, por favor envíenos su sugerencia, Gracias" id="myInput" size="text" [(ngModel)]="areaTexto" rows="10"></ion-textarea>
    </div>
  </div>




  </ion-content>


<ion-footer color="light" no-border>
    <div *ngIf="datosDivCategoria != 10 ">
        <ion-button shape="round" expand="full" size="large" (click)="guardarPreferenciasVisibilidadUsuario()">Guardar cambios
        </ion-button>
    </div>

    <div *ngIf="datosDivCategoria==10 ">
        <ion-button shape="round" expand="full" size="large" (click)="EnviarComentariosNuevaCategoria()" disabled="{{banderaBloqueoBotonEnvio}}">Enviar comentarios
        </ion-button>
    </div>
</ion-footer>

