// .item-select select {
//     float: right;
//     padding-bottom: 0;
// padding-left: 0;
// padding-right: 0;
// padding-top: 0
// }

.ion-select select {
    padding-left: 10!important;
}

.ion-select.myCustomSelect{
    width: 100%;
    max-width: 100%;
  }
  .tamanoicon {
    display: block;
    fill: currentColor;
    stroke: currentColor;
    height: 104%;
    width: 100%;
}

//--------------------------------------------------------------------botones superiores
.story {
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  height: 100px;
}

.ElementoCentral{
  padding: 30% 30% 30% 30%;
}

.story_img {
  width: 70px;
  height: 30px;
  border-radius: 10%;
}

.story_scroll {
  display: inline-block;
  width: 70px;
  height: 60px;
  //margin: 8px;
  overflow-x: auto;
  overflow-y: hidden;
}

.desplazado {
  background-color: #16d100;
  // border: black 1px solid;
  position: relative;
  right: 0px;
  // height: 150px;
  left: 0px;
  top: 0px;
  bottom:0px;
}
.tamanoicon {
  //  font-size: 37px;
  // height: 190%;
   display: list-item;
   height: 100%;
    width: 100%;
    
}

.parent {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr 0.2fr;
  grid-column-gap: 14px;
  grid-row-gap: 0px;
  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 1 / 2 / 2 / 3; }
  .div3 { grid-area: 1 / 3 / 2 / 4; }
  .div4 { grid-area: 1 / 4 / 2 / 5; }
  .div5 { grid-area: 1 / 5 / 2 / 6; }
  .div6 { grid-area: 1 / 6 / 2 / 7; }
  .div7 { grid-area: 1 / 7 / 2 / 8; }
  .div8 { grid-area: 1 / 8 / 2 / 9; }
  .div9 { grid-area: 1 / 9 / 2 / 10; }
  }
  .doscuadros {display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.2fr;//repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 4px;
    .div11 { grid-area: 1 / 1 / 2 / 2; }
    .div22 { grid-area: 2 / 1 / 3 / 2; }
  }
  
  
  
