<ion-header no-border>
    <ion-toolbar>
        <ion-toolbar>
            <ion-buttons padding slot="start">
                <ion-backdrop></ion-backdrop>
                <ion-icon class="atras" name="arrow-round-back"></ion-icon>
                <ion-title>{{'PAGES.AGITAR.TITLE' | translate}}</ion-title>

            </ion-buttons>

        </ion-toolbar>

    </ion-toolbar>
</ion-header>
<ion-content *ngIf="estaAgitando === 'correcto'">
    <!-- <ion-content> -->
    <div text-center>
        <img *ngIf="numeroContactos != 0" src="../../../assets/img/found-icon.png" alt="encontrados" class="imgencontrados" width="48%" height="48%">
        <img *ngIf="numeroContactos == 0" src="../../../assets/img/icon-not-found.png" alt="Noencontrados" width="200px" height="200px">

        <h1 *ngIf="numeroContactos == 1 && numeroContactos != 0">
            <ion-text color="primary"><strong>{{numeroContactos}} {{'PAGES.AGITAR.CONTACTO_CERCANO' | translate}}:</strong>
            </ion-text>
        </h1>
        <h1 *ngIf="numeroContactos != 1 && numeroContactos != 0">
            <ion-text color="primary"><strong>{{numeroContactos}} {{'PAGES.AGITAR.CONTACTOS_CERCANOS' | translate}}:</strong>
            </ion-text>
        </h1>
        <h1 *ngIf="numeroContactos == 0">
            <ion-text color="danger"><strong>{{'PAGES.AGITAR.LO_SENTIMOS' | translate}}</strong> </ion-text>
        </h1>
        <h6 *ngIf="numeroContactos != 0">
            <ion-text>{{'PAGES.AGITAR.EN_UN_ALCANCE' | translate}}</ion-text>
        </h6>
        <h6 *ngIf="numeroContactos == 0">
            <ion-text>{{'PAGES.AGITAR.VUELVA_A_INTENTARLO' | translate}}</ion-text>
        </h6>
    </div>
</ion-content>

<ion-content padding>
    <div text-center class="imagen">
        <!-- <ion-button color="primary" (click)="PruebaAgiteahora()">Agite Ahora</ion-button>
        <ion-button color="primary" (click)="PruebaAgitando()">Esta agitando</ion-button>
        <ion-button color="primary" (click)="PruebaBuscando()">Buscando</ion-button>
        <ion-button color="primary" (click)="PruebaCorrecto()">Correcto</ion-button>
 -->

        <div *ngIf="agiteahora === false">
            <img *ngIf="agiteahora === false && estaAgitando ==='false'&& buscando === 0" src="../../../assets/img/agitar.png" alt="agitar_imagen">

            <h4 *ngIf="agiteahora === false && estaAgitando ==='false' && buscando === 0">
                {{'PAGES.AGITAR.PRESIONE_EL' | translate}}
                <ion-text color="primary">{{'PAGES.AGITAR.AGITAR' | translate}} </ion-text>{{'PAGES.AGITAR.SU_DISPOSITIVO' | translate}}
            </h4>
        </div>
        <div *ngIf="agiteahora == true && buscando === 0">
            <img *ngIf="agiteahora == true" src="../../../assets/img/agitar.png" alt="agitar_imagen">
            <h4>
                <ion-text color="primary">{{'PAGES.AGITAR.AGITE_SU_DISPO' | translate}} </ion-text>
            </h4>
        </div>
        <div *ngIf="buscando === 1">
            <h1>
                <!-- <ion-text color="primary">Agitando...</ion-text> -->
                <ion-text color="primary">
                    <h1> <strong> {{'PAGES.AGITAR.BUSCANDO' | translate}}</strong></h1>
                </ion-text>
                <ion-spinner color="primary" name="dots">

                </ion-spinner>

            </h1>
        </div>

        <div *ngIf="estaAgitando === 'true' && buscando === 0">
            <h1>
                <ion-text color="primary">{{'PAGES.AGITAR.AGITANDO' | translate}}</ion-text>
            </h1>
        </div>

        <div *ngIf="agiteahora == true && buscando === 0" full>
            <h2> Mov:{{mov}} </h2>
            <!--   <ion-button color="danger" (click)="detener()">
                Detener
            </ion-button> -->
        </div>
        <!--         <div *ngIf="estaAgitando === 'false' && buscando === 0">
            <ion-button (click)="acelerar()">
                {{'PAGES.AGITAR.INICIAR_BTN' | translate}}
            </ion-button>
        </div> -->



    </div>

    <div text-center *ngIf="estaAgitando === 'correcto'">


        <div *ngIf="numeroContactos != 0">
            <ion-chip color="primary" outline="true" *ngFor="let speaker of registro.PersonasCercanas.cercanos" (click)="detalles(speaker.Identificacion)">
                <ion-avatar>
                    <img [src]="URLavatar + speaker.foto_perfil">
                </ion-avatar>
                <ion-label> <strong>{{speaker.Profesion}}</strong> </ion-label>
                <ion-label *ngIf='speaker.Cargo_Actual'> {{speaker.Cargo_Actual}} </ion-label>
                <ion-icon color="primary" src="assets/icons/user.svg"></ion-icon>
            </ion-chip>

        </div>

    </div>
    <ion-fab *ngIf="estaAgitando === 'correcto'" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="primary" (click)="mapa()">
            <ion-icon src="assets/icons/map.svg"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>