ion-toolbar {
    background: linear-gradient(to right, rgb(102, 0, 204), rgb(146, 37, 255));
}

ion-buttons {
    padding: 5px 0px 0px 0px;
}

.atras {
    font-size: 26px
}

.imagen {
    padding: 15% 20% 5% 20%;
}

.encontrado {
    padding: 2% 20% 5% 20%;
}

ion-content {
    background-color: #6600cc;
}

ion-chip {
    max-height: 30px;
}

ion-spinner {
    width: 220px !important;
    height: 430px !important;
}

.imgencontrados {
    padding-top: 1%;
}