<ion-header *ngIf="carga_completa === true" no-border>
    <ion-toolbar color="light">
        <img src="" alt="">
        <ion-title> Completar el registro de su CV</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="light">
    <form *ngIf="carga_completa === true" #signupForm="ngForm" novalidate>
        <ion-list color="light" lines="none" class="terminaFormularioHead" padding>
            <ion-item color="light">
                <ion-grid>
                    <ion-row align-items-start>
                        <ion-col>
                            <div *ngIf="fototomada==false">
                                <img src="assets/img/profile.jpg" width="150" height="150" alt="seleccionar perfil">
                            </div>
                            <div *ngIf="fototomada==true">
                                <img src="{{fotografia}}" width="150" height="150" alt="seleccionar perfil">
                            </div>
                            <ion-row>
                                <ion-col size="6">
                                    <ion-button (click)="GaleriaImagen()" fill="clear" size="small" color="primary">
                                        <ion-icon name="images" slot="icon-only"></ion-icon>
                                    </ion-button>
                                </ion-col>
                                <ion-col size="6">
                                    <ion-button (click)="tomarFoto()" fill="clear" size="small" color="primary">
                                        <ion-icon name="camera" slot="icon-only"></ion-icon>
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-col>

                        <ion-col>
                            <h2>
                                <ion-text><strong>{{usr.Nombre | titlecase}} </strong></ion-text>
                            </h2>
                            <h5>
                                <ion-text>ID: {{usr.Identificacion}}</ion-text>

                            </h5>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>

        </ion-list>
        <div class="btnSubirPDF" text-center>
            <ion-button (click)="seleccionarArchivo()" shape="round"> Suba su CV en PDF</ion-button>
        </div>
        <ion-list lines="none" class="terminaFormulario" padding>

            <ion-label *ngIf="signup.Tipo_Perfil == ''" position="stacked" color="primary">Seleccione el tipo de perfil</ion-label>
            <ion-label *ngIf="signup.Tipo_Perfil != ''" color="primary">Seleccionado:
                <ion-chip *ngIf="signup.Tipo_Perfil == '1'">
                    <ion-icon src="assets/icons/user.svg" color="primary"></ion-icon>
                    <ion-label>{{signup.Tipo_Perfil}}. <strong>Profesional</strong></ion-label>
                    <ion-icon (click)="seleccionarTipoPerfil('')" name="close"></ion-icon>
                </ion-chip>
                <ion-chip *ngIf="signup.Tipo_Perfil == '2'">
                    <ion-icon src="assets/icons/user.svg" color="tertiary"></ion-icon>
                    <ion-label>{{signup.Tipo_Perfil}}. <strong>Técnico</strong></ion-label>
                    <ion-icon (click)="seleccionarTipoPerfil('')" name="close"></ion-icon>
                </ion-chip>
                <ion-chip *ngIf="signup.Tipo_Perfil == '3'">
                    <ion-icon src="assets/icons/user.svg" color="twitter"></ion-icon>
                    <ion-label>{{signup.Tipo_Perfil}}. <strong>Empírico</strong></ion-label>
                    <ion-icon (click)="seleccionarTipoPerfil('')" name="close"></ion-icon>
                </ion-chip>

                <ion-button expand="block" shape="round" (click)="presentModalVisibilidadDeseada()">selección campo de acción</ion-button>

            </ion-label>
            <ion-grid text-center *ngIf="signup.Tipo_Perfil == ''">
                <ion-row text-center>
                    <ion-col size="4">
                        <ion-button (click)="seleccionarTipoPerfil('1')" fill="clear" size="large" color="primary">
                            <ion-icon src="assets/icons/user.svg" color="primary" class="iconoProfesion"></ion-icon>
                        </ion-button>
                        <ion-label (click)="seleccionarTipoPerfil('1')" color="primary">Profesional</ion-label>
                    </ion-col>
                    <ion-col size="4">
                        <ion-button (click)="seleccionarTipoPerfil('2')" fill="clear" size="large" color="tertiary">
                            <ion-icon src="assets/icons/user.svg" color="tertiary" class="iconoProfesion"></ion-icon>
                        </ion-button>
                        <ion-label (click)="seleccionarTipoPerfil('2')" color="tertiary">Técnico</ion-label>
                    </ion-col>
                    <ion-col size="4">
                        <ion-button (click)="seleccionarTipoPerfil('3')" fill="clear" size="large" color="twitter">
                            <ion-icon src="assets/icons/user.svg" color="twitter" class="iconoProfesion"></ion-icon>
                        </ion-button>
                        <ion-label (click)="seleccionarTipoPerfil('3')" color="twitter">Empírico</ion-label>
                    </ion-col>
                </ion-row>
            </ion-grid>

        </ion-list>

        <ion-list *ngIf="signup.Tipo_Perfil != ''" lines="none" class="terminaFormulario" padding>
            <!--DATOS RESTANTES-->
            <ion-label class="tituloTabulado" color="primary" padding>
                <h2><strong>1. DATOS BÁSICOS</strong></h2>
            </ion-label>
            <!--Entrada de la ciudad-->
            <ion-label position="stacked" color="primary">Ciudad de residencia</ion-label>
            <ion-item class="textoIngreso">
                <ion-input type="text" [(ngModel)]="signup.Ciudad_Residencia" name="Ciudad_Residencia" placeholder="Ciudad actual">
                </ion-input>
            </ion-item>


            <!--PERFIL LABORAL-->
            <!--Entrada de texto para el perfil profesional-->
            <ion-label position="stacked" color="primary">Perfil</ion-label>
            <ion-item class="textoIngreso">
                <ion-textarea class="PerfilTextArea" [(ngModel)]="signup.Perfil" name="Perfil" placeholder="Descripción de su perfil profesional enfatizando sus cualidades y competencias."></ion-textarea>
            </ion-item>
            <ion-item lines="none">
                <ion-label>¿Labora actualmente? </ion-label>
                <ion-toggle color="success" (ionChange)="updateSelectedValue($event)" value="Cargoactual"></ion-toggle>
            </ion-item>
            <!--Entrada de nombre del cargo-->
            <h6></h6>
            <ion-label *ngIf="TieneCargoActual" position="stacked" color="primary">Cargo actual</ion-label>
            <ion-item *ngIf="TieneCargoActual" class="textoIngreso">
                <ion-input type="text" [(ngModel)]="signup.Cargo_Actual" name="Cargo_Actual" placeholder="Cargo en el que se desempeña actualmente"></ion-input>
            </ion-item>
        </ion-list>


        <!--EDUCACIÓN-->
        <ion-list *ngIf="signup.Tipo_Perfil != ''" lines="none" class="terminaFormulario" padding>

            <ion-label class="tituloTabulado" position="stacked" color="primary" padding>
                <h2><strong>2. FORMACIÓN ACADÉMICA</strong></h2>
            </ion-label>
            <ion-item *ngIf="signup.Tipo_Perfil == '3'" lines="none">
                <ion-label>¿Ha estudiado alguna vez? </ion-label>
                <ion-toggle color="success" (ionChange)="updateSelectedValue($event)" value="estudiado"></ion-toggle>
            </ion-item>

            <div *ngIf="haEstudiado == true || signup.Tipo_Perfil == '2' || signup.Tipo_Perfil == '1'">
                <ion-label position="stacked" color="primary">Nivel de educación</ion-label>
                <ion-item class="textoIngreso">
                    <ion-select class="selecionador" [(ngModel)]="educa.Nivel_Academico" (ionChange)="updateSelectedValue($event)" name="Nivel_Academico" placeholder="Seleccione" interface="action-sheet">
                        <ion-select-option *ngIf="signup.Tipo_Perfil == '3'" value="Primaria">
                            Primaria
                        </ion-select-option>

                        <ion-select-option *ngIf="signup.Tipo_Perfil == '3'" value="Bachillerato">
                            Bachillerato
                        </ion-select-option>

                        <ion-select-option *ngIf="signup.Tipo_Perfil == '2'" value="Técnico">
                            Técnico
                        </ion-select-option>

                        <ion-select-option *ngIf="signup.Tipo_Perfil == '2'" value="Tecnólogo">
                            Tecnólogo
                        </ion-select-option>

                        <ion-select-option *ngIf="signup.Tipo_Perfil == '1'" value="Pregrado">
                            Universitario
                        </ion-select-option>

                        <ion-select-option *ngIf="signup.Tipo_Perfil == '1'" value="Especialización">
                            Especialización
                        </ion-select-option>

                        <ion-select-option *ngIf="signup.Tipo_Perfil == '1'" value="Maestria">
                            Maestria
                        </ion-select-option>

                        <ion-select-option *ngIf="signup.Tipo_Perfil == '1'" value="Doctorado">
                            Doctorado
                        </ion-select-option>


                    </ion-select>
                </ion-item>


                <!--<ion-label *ngIf="signup.Tipo_Perfil=='2' && TecnicoSeleccionado || TecnologoSeleccionado" position="stacked" color="primary">Título Técnico/Tecnólogo</ion-label>-->
                <ion-label *ngIf="signup.Tipo_Perfil=='3'" position="stacked" color="primary">Ocupación</ion-label>

                <!-- Campo si es profesional -->
                <ion-label *ngIf="signup.Tipo_Perfil=='1' && DoctoradoSeleccionado || EspecializacionSeleccionado || PregradoSeleccionado || MaestriaSeleccionada" position="stacked" color="primary">Título Profesional</ion-label>
                <auto-complite-input #ACIProfesional parametroBusqueda='TituloOP' placeholder='Ingrese Título Profesional' *ngIf="DoctoradoSeleccionado || EspecializacionSeleccionado || PregradoSeleccionado || MaestriaSeleccionada"> </auto-complite-input>

                <!-- Campo si es Especialización -->
                <ion-label *ngIf="signup.Tipo_Perfil=='1' && DoctoradoSeleccionado || EspecializacionSeleccionado || MaestriaSeleccionada" position="stacked" color="primary"> Título Especialización </ion-label>
                <auto-complite-input #ACIEspecializacion parametroBusqueda='TituloOP' placeholder='Ingrese Título Especialización' *ngIf="DoctoradoSeleccionado || EspecializacionSeleccionado || MaestriaSeleccionada"> </auto-complite-input>

                <!-- campo maestria -->
                <ion-label *ngIf="signup.Tipo_Perfil=='1' && DoctoradoSeleccionado || MaestriaSeleccionada" position="stacked" color="primary"> Título Maestría </ion-label>
                <auto-complite-input #ACIMaestria parametroBusqueda='TituloOP' placeholder='Ingrese Título Maestría' *ngIf="MaestriaSeleccionada || DoctoradoSeleccionado"> </auto-complite-input>

                <!-- Campo si es doctorado -->
                <ion-label *ngIf="signup.Tipo_Perfil=='1' && DoctoradoSeleccionado" position="stacked" color="primary"> Título Doctorado </ion-label>
                <auto-complite-input #ACIDoctorado parametroBusqueda='TituloOP' placeholder='Ingrese Título Doctorado' *ngIf="DoctoradoSeleccionado"> </auto-complite-input>

                <!-- Campo de texto si es empírico -->
                <ion-input *ngIf="signup.Tipo_Perfil=='3'" class="selecionador" [hidden]="ProfesionNuevaAgregada==true" [(ngModel)]="educa.Titulo_Obtenido" name="Titulo_Obtenido" interface="action-sheet" placeholder="Ocupación"></ion-input>



                <!-- Campo de texto si es técnico/tecnólogo -->
                <ion-label *ngIf="signup.Tipo_Perfil=='2' && TecnicoSeleccionado" position="stacked" color="primary"> Título Técnico </ion-label>
                <ion-label *ngIf="signup.Tipo_Perfil=='2' && TecnologoSeleccionado" position="stacked" color="primary"> Título Tecnológico </ion-label>
                <auto-complite-input #ACITecnicoTecnologo parametroBusqueda='TituloOT' [placeholder]="TecnologoSeleccionado ? 'Ingrese Título Tecnológico': 'Ingrese Título Técnico'" *ngIf="TecnicoSeleccionado || TecnologoSeleccionado"> </auto-complite-input>



                <!--Entrada de Ubicación del la institución educativa-->
                <ion-label *ngIf="DoctoradoSeleccionado || EspecializacionSeleccionado || PregradoSeleccionado || MaestriaSeleccionada" position="stacked" color="primary">Institución Educativa Profesional</ion-label>
                <auto-complite-input #ACIInstEduPregrado parametroBusqueda='InstitucionE' placeholder='Institución Educativa Pregrado' *ngIf="DoctoradoSeleccionado || EspecializacionSeleccionado || PregradoSeleccionado || MaestriaSeleccionada"> </auto-complite-input>

                <ion-label *ngIf="DoctoradoSeleccionado || EspecializacionSeleccionado || MaestriaSeleccionada" position="stacked" color="primary">Institución Educativa Especialización</ion-label>
                <auto-complite-input #ACIInstEduEspecializacion parametroBusqueda='InstitucionE' placeholder='Institución Educativa Especialización' *ngIf="DoctoradoSeleccionado || EspecializacionSeleccionado || MaestriaSeleccionada"> </auto-complite-input>

                <ion-label *ngIf="MaestriaSeleccionada || DoctoradoSeleccionado" position="stacked" color="primary">Institución Educativa Maestria</ion-label>
                <auto-complite-input #ACIInstEduMaestria parametroBusqueda='InstitucionE' placeholder='Institución Educativa Maestría' *ngIf="MaestriaSeleccionada || DoctoradoSeleccionado"></auto-complite-input>


                <ion-label *ngIf="DoctoradoSeleccionado" position="stacked" color="primary">Institución Educativa Doctorado</ion-label>
                <auto-complite-input #ACIInstEduDoctorado parametroBusqueda='InstitucionE' placeholder='Institución Educativa Doctorado' *ngIf="DoctoradoSeleccionado"></auto-complite-input>


                <ion-label *ngIf="TecnicoSeleccionado || TecnologoSeleccionado" position="stacked" color="primary">Institución Educativa Técnico/Tecnólogo</ion-label>
                <auto-complite-input #ACIInstEduTecnicoTecnologo parametroBusqueda='InstitucionE' [placeholder]="TecnicoSeleccionado ? 'Institución Educativa Técnico': 'Institución Educativa Tecnólogo'" *ngIf="TecnicoSeleccionado || TecnologoSeleccionado"></auto-complite-input>


                <ion-item>
                    <ion-button slot="end" (click)="anadireducacion()" shape="round">
                        <ion-icon name="add"></ion-icon>
                        <ion-text>&#32; Agregar
                        </ion-text>
                    </ion-button>
                </ion-item>
            </div>
        </ion-list>

        <ion-list *ngIf="signup.Tipo_Perfil != ''" lines="none" class="terminaFormulario" padding>
            <!--EDUCACIÓN-->
            <ion-label class="tituloTabulado" position="stacked" color="primary" padding>
                <h2><strong>3. CURSOS/DIPLOMADOS</strong></h2>
            </ion-label>
            <!-- Campo de texto si es empírico -->
            <ion-item class="textoIngreso">
                <ion-input class="selecionador" [(ngModel)]="educa.Titulo_Obtenido" name="Titulo_Obtenido" type="text" placeholder="Título del curso/diplomado">
                </ion-input>
            </ion-item>

            <!--Entrada de Ubicación del la institución educativa-->

            <ion-label position="stacked" color="primary">Institución Educativa Curso/Diplomado
            </ion-label>
            <auto-complite-input #ACIInstEduCursoDiplomado parametroBusqueda='InstitucionE'> </auto-complite-input>

            <ion-item>
                <ion-button slot="end" (click)="anadircursodiplomado()" shape="round">
                    <ion-icon name="add"></ion-icon>
                    <ion-text>&#32; Agregar</ion-text>
                </ion-button>
            </ion-item>
        </ion-list>


        <!--EXPERIENCIAS LABORALES-->
        <ion-list *ngIf="signup.Tipo_Perfil != ''" lines="none" class="terminaFormulario" padding>

            <ion-label class="tituloTabulado" position="stacked" color="primary" padding>
                <h2><strong>4. EXPERIENCIA LABORAL</strong></h2>
            </ion-label>
            <ion-item lines="none">

                <ion-label>¿Tiene experiencia? </ion-label>
                <ion-toggle color="success" (ionChange)="updateSelectedValue($event)" value="trabajado"></ion-toggle>
            </ion-item>
            <div *ngIf="haTrabajado == true">

                <!--Entrada de texto para Empresa para la que trabajó-->
                <ion-label position="stacked" color="primary">Empresa</ion-label>
                <auto-complite-input #ACIEmpresa parametroBusqueda='Empresas'> </auto-complite-input>


                <!--Boton para agregar otra experiencia laboral-->
                <ion-item>
                    <ion-button slot="end" (click)="anadirexperiencia()" shape="round">
                        <ion-icon name="add"></ion-icon>
                        <ion-text>&#32; Agregar</ion-text>
                    </ion-button>
                </ion-item>
            </div>
        </ion-list>


        <!--IDIOMAS-->
        <ion-list *ngIf="signup.Tipo_Perfil != ''" lines="none" class="terminaFormulario" padding>
            <ion-label class="tituloTabulado" position="stacked" color="primary" padding>
                <h2><strong>5. IDIOMAS</strong></h2>
            </ion-label>

            <div *ngIf="idiomaactivado == true">

                <ion-label position="stacked" color="primary">Selección de Idioma</ion-label>
                <ion-item class="textoIngreso">
                    <ion-select class="selecionador" multiple="true" [(ngModel)]="idiom.idioma" name="idioma" (ionChange)="updateSelectedValue($event)" interface="action-sheet" okText="Aceptar" cancelText="Cancelar" placeholder="Elija">
                        <ion-select-option *ngFor="let i of losidiomas" [value]="i.nombre">{{i.nombre}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </div>

            <div *ngIf="idiomaactivado == false">

                <!--Entrada de texto para una descripción del su habilidad-->
                <ion-label position="stacked" color="primary">Descripción de la habilidad</ion-label>
                <ion-item class="textoIngreso">
                    <ion-textarea class="PerfilTextArea" [(ngModel)]="habil.Descripcion" name="DescripcionH" placeholder="Descripción de esta habilidad"></ion-textarea>
                </ion-item>
            </div>

            <!--Boton para agregar otra habilidad-->
            <ion-item>
                <ion-button slot="end" (click)="anadirhabilidad()" shape="round">
                    <ion-icon name="add"></ion-icon>
                    <ion-text>&#32; Agregar</ion-text>
                </ion-button>
            </ion-item>
        </ion-list>
        <ion-list *ngIf="signup.Tipo_Perfil != ''" lines="none" class="terminaFormulario" padding>
            <ion-label class="tituloTabulado" position="stacked" color="primary" padding>
                <h2><strong>6.CODIGO DE REFERIDO:</strong></h2>
            </ion-label>

            <ion-item lines="none">

                <ion-label>¿Tiene codigo de referido? </ion-label>
                <ion-toggle color="success" (ionChange)="updateSelectedValue($event)" value="referido1"></ion-toggle>
            </ion-item>

            <ion-item class="textoIngreso" *ngIf="TieneReferido==true">
                <ion-input class="selecionador" [(ngModel)]="signup.referidos" name="referido" placeholder="Ingresa codigo de referido minimo 7 digitos" maxlength="7" minlength="7">
                </ion-input>
            </ion-item>
        </ion-list>



        <ion-grid *ngIf="signup.Tipo_Perfil != ''">
            <ion-row>
                <ion-col col-3>
                </ion-col>

                <ion-col col-6>

                    <ion-button shape="round" strong="true" size="large" (click)="onSignup(signupForm)" type="submit">
                        <ion-icon name="cloud-done"></ion-icon>
                        <ion-text color="light">
                            <ion-text color="primary">E</ion-text> TERMINAR EL REGISTRO</ion-text>
                    </ion-button>
                </ion-col>

                <ion-col col-3>
                </ion-col>
            </ion-row>
        </ion-grid>


    </form>
    <div text-center *ngIf="contrasena==false" [hidden]="carga_completa == true || contrasenaIngresada==true" class="cargando" padding>
        <ion-text color="primary">
            <h1 class="p_inicio"> <strong> Cargando y verificando...</strong></h1>
        </ion-text>
        <ion-spinner color="primary" name="dots">
        </ion-spinner>

    </div>

    <div text-center *ngIf="contrasena==true" [hidden]="carga_completa == false || contrasenaIngresada== false || campcontrasena==''" class="cargando" padding>
        <ion-text color="primary">
            <h1 class="p_inicio"> <strong> La contraseña no es valida, intente de nuevo o mas tarde...</strong></h1>
        </ion-text>
        <ion-spinner color="primary" name="dots">

        </ion-spinner>
        <!-- <img src="../../../assets/img/1amw.gif" alt="loading"> -->

    </div>

    <div padding text-center *ngIf="contrasena==true" [hidden]="contrasenaIngresada==true" class="formulario">
        <ion-icon color="primary" src="assets/icons/lock.svg" class="lock-icon"></ion-icon>
        <h1>
            <ion-text color="primary"><strong>Nueva contraseña</strong></ion-text>
        </h1>
        <ion-list class="contrasena" lines="none">
            <ion-item>
                <ion-input text-center type="password" [(ngModel)]="campcontrasena" name="campcontrasena" class="campcontrasena" (ionChange)="comparando_campos()">
                </ion-input>
            </ion-item>
        </ion-list>
        <ion-label position="stacked" color="primary">Confirme la nueva contraseña</ion-label>
        <ion-list class="contrasena" lines="none">
            <ion-item>
                <ion-input text-center type="password" [(ngModel)]="campconfirmacion" name="confcontrasena" class="campcontrasena" (ionChange)="comparando_campos()">
                </ion-input>
            </ion-item>
        </ion-list>
        <ion-button (click)="ingresoContrasena()" expand="block" size="large" color="primary" shape="round" [disabled]='!contrasenaPrueba' >Siguiente</ion-button>
        <!--  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
            <ion-fab-button (click)="ingresoContrasena()" type="submit">
                <ion-icon name="arrow-round-forward"></ion-icon>
            </ion-fab-button>
        </ion-fab> -->
    </div>
</ion-content>