ion-toolbar {
    background: linear-gradient(to right, rgb(102, 0, 204), rgb(146, 37, 255));
}

img {
    max-width: 150px;
    border-radius: 50%;
}

.campoEduca {
    padding-bottom: 5px;
}

.tituloTabulado {
    padding: 7px, 0px, 0px, 0px, 7px;
}

.formulario {
    padding: 25%, 0px, 0px, 0px;
}

.selecionador {
    min-width: 100%;
}

ion-card {
    background-color: #ECFCF3;
    border-radius: 25px 25px;
    border: 1px solid #A5F2C3;
    box-shadow: none;
}

.lock-icon {
    text-align: center;
    padding: 25% 0px 0px 0px;
    font-size: 81px
}

.cargando {
    padding: 30% 10% 0% 10%;
}

ion-spinner {
    width: 220px !important;
    height: 430px !important;
}

.btnSubirPDF {
    margin-bottom: 4%;
}

.contrasena {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0;
    margin-bottom: 8%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    background: var(--ion-item-background, var(--ion-background-color, rgba(255, 255, 255, 0.089)));
    border-radius: 8px;
    border: rgba(189, 189, 189, 0.322) 1.6px solid;
}

.terminaFormulario {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 0;
    margin-bottom: 8%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
    background: var(--ion-item-background, var(--ion-background-color, rgb(255, 255, 255)));
    border-radius: 17px;
    box-shadow: 0px 4px 11px #d4d4d4;
}

.terminaFormularioHead {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 4%;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0%;
    padding-bottom: 0px;
    background: var(--ion-item-background, var(--ion-background-color, rgb(255, 255, 255)));
    border-radius: 10px;
}

.campcontrasena {
    font-size: 34px;
}

.PerfilTextArea {
    height: 180px;
    font-size: 16px;
}

.iconoProfesion {
    font-size: 50px;
}

.textoIngreso {
    font-size: 16px;
    border: #f5e7ff 1.5px solid;
    background-color: transparent;
    border-radius: 5px;
    margin-bottom: 18px;
}

ion-datetime {
    font-family: 'Work Sans' !important;
    font-weight: 200;
    font-size: 14px;
}

.custom-select {
    position: relative;
    font-family: 'Work Sans' !important;
}

.custom-select select {
    display: none;
    /*hide original SELECT element:*/
}

.select-selected {
    background-color: DodgerBlue;
}


/*style the arrow inside the select element:*/

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}


/*point the arrow upwards when the select box is open (active):*/

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}


/*style the items (options), including the selected item:*/

.select-items div,
.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}


/*style items (options):*/

.select-items {
    position: absolute;
    background: DodgerBlue;
    left: 0;
    right: 0;
    z-index: 99;
}


/*hide the items when the select box is closed:*/

.select-hide {
    display: none;
}

.select-items div:hover,
.same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}