<ion-header no-border>
    <ion-toolbar>
        <ion-toolbar>
            <ion-buttons padding slot="start">
                <ion-button (click)="dismiss()" *ngIf='eligiendoAccion'>
                    <ion-icon class="atras" name="arrow-round-back"></ion-icon>
                </ion-button>
                <ion-button *ngIf='!eligiendoAccion' (click)='elegirAccion()'>
                    <ion-icon name="arrow-round-back"></ion-icon>
                </ion-button>
                <!--<ion-icon class="atras" name="arrow-round-back"></ion-icon>-->
                <ion-title *ngIf='eligiendoAccion || repartiendoTarjeta'> Compartir Tarjeta</ion-title>
                <ion-title *ngIf='comprandoTarjetas'> Comprando Tarjetas</ion-title>
            </ion-buttons>
        </ion-toolbar>
    </ion-toolbar>
</ion-header>



<!--VISTA PARA SELECCIONAR SI SE VA A COMPARTIR TARJETAS O SI SE VAN A COMPRAR-->
<ion-content color="light" *ngIf='eligiendoAccion'>
    <ion-grid text-center>
        <ion-row padding>
            <h6 padding>
                <ion-text>Agita tu telefono para encontrar las personas cercanas, selecciona con quien quieres compartir tu tarjeta y envia.</ion-text>
            </h6>
        </ion-row>
        <ion-row style="margin-left: 25%">
            <ion-card>
                <ion-card-header>
                    <!--<ion-list>-->
                    <ion-item lines="none">
                        <ion-text><strong>Tu saldo es: </strong></ion-text>
                    </ion-item>
                    <ion-item>
                        <ion-text>{{ saldoTarjetas }} tarjetas.</ion-text>
                    </ion-item>
                    <!--</ion-list>-->
                </ion-card-header>
            </ion-card>

        </ion-row>
        <ion-row>
            <ion-col>
                <ion-button shape="round" size="large" (click)='compartirTarjeta()'>
                    <ion-icon slot="icon-only" name="contacts"></ion-icon>
                    <ion-text>Comparte</ion-text>
                </ion-button>

                <ion-button shape="round" size="large" (click)='comprarTarjetas()'>
                    <ion-icon slot="icon-only" name="cash"></ion-icon>
                    <ion-text>Compra Tarjetas</ion-text>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>




<!--VISTA PARA REALIZAR COMPRA ED TARJETAS-->
<ion-content color="light" *ngIf="comprandoTarjetas">
    <div>

        <div padding>
            <img src="../../../assets/img/comprarTarjetas.PNG" alt="agitar_imagen">
        </div>
        <h5>
            <ion-text>Pasate a lo digital! obten tu tarjeta</ion-text>
            <ul>
                <li>Siempre la tendras a la mano.</li>
                <li>Tu tarjeta quedara guardada automaticamente en el celular de tu contacto.</li>
                <li>Disponibilidad inmediata de la cantidad de tarjetas que necesites.</li>
            </ul>
            <ion-text>Podras comprar 200 -500- 1000 unidades.</ion-text>
        </h5>
        <ion-list>
            <ion-item>
                <ion-label><strong>¿Cuántas desea?</strong></ion-label>

                <ion-select placeholder='Elige Cuántas' (ionChange)='cantidadTarjetas = $event.detail.value'>
                    <ion-select-option>200</ion-select-option>
                    <ion-select-option>500</ion-select-option>
                    <ion-select-option>1000</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>

        <ion-grid>
            <ion-row>
                <ion-col size='4'></ion-col>
                <ion-col size='4'></ion-col>
                <ion-col size='4'>
                    <ion-button (click)='pagar()' [disabled]="cantidadTarjetas === '0'">Pagar</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>

    </div>
</ion-content>

<!--VISTA DE COMPARTIR TARJETAS-->
<ion-content color="light" padding *ngIf="repartiendoTarjeta ==true">

    <!--MANO INDICANDO QUE DEBE AGITAR SI QUIERE COMPARTIR LA TARJETA-->
    <div text-center *ngIf="agiteahora === false">
        <img *ngIf=" estaAgitando === 'false' && buscando === false && repartiendo === false && seleccionando === false" src="../../../assets/img/agitar.png" alt="agitar_imagen">

        <h4 *ngIf=" estaAgitando ==='false' && buscando === false && repartiendo === false && seleccionando === false">

            <ion-text color="primary">¿Quieres compartir tu tarjeta? </ion-text>
        </h4>

    </div>

    <!--SPINNER QUE INDICA QUE SE ESTÁ BUSCANDO QUIENES SE ENCUANTRAN CERCA PARA LA REPARTICIÓN-->
    <div *ngIf="buscando === true">
        <h1 text-center>
            <!-- <ion-text color="primary">Agitando...</ion-text> -->
            <ion-text color="primary">
                <h1 class="p_inicio"> <strong> Un momento...</strong></h1>
            </ion-text>
            <ion-spinner color="primary" name="dots">

            </ion-spinner>

        </h1>
    </div>

    <!--SPINNER QUE INDICA QUE SE ESTÁ REPARTIENDO LA TARJETA CON LOS QUE SE ELIGIÓ PREVIAMENTE-->
    <div *ngIf="repartiendo === true">
        <h1>
            <!-- <ion-text color="primary">Agitando...</ion-text> -->
            <ion-text color="primary">
                <h1> <strong> Detectando...</strong></h1>
            </ion-text>
            <ion-spinner color="primary" name="dots">

            </ion-spinner>

        </h1>
    </div>

    <!--LISTADO DE PERSONAS QUE SE ENCUENTRAN EN LA REUNION A QUIENES SE DEBE ELEGIR PARA COMENZAR EL PROCESO DE ENVÍA DE TARJETA-->
    <div *ngIf="seleccionando === true">
        <!--<ion-list>
                <ion-item>-->

        <ion-card class="altura_tarjeta" *ngFor="let detectado of PersonasAntesdeRepartir.noAmigos">

            <ion-row>
                <ion-col size="10">

                    <ion-card-header class="altura_cabecera">
                        <ion-row>
                            <ion-col size="4">
                                <!--<ion-item detail="false" lines="none">-->
                                <ion-avatar>
                                    <img [src]="URLavatar + detectado.foto_perfil" alt="Persona">
                                </ion-avatar>
                            </ion-col>
                            <ion-col style="margin-top: 18px">
                                <ion-row>
                                    <ion-text color="primary"><strong> {{detectado.Profesion}}</strong></ion-text>
                                </ion-row>
                                <ion-row>
                                    <ion-text>{{detectado.Cargo_Actual}}</ion-text>
                                </ion-row>
                                <!--    <ion-row>
                                    <ion-text>
                                        {{detectado.Identificacion}}
                                    </ion-text>
                                </ion-row> -->
                            </ion-col>
                            <!--</ion-item>-->
                        </ion-row>
                    </ion-card-header>
                    <!--
                                            <ion-card-content>
                                                <div text-center class="ion-padding custom-skeleton">
                                                    <ion-row>
                                                        <ion-col>
                                                            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                                                            <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
                                                        </ion-col>
                                                        <ion-col>
                                                            <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                                                            <ion-skeleton-text animated style="width: 90%"></ion-skeleton-text>
                                                        </ion-col>
                                                        <ion-col>
                                                            
                                                        </ion-col>
                                                    </ion-row>
                                                </div>
                                            </ion-card-content>
-->
                </ion-col>
                <ion-col size="1" style="margin-top: 26px">
                    <ion-checkbox color="primary" (ionChange)="seleccionado(detectado.Identificacion, $event)"></ion-checkbox>
                </ion-col>
            </ion-row>



        </ion-card>


        <ion-button [disabled]="seleccionoAlguno" (click)="repartir()" shape="round">Repartir a seleccionados</ion-button>

        <!-- </ion-item>
            </ion-list>-->
    </div>
</ion-content>