<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{'PAGES.ABOUT.TITLE' | translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="presentPopover($event)">
                <ion-icon slot="icon-only" name="more"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content color="light" text-center>
    <div class="about-header">
        <ion-grid>
            <ion-row>
                <ion-col size="4" padding>
                    <img src="assets/img/appicon.png" alt="WAOCArds Logo">
                </ion-col>
                <ion-col size="8" padding>
                    <h1>
                        <ion-text color="light"><strong>{{Nombre}}</strong></ion-text>
                    </h1>
                    <h5>
                        <ion-text color="light">Versión <strong>{{Version}}</strong></ion-text>
                    </h5>
                    <div *ngIf="estaDesactualizado==='comprobando'" padding>
                        <h6>
                            <ion-spinner color="light"></ion-spinner>
                            <ion-text color="light">{{'PAGES.ABOUT.COMPROBANDO_A' | translate}}</ion-text>
                        </h6>
                    </div>

                    <div *ngIf="estaDesactualizado==='false'" padding text-center>
                        <h6>
                            <ion-text color="success">{{'PAGES.ABOUT.ACTUALIZADO' | translate}}</ion-text>
                        </h6>
                    </div>
                    <div *ngIf="estaDesactualizado==='true'" padding>
                        <ion-chip (click)="presentarCuadrodial()" color="success" outline="true">
                            <ion-icon color="success" src="assets/icons/arrow-up-outline.svg"></ion-icon>
                            <ion-label color="success">{{'PAGES.ABOUT.ACTUALIZAR_A' | translate}} <strong>{{versNueva}}</strong></ion-label>
                        </ion-chip>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div padding class="about-info">
        <!-- <h6>
            <ion-text color="secondary">{{'PAGES.ABOUT.CONTENT' | translate}}</ion-text>
        </h6> -->

        <ion-list lines="none">
            <ion-item>
                <ion-icon src="assets/icons/calendar-outline.svg" slot="start"></ion-icon>
                <ion-text>{{'PAGES.ABOUT.COMPILADO_EL' | translate}} <strong>{{Fecha}}</strong></ion-text>
            </ion-item>
            <ion-item>
                <ion-icon src="assets/icons/device-phone.svg" slot="start"></ion-icon>
                <ion-text>{{'PAGES.ABOUT.DISPOSITIVO' | translate}} <strong>{{dispositivoID}}</strong></ion-text>
            </ion-item>
            <ion-item *ngIf="valor.Plataforma!=undefined">
                <ion-icon src="assets/icons/device-phone.svg" slot="start"></ion-icon>
                <ion-text>Sistema: <strong>{{valor.Plataforma}} {{valor.VersionPlataforma}}</strong></ion-text>
            </ion-item>
        </ion-list>

    </div>
    <div padding>
        <ion-text>{{'PAGES.ABOUT.HECHO_CON_AMOR' | translate}}
            <ion-icon color="danger" src="assets/icons/heart.svg"></ion-icon> {{'PAGES.ABOUT.EN' | translate}}
            <strong>Bogotá, Colombia </strong> <img src="assets/img/flag-colombia.png" alt="flag" width="16px" height="16px">
        </ion-text>

    </div>
    <h6>
        <ion-text>© 2019 {{desarrolladores}}</ion-text>
    </h6>
    <!-- 
    <h6>
        <ion-text>Servidor: {{IP}}</ion-text>
    </h6> -->

</ion-content>