ion-toolbar {
    background: linear-gradient(to right, rgb(102, 0, 204), rgb(146, 37, 255));
}

.about-header {
    background-color: var(--ion-color-dark);
    width: 100%;
    text-align: center;
}

.about-header img {
    max-width: 130px;
    padding: 10px 5px 10px 0;
}

.about-info p {
    color: var(--ion-color-medium);
    text-align: left;
}

.about-info ion-icon {
    color: var(--ion-color-primary);
}

.ios .about-info {
    text-align: center;
}

.list-md {
    border-radius: 17px;
    box-shadow: 0px 4px 11px #d4d4d4;
}

.list-ios {
    border-radius: 17px;
    box-shadow: 0px 4px 11px #d4d4d4;
}

.logoHorizontal {
    width: 160px;
}

ion-item {
    width: 100%;
}