// Ionic Variables and Theming. For more information, please see
// https://beta.ionicframework.com/docs/theming/
// The app direction is used to include
// rtl styles in your app. For more information, please see
// https://beta.ionicframework.com/docs/layout/rtl
// $app-direction: ltr;
// Ionic Colors
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic provides eight layered colors
// that can be changed to theme an app. Additional colors can be
// added as well (see below). For more information, please see
// https://beta.ionicframework.com/docs/theming/advanced
// To easily create custom color palettes for your app’s UI,
// check out our color generator:
// https://beta.ionicframework.com/docs/theming/color-generator
@font-face {
    font-family: 'Work Sans Medium';
    src: url('../assets/fonts/WorkSans-Medium.otf') format('opentype');
    //font-weight: normal;
    // font-style: normal;
}

@font-face {
    font-family: 'Work Sans';
    src: url('../assets/fonts/WorkSans-Regular.otf') format('opentype');
    //font-weight: normal;
    // font-style: normal;
}

@font-face {
    font-family: 'Bariol Regular';
    src: url('../assets/fonts/Bariol/bariol_regular-webfont.ttf') format('truetype');
    //font-weight: normal;
    // font-style: normal;
}

@font-face {
    font-family: 'Bariol Bold';
    src: url('../assets/fonts/Bariol/bariol_bold-webfont.ttf') format('truetype');
    //font-weight: normal;
    // font-style: normal;
}

$font-family-base: "Work Sans Medium";
.tarjetita,
body,
span,
button,
h1,
h2,
h3,
h4,
h5,
h6,
p,
custom-class custom-loading,
custom-loading,
custom-class,
ion-item,
ion-title,
ion-header,
ion-refresher-content {
    font-family: 'Work Sans Medium' !important;
    font-weight: 300;
    font-size: 18px;
}

ion-toolbar {
    background: linear-gradient(to right, rgb(102, 0, 204), rgb(146, 37, 255));
}

.message-row-left,
.message-row-right,
ion-label,
ion-input,
ion-textarea,
ion-datetime,
ion-item {
    font-family: 'Work Sans' !important;
    font-weight: 300;
    font-size: 17px;
}

.tabajo,
.name-row-left,
.name-row-right {
    font-family: 'Work Sans Medium' !important;
    font-weight: 100;
    font-size: 11px;
}


/* ion-title,
ion-backdrop,
ion-back-button {
    padding-top: 40px;
}

ion-buttons {
    padding-top: 8px;
}

ion-toolbar {
    height: 90px;
} */

.imglogo {
    padding: 15px 15px 15px 15px;
}


/* .more_opt {
    padding-top: 30px;
} */

em,
i {
    font-style: italic;
}

ion-button {
    font-family: 'Work Sans Medium' !important;
    font-weight: 400;
    font-size: 15px;
    border-radius: 20px 20px;
}


/* ion-menu-button {
    padding-top: 30px;
} */

ion-list-header {
    font-family: 'Work Sans Medium' !important;
    font-weight: 200;
    font-size: 13px;
}

//para los horarios
ion-header ion-segment ion-segment-button {
    font-family: 'Work Sans Medium' !important;
    font-weight: 500;
    font-size: 24px;
}

//para el inicio
ion-content form ion-list ion-item ion-label {
    font-family: 'Work Sans Medium' !important;
    font-weight: 300;
    font-size: 30px;
}

//para crear
ion-content form ion-list ion-item ion-input {
    font-family: 'Work Sans Medium' !important;
    font-weight: 400;
    font-size: 30px;
}

//panel lateral de navs
ion-app ion-split-pane ion-list ion-menu-toggle ion-label {
    font-family: 'Work Sans Medium' !important;
    font-weight: 300;
    font-size: 18px;
}

.searchbar-input.sc-ion-searchbar-md {
    border-radius: 25 25;
}

:root {
    --ion-color-primary: #6600cc;
    --ion-color-primary-rgb: 102, 0, 204;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #9933ff;
    --ion-color-primary-tint: #b366ff;
    --ion-color-secondary: #a366ff;
    --ion-color-secondary-rgb: 163, 102, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #9933ff;
    --ion-color-secondary-tint: #9e40fc;
    --ion-color-tertiary: #00b0f0;
    --ion-color-tertiary-rgb: 16, 108, 168;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #633ce0;
    --ion-color-tertiary-tint: #7e57ff;
    --ion-color-success: #10dc60;
    --ion-color-success-rgb: 16, 220, 96;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-white: #ffffff;
    --ion-color-white-rgb: 255, 255, 255;
    --ion-color-success-shade: #0ec254;
    --ion-color-success-tint: #28e070;
    --ion-color-warning: #ffce00;
    --ion-color-warning-rgb: 255, 206, 0;
    --ion-color-warning-contrast: #ffffff;
    --ion-color-warning-contrast-rgb: 255, 255, 255;
    --ion-color-warning-shade: #e0b500;
    --ion-color-warning-tint: #ffd31a;
    --ion-color-danger: #f04141;
    --ion-color-danger-rgb: 245, 61, 61;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #d33939;
    --ion-color-danger-tint: #f25454;
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 34, 34;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;
    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-grey: #3d3e41;
    --ion-color-grey-rgb: 45, 45, 45;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 244, 244;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;
    --ion-toolbar-md-title-text-color: white; //color del texto de la barra de notificaciones
}

// Additional Ionic Colors
// --------------------------------------------------
// In order to add colors to be used with Ionic components,
// the color should be added as a class with the convention `.ion-color-{COLOR}`
// where `{COLOR}` is the color to be used on the Ionic component
// and each variant is defined for the color. For more information, please see
// https://beta.ionicframework.com/docs/theming/advanced
.ion-color-favorite {
    --ion-color-base: #69bb7b;
    --ion-color-base-rgb: 105, 187, 123;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #5ca56c;
    --ion-color-tint: #78c288;
}

.ion-color-twitter {
    --ion-color-base: #1da1f4;
    --ion-color-base-rgb: 29, 161, 244;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #1a8ed7;
    --ion-color-tint: #34aaf5;
}

.ion-color-google {
    --ion-color-base: #dc4a38;
    --ion-color-base-rgb: 220, 74, 56;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #c24131;
    --ion-color-tint: #e05c4c;
}

.ion-color-vimeo {
    --ion-color-base: #23b6ea;
    --ion-color-base-rgb: 35, 182, 234;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #1fa0ce;
    --ion-color-tint: #39bdec;
}

.ion-color-facebook {
    --ion-color-base: #3b5998;
    --ion-color-base-rgb: 59, 89, 152;
    --ion-color-contrast: #ffffff;
    --ion-color-contrast-rgb: 255, 255, 255;
    --ion-color-shade: #344e86;
    --ion-color-tint: #4f6aa2;
}

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the CSS variables found in Ionic's source files.
// To view all the possible Ionic variables, see:
// https://beta.ionicframework.com/docs/theming/css-variables#ionic-variables
:root {
    // TODO
    // $headings-font-weight: 300;
    --ion-headings-font-weight: 300;
    --ion-color-angular: #ac282b;
    --ion-color-communication: #8e8d93;
    --ion-color-tooling: #fe4c52;
    --ion-color-services: #fd8b2d;
    --ion-color-design: #fed035;
    --ion-color-workshop: #69bb7b;
    --ion-color-food: #3bc7c4;
    --ion-color-documentation: #b16be3;
    --ion-color-navigation: #6600cc;
    --ion-toolbar-md-title-text-color: white; //color texto notificaciones
}

// App iOS Variables
// --------------------------------------------------
// iOS only CSS variables can go here
.ios {}

// App Material Design Variables
// --------------------------------------------------
// Material Design only CSS variables can go here
.md {
    // Use the primary color as the background for the toolbar
    --ion-toolbar-background: linear-gradient(to right, rgb(102, 0, 204), rgb(147, 42, 253));
    // Change the color of the toolbar components
    --ion-toolbar-color: #fff;
    // Change the color of the activated toolbar components
    --ion-toolbar-color-activated: #fff;
    // Change the color of the unchecked segment buttons
    --ion-toolbar-color-unchecked: rgba(255, 255, 255, .6);
    // Change the color of the checked segment button
    --ion-toolbar-color-checked: #fff;
    --ion-toolbar-md-title-text-color: white;
    --ion-toolbar--min-height: 200px;
}

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
// @import "ionic.theme.default";
// Fonts
// --------------------------------------------------
// Roboto font is used by default for Material Design. Noto sans
// is used by default for Windows.
// @import "roboto";