<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/find-people"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'PAGES.MAPA.TITLE' | translate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
    <div #mapCanvas class="map-canvas"></div>
</ion-content>