<ion-header no-border>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen color="light" padding>
    <div class="login-logo">
        <img src="assets/img/WAOlogin.png" alt="Login">
    </div>
    <form #loginForm="ngForm" novalidate>
        <div [hidden]='!accesoDenegado' text-center>
            <ion-chip [hidden]='!accesoDenegado' slot="end" color="danger">
                <ion-icon src="assets/icons/warning.svg" color="danger"></ion-icon>
                <ion-label color="danger">Datos de sesión incorrectos</ion-label>
            </ion-chip>
        </div>
        <h6 class="subtitulos">
            <ion-label color="primary">{{'PAGES.LOGIN.CORREO_ELEC' | translate}}</ion-label>
        </h6>
        <ion-list text-center class="campo" lines="none">
            <ion-item>
                <ion-chip slot="end" [hidden]="(username.valid || submitted == false)" color="danger">
                    <ion-icon src="assets/icons/warning.svg" color="danger"></ion-icon>
                </ion-chip>
                <ion-input text-center color="dark" [(ngModel)]="login.username" name="username" type="email" #username="ngModel" spellcheck="false" autocapitalize="off" required>
                </ion-input>
            </ion-item>
        </ion-list>


        <!-- <ion-text color="danger">
            <p [hidden]="username.valid || submitted == false" padding-left>
                {{'PAGES.LOGIN.DEBE_PONER' | translate}}
            </p>
        </ion-text> -->

        <h6 class="subtitulos">
            <ion-label color="primary">{{'PAGES.LOGIN.CONTRASENA' | translate}}</ion-label>
        </h6>

        <ion-list text-center class="campo" lines="none">
            <ion-item>
                <ion-chip slot="end" [hidden]="(password.valid || submitted == false)" color="danger">
                    <ion-icon src="assets/icons/warning.svg" color="danger"></ion-icon>
                </ion-chip>
                <ion-input text-center color="dark" [(ngModel)]="login.password" name="password" type="password" #password="ngModel" required>
                </ion-input>
            </ion-item>
        </ion-list>
        <!-- <ion-text color="danger">
            <p [hidden]="password.valid || submitted == false" padding-left>
                {{'PAGES.LOGIN.DEBE_INGRE_CONT' | translate}}
            </p>
        </ion-text>
 -->



        <ion-row responsive-sm>
            <ion-col>
                <ion-button shape="round" color='primary' (click)="onLogin(loginForm)" type="submit" size="large" expand="block" [disabled]="login.username.length < 5">
                    <ion-text color='light'>{{'PAGES.LOGIN.INICIAR_SESION_BTN' | translate}}</ion-text>
                </ion-button>
            </ion-col>
        </ion-row>



    </form>

</ion-content>

<ion-footer no-border>
    <ion-toolbar color="light">
        <div text-center>
            <ion-label position="stacked" color="dark">
                ¿Problemas al iniciar sesión?
            </ion-label>
            <ion-button shape="round" (click)="recuperarContr()" color="primary" size="small">
                <ion-text color='light'>Recuperar</ion-text>
            </ion-button>
        </div>
    </ion-toolbar>

</ion-footer>