.login-logo {
    // padding-top: 8%;
    min-height: 145px;
    text-align: center;
}

.login-logo img {
    max-width: 130px;
}

.list {
    margin-bottom: 0;
}

ion-toolbar {
    background: linear-gradient(to right, rgba(102, 0, 204, 0), rgba(146, 37, 255, 0));
}

.ion-padding,
[padding] {
    --padding-start: var(--ion-padding, 16px);
    --padding-end: var(--ion-padding, 16px);
    --padding-top: var(--ion-padding, 9px);
    --padding-bottom: var(--ion-padding, 10px);
    padding-left: var(--ion-padding, 16px);
    padding-right: var(--ion-padding, 16px);
    padding-top: var(--ion-padding, 10px);
    padding-bottom: var(--ion-padding, 10px);
}

.campo {
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 0;
    margin-bottom: 8%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0px;
    padding-bottom: 0px;
    background: var(--ion-item-background, var(--ion-background-color, rgba(255, 255, 255, 0.089)));
    border-radius: 8px;
    border: rgba(189, 189, 189, 0.322) 1.6px solid;
}

.subtitulos {
    padding-left: 7%;
}


/*
ion-toolbar {
  // TODO test transparent and fullscreen
  --background: transparent;
  --border-color: transparent;
}
*/

ion-button {
    border-radius: 25px 25px
}

b {
    font-weight: 500;
}

p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: red;
    b {
        color: #000000;
    }
}

.fondo {
    --ion-background: linear-gradient(to right, rgb(102, 0, 204), rgb(147, 42, 253));
}

ion-content {
    padding: 45%
}

ion-list {
    padding: 10%
}

ion-item {
    --background: #3881ff00;
    --color: #fff;
}