.fondo {
    --ion-background-color: linear-gradient(to right, rgb(102, 0, 204), rgb(147, 42, 253));
}

.perfil {
    max-width: 85px;
    max-height: 85px;
    border: 5px solid #ffffff;
    border-radius: 50%;
}

.cerrarSesion {
    font-size: 20px;
}

.cerrarSesionLB {
    margin-top: 11%;
}

.fotoEncontra {
    max-width: 40px;
    border-radius: 50%;
}

.parrafoEnc {
    padding: 0px 0px 0px 10px;
}

.barraDesliza {
    height: 199px;
}

.fotop {
    text-align: center;
    padding: 0px 0px 0px 37%;
}

.ion-item {
    position: relative;
    height: 130px;
    width: 100px;
    text-align: center;
    padding: 35px 0px 0px 0px;
}

.puntoActivo {
    position: absolute;
    right: 20px;
    bottom: 10px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    background-color: #10dc60;
    cursor: pointer;
    color: white;
}

.puntoInactivo {
    position: absolute;
    right: 20px;
    bottom: 10px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    background-color: #dc2810;
    cursor: pointer;
    color: white;
}

.ion-avatar {
    border-radius: 50%;
    background-color: #ffffff;
    height: 85px;
    width: 85px;
}

ion-card {
    background-color: #ECFCF3;
    border-radius: 25px 25px;
    border: 1px solid #d4d9dd;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.lock-icon {
    text-align: center;
    padding: 27px 0px 0px 0px;
    font-size: 81px
}

.urgent-notification .toast-message:before {
    content: '\f267';
    color: white;
    display: inline-block;
    font-family: "Ionicons";
    font-style: normal;
    font-weight: bolder;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    padding-right: 10px;
    font-size: 2rem;
}