<ion-app>
    <ion-split-pane>

        <ion-menu>
            <ion-header no-border>
                <ion-toolbar class="barraDesliza">
                    <div *ngIf="userData.InicioSesion">
                        <div class="fotop" padding>
                            <div class="ion-item">
                                <div class="ion-avatar">

                                    <img cache-view="false" routerLink="/app/tabs/account" class="perfil" [src]="URLavatar  + userData.datos.foto_perfil">
                                    <div *ngIf="visible == true || userData.datos.visible == 1">
                                        <button class="puntoActivo" (click)="cambiarVisibilidad()" id="notification-button">
                                        
                                    <div  class="ion-icon">
                                    </div>
                                        </button>

                                    </div>
                                    <div *ngIf="visible == false || userData.datos.visible == 0">
                                        <button class="puntoInactivo" (click)="cambiarVisibilidad()" id="notification-button">
                                        
                                        <div class="ion-icon">
                                        </div>
                                    </button>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <ion-item lines="none" class="fondo">

                            <ion-label>
                                <ion-text routerLink="/account" text-center color="light">
                                    <h2><strong>{{userData.datos.Nombre | titlecase}}</strong></h2>
                                    <ion-label *ngIf="visible == true || userData.datos.visible == 1" position="stacked" color="success">
                                        <strong>VISIBLE</strong>
                                    </ion-label>
                                    <ion-label *ngIf="visible == false || userData.datos.visible == 0" position="stacked" color="danger">
                                        INVISIBLE
                                    </ion-label>
                                </ion-text>
                                <!--       <div text-center>
                                    <ion-menu-toggle class="mto" auto-hide="false">
                                        <a routerLink="/account" class="text08" tappable>
                                            <ion-text color="secondary">
                                                <ion-icon src="assets/icons/user-outline.svg"></ion-icon>
                                            </ion-text>
                                        </a>
                                        <ion-text color="secondary"> | </ion-text>
                                        <a class="text08" tappable>
                                            <ion-text color="secondary">
                                                <ion-icon src="assets/icons/power-outline.svg"></ion-icon>
                                            </ion-text>
                                        </a>
                                    </ion-menu-toggle>
                                </div> -->
                            </ion-label>
                        </ion-item>
                    </div>

                    <div *ngIf="!userData.InicioSesion">
                        <div class="fotop" padding>
                            <div class="ion-item">
                                <div class="ion-avatar">

                                    <img class="perfil" src="../assets/img/profile.png">

                                </div>
                            </div>
                        </div>
                        <ion-item lines="none" class="fondo">

                            <ion-label>
                                <ion-text text-center color="secondary">
                                    <h2><strong>{{'PAGES.APPCOMPONENTE.NO_HA_INIC' | translate}}</strong></h2>
                                </ion-text>
                                <div text-center>
                                </div>
                            </ion-label>
                        </ion-item>
                    </div>

                </ion-toolbar>
            </ion-header>

            <ion-content>

                <div text-center *ngIf="EstaDesactualizado === true" padding>
                    <ion-chip color="warning" outline="true" (click)="presentarAlertActualizar()">
                        <!-- <ion-icon color="warning" name="alert"></ion-icon> -->
                        <ion-icon color="warning" src="assets/icons/warning-outline.svg"></ion-icon>
                        <ion-label> <strong>{{'PAGES.APPCOMPONENTE.HAY_NUEVA_VERSION' | translate}}</strong> </ion-label>
                    </ion-chip>
                </div>

                <div *ngIf="userData.InicioSesion">
                    <ion-list text-wrap>
                        <ion-list-header>
                            {{'PAGES.APPCOMPONENTE.FUNCIONES' | translate}}
                        </ion-list-header>
                        <ion-menu-toggle auto-hide="false">
                            <ion-item routerLink="/app/tabs/find-people">
                                <ion-icon slot="start" src="assets/icons/home-outline.svg"></ion-icon>
                                <ion-label>
                                    {{'PAGES.TABS.INICIO' | translate}}
                                </ion-label>
                            </ion-item>
                            <ion-item routerLink="/app/tabs/speakers">
                                <ion-icon slot="start" src="assets/icons/business-card.svg"></ion-icon>
                                <ion-label>
                                    {{'PAGES.TABS.TARJETERO' | translate}}
                                </ion-label>
                            </ion-item>
                            <!-- <ion-item text-wrap routerLink="/app/tabs/schedule">
                                <ion-icon slot="start" src="assets/icons/news.svg"></ion-icon>
                                <ion-label text-wrap>
                                    Ferias, eventos y clasificados
                                </ion-label>
                            </ion-item> -->

                        </ion-menu-toggle>
                    </ion-list>





                </div>
                <ion-list>
                    <ion-list-header>
                        {{'PAGES.APPCOMPONENTE.APLICACION' | translate}}
                    </ion-list-header>

                    <ion-menu-toggle auto-hide="false">
                        <ion-item routerLink="/support">
                            <ion-icon slot="start" name="help"></ion-icon>
                            <ion-label>
                                {{'PAGES.APPCOMPONENTE.NECESITA_AYUDA' | translate}}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                    <!-- <ion-menu-toggle auto-hide="false">
                        <ion-item routerLink="/Preferences">
                            <ion-icon slot="start" src="assets/icons/cog-outline.svg"></ion-icon>
                            <ion-label>
                                {{'PAGES.APPCOMPONENTE.PREFERENCIAS_DE_LA_APP' | translate}}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle> -->

                    <ion-menu-toggle auto-hide="false">
                        <ion-item routerLink="/about">
                            <ion-icon slot="start" src="assets/icons/info-large-outline.svg"></ion-icon>
                            <ion-label>
                                {{'PAGES.APPCOMPONENTE.ACERCA_DE' | translate}}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                </ion-list>

            </ion-content>
            <ion-footer no-border>
                <ion-list lines="none">
                    <ion-menu-toggle auto-hide="false">
                        <ion-item button (click)="logout()">
                            <ion-icon slot="start" class="cerrarSesion" src="assets/icons/power-outline.svg"></ion-icon>
                            <ion-label class="cerrarSesionLB" position="stacked">{{'PAGES.APPCOMPONENTE.CERRAR_SESION' | translate}} </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-footer>
        </ion-menu>

        <ion-router-outlet main></ion-router-outlet>

    </ion-split-pane>

</ion-app>