<ion-header no-border>
    <ion-toolbar>
        <ion-buttons padding slot="start">
            <ion-backdrop></ion-backdrop>
            <ion-icon class="atras" name="arrow-round-back"></ion-icon>
            <ion-title>Detalles del contacto </ion-title>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content color="light" class="speaker-detail">

    <!-- Deslizar para actualizar -->
    <div text-center *ngIf="DatosBasicos">
        <div *ngIf="completo ==='true'">
            <div class="spk-header" padding>
                <img [src]="URLavatar + DatosBasicos.foto_perfil" [alt]="DatosBasicos.Nombre">
                <br>
                <h1 *ngIf="ocultarDatosBasicos == false"> <strong>{{DatosBasicos?.Nombre | uppercase}}</strong> </h1>
                <ion-text color="primary">
                    <h4> {{DatosBasicos?.Profesion}} </h4>
                </ion-text>



                <div *ngIf="solicitante=='false'">
                    <ion-button *ngIf="this.enviada == 'indefinido'" fill="outline" shape="round" color="primary" expand="full">
                        <ion-spinner></ion-spinner> ...
                    </ion-button>
                    <ion-button (click)="avisoPago()" color="primary" *ngIf="this.enviada=='false'" shape="round" expand="full">
                        <ion-icon color="light" src="assets/icons/user-add.svg"></ion-icon>Añadir a mis contactos
                    </ion-button>
                    <!--<ion-button (click)="Contactar()" color="primary" *ngIf="this.enviada=='false'" shape="round" expand="full">
                        <ion-icon color="light" src="assets/icons/user-add.svg"></ion-icon>Añadir a mis contactos</ion-button>-->
                    <ion-button color="warning" *ngIf="this.enviada=='true'" shape="round" expand="full" disabled="true">
                        <ion-icon color="light" src="assets/icons/media-record-outline.svg"></ion-icon>Confirmación pendiente</ion-button>
                    <ion-button color="success" *ngIf="this.enviada=='agregado'" shape="round" expand="full">
                        <ion-icon color="light" src="assets/icons/user.svg"></ion-icon>Contacto añadido</ion-button>
                </div>
                <div *ngIf="solicitante=='true'">
                    <ion-grid>
                        <ion-row>
                            <ion-col>
                                <ion-button (click)="aceptarSolicitud(IDEncontrado)" color="success" shape="round">
                                    <ion-icon color="light" name="checkmark-circle"></ion-icon>Confirmar</ion-button>
                            </ion-col>
                            <ion-col>
                                <ion-button (click)="cancelarSolicitud(IDEncontrado)" color="danger" shape="round">
                                    <ion-icon color="light" name="close-circle"></ion-icon>Cancelar</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </div>

                <!-- <img [src]="URLavatar + speaker.foto_perfil" [alt]="speaker.Nombre"> -->
                <!--   <div *ngIf="ocultarDatosBasicos == false">
                    <ion-button fill="clear" size="small" color="github" href="https://www.twitter.com/{{DatosBasicos?.Twitter}}">
                        <ion-icon name="logo-twitter" slot="icon-only"></ion-icon>
                    </ion-button>
                    <ion-button fill="clear" size="small" color="github" href="https://www.github.com/{{DatosBasicos?.Github}}">
                        <ion-icon name="logo-github" slot="icon-only"></ion-icon>
                    </ion-button>
                    <ion-button fill="clear" size="small" color="instagram" href="https://www.insagram.com/{{DatosBasicos?.Instagram}}">
                        <ion-icon name="logo-instagram" slot="icon-only"></ion-icon>
                    </ion-button>
                    <ion-button fill="clear" size="small" color="github" href="https://www.linkedin.com/{{DatosBasicos?.Linkedin}}">
                        <ion-icon name="logo-linkedin" slot="icon-only"></ion-icon>
                    </ion-button>
                </div> -->
            </div>
        </div>
        <div padding>
            <ion-refresher slot="fixed" (ionRefresh)="doRefrescar($event)">
                <ion-refresher-content pullingIcon="arrow-dropdown" [pullingText]="DesliceParaRecargar" refreshingSpinner="circles" [refreshingText]="ObteniendoSus">
                </ion-refresher-content>
            </ion-refresher>



            <ion-list *ngIf="ocultarDatosBasicos == false" lines="none">
                <ion-item *ngIf="ocultarDatosBasicos == false">
                    <ion-label text-wrap>
                        <ion-text color="primary">
                            <h2> <strong>{{'PAGES.SPEAKER-DETAIL.DATOS_BASICOS' | translate}}</strong> </h2>
                        </ion-text>

                        <ion-text>
                            <p><b>{{'PAGES.SPEAKER-DETAIL.NACIMIENTO' | translate}}: </b>{{DatosBasicos?.Fecha_Nacimiento}}</p>
                        </ion-text>
                        <ion-text>
                            <p><b>{{'PAGES.SPEAKER-DETAIL.ID' | translate}}: </b>{{DatosBasicos?.Identificacion}}</p>
                        </ion-text>
                        <ion-text>
                            <p><b>{{'PAGES.SPEAKER-DETAIL.DIRECCION' | translate}}: </b>{{DatosBasicos?.Direccion_Residencia}}</p>
                        </ion-text>
                        <ion-text>
                            <p><b>{{'PAGES.SPEAKER-DETAIL.CIUDAD' | translate}}: </b>Bogotá D.C.</p>
                        </ion-text>
                        <ion-text>
                            <p><b>{{'PAGES.SPEAKER-DETAIL.TELEFONO' | translate}}: </b>+57 {{DatosBasicos?.Telefono_Celular}}</p>
                        </ion-text>
                        <ion-text>
                            <p><b>E-mail: </b>{{DatosBasicos?.Email}}</p>
                        </ion-text>

                    </ion-label>
                </ion-item>
            </ion-list>


            <ion-list lines="none">
                <ion-item>
                    <ion-label text-wrap>
                        <ion-text color="primary">
                            <h2> <strong>{{'PAGES.SPEAKER-DETAIL.PERFIL' | translate}}</strong> </h2>
                        </ion-text>
                        <p>{{DatosBasicos?.perfil}}</p>
                    </ion-label>
                </ion-item>
                <!-- ----------------------------aqui va los campos de accion--------------------------->
                <!-- <div  > -->
                
                
                <ion-item *ngIf="categoriasSeleccionadasUser.length != ''">
                    <ion-label text-wrap>
                        <ion-text color="primary">
                            <h2> <strong>CAMPO DE ACCIÓN</strong> </h2>
                 
                        </ion-text>
                
                        <div class="containerA" *ngFor="let subCategoriaIndividual of categorias; let i=index ">
                            <div outline color="primary" *ngFor="let  itemIndividual of subCategoriaIndividual.elementos" class="bloque">
                
                                <ion-chip *ngIf="datosComprobarCategoriasUser.includes(itemIndividual.item)"
                                    (click)="clickElementoChip(itemIndividual.item)" color="primary">
                                    <ion-label>{{itemIndividual.nombre}}</ion-label>
                                </ion-chip>
                            </div>
                        </div>
                
                    </ion-label>
                </ion-item>
                <!-- </div> -->
<!-- ---------------------------- fin campos de accion--------------------------->

                <ion-item>
                    <ion-label text-wrap>
                        <ion-text color="primary">
                            <h2> <strong>{{'PAGES.SPEAKER-DETAIL.EDUCACION' | translate}}</strong> </h2>
                        </ion-text>
                        <div *ngFor="let educacion of Educacion ; let i=index;">
                            <ion-card>
                                <ion-card-header>
                                    <h6> {{'PAGES.SPEAKER-DETAIL.DE' | translate}} {{educacion.Fecha_Inicio}} {{'PAGES.SPEAKER-DETAIL.HASTA' | translate}} {{educacion.Fecha_Fin}}</h6>
                                    <h1 color="primary">
                                        <ion-icon name="school" slot="start"></ion-icon>
                                        <strong> {{educacion.Titulo_Obtenido}}</strong>
                                    </h1>
                                    <h5> {{'PAGES.SPEAKER-DETAIL.EN' | translate}}: <strong>{{educacion.Institucion_Educativa}}</strong></h5>
                                </ion-card-header>

                                <ion-card-content>
                                    <!-- ion-button fill="outline" slot="end">
                                        <ion-icon name="cloud-download" slot="start"></ion-icon>{{'PAGES.SPEAKER-DETAIL.VER_CERTIFICADO_BTN' | translate}}</ion-button> -->
                                </ion-card-content>
                            </ion-card>
                        </div>
                    </ion-label>
                </ion-item>
            </ion-list>

            <ion-list lines="none">
                <ion-item>
                    <ion-label text-wrap>
                        <ion-text color="primary">
                            <h2> <strong>{{'PAGES.SPEAKER-DETAIL.EXPERIENCIA_LABORAL' | translate}}</strong> </h2>
                        </ion-text>
                        <div *ngFor="let expe of Experiencias ; let i=index;">
                            <p>{{'PAGES.SPEAKER-DETAIL.CARGO' | translate}}: {{expe.cargo}}</p>
                        </div>
                    </ion-label>
                </ion-item>

            </ion-list>
        </div>

        <div *ngIf="completo==='false'">
            <div text-center>
                <img src="../../../assets/img/profile-loading.png" alt="Nombre">
                <br>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                <ion-text color="secondary">
                    <h4>{{'PAGES.SPEAKER-DETAIL.CARGANDO_PERFIL' | translate}}</h4>
                </ion-text>
                <ion-button fill="clear" size="small" color="secondary">
                    <ion-icon name="logo-twitter" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-button fill="clear" size="small" color="secondary">
                    <ion-icon name="logo-github" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-button fill="clear" size="small" color="secondary">
                    <ion-icon name="logo-instagram" slot="icon-only"></ion-icon>
                </ion-button>
                <ion-button fill="clear" size="small" color="secondary">
                    <ion-icon name="logo-linkedin" slot="icon-only"></ion-icon>
                </ion-button>
            </div>

            <div text-center>
                <ion-skeleton-text animated style="width: 1%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                <ion-skeleton-text animated></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </div>

        </div>

        <div text-center *ngIf="completo==='error'">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <ion-grid>
                                        <ion-row>
                                            <ion-col>
                                                <img class="perfilError" src="../../../assets/img/404.png" alt="no cargo la pagina">
                                                <ion-text color="primary">
                                                    <h1> <strong> {{'PAGES.SPEAKER-DETAIL.NO_ES_POSIBLE' | translate}}</strong></h1>
                                                </ion-text>
                                                <p>{{'PAGES.SPEAKER-DETAIL.POR_FAVOR_REVISE' | translate}}</p>
                                                <h5> <strong> {{'PAGES.SPEAKER-DETAIL.PARA_RECARGAR' | translate}}</strong></h5>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
    </div>
</ion-content>