ion-toolbar {
    background: linear-gradient(to right, rgb(102, 0, 204), rgb(146, 37, 255));
}

.speaker-detail img {
    max-width: 150px;
    border: 5px solid #ffffff;
    border-radius: 50%;
}

.perfilError {
    border-radius: 0%;
}

.speaker-detail p {
    color: #60646b;
}

.spk-header {
    background-color: transparent;
    width: 100%;
    text-align: center;
}
// ajustar las categorias que el personaje tenga
.containerA{
    text-align:left;
    display:inline;
    .bloque
    {
        display:inline;
    }
}
    
///////////////////////////

.list-md {
    padding: 5%;
    margin: 6% 1%;
    border-radius: 17px;
    box-shadow: 0px 4px 11px #d4d4d4;
}

.list-ios {
    padding: 5%;
    margin: 6% 1%;
    border-radius: 17px;
    box-shadow: 0px 4px 11px #d4d4d4;
}
