<ion-header no-border>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Recuperar la contraseña</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="light" padding no-border text-center>
    <div *ngIf="correoEnviado==false">
        <h3>
            <ion-text color="primary"><strong>1. Necesitamos algunos datos suyos</strong></ion-text>
        </h3>
        <ion-label position="stacked" color="primary">Su correo electrónico</ion-label>
        <ion-list class="contrasena" lines="none">
            <ion-item>
                <ion-input text-center type="text" [(ngModel)]="campcorreo" name="campcorreo" class="campcorreo">
                </ion-input>
            </ion-item>
        </ion-list>
        <ion-label position="stacked" color="primary">Su número de identificación</ion-label>
        <ion-list class="contrasena" lines="none">
            <ion-item>
                <ion-input text-center type="number" [(ngModel)]="campID" name="campID" class="campcorreo">
                </ion-input>
            </ion-item>
        </ion-list>
        <ion-button shape="round" (click)="mostrarAlertConfirmacion()" size="large" color="primary">Siguiente</ion-button>
    </div>

    <div *ngIf="pinIngresado==false && correoEnviado==true" text-center padding>
        <h3>
            <ion-text color="primary"><strong>2. Confirme el código de 6 dígitos enviado a su correo electrónico</strong></ion-text>
        </h3>
        <!-- <h6>
            PIN llegado para pruebas: <strong>{{registro.PINGenerado.PINAsignado}}</strong>
        </h6> -->
        <ion-list class="camppin" lines="none">
            <ion-item>
                <ion-input maxlength="6" minlength="6" text-center type="password" [(ngModel)]="campPIN" name="campPIN" class="campppin">
                </ion-input>

            </ion-item>
            <ion-chip slot="end" *ngIf="registro.PINLlegado.mensaje=='PIN Incorrecto'" color="danger">
                <ion-icon src="assets/icons/warning.svg" color="danger"></ion-icon>
                <ion-label color="danger">PIN no válido</ion-label>
            </ion-chip>
        </ion-list>

        <ion-button shape="round" (click)="ingresoPIN()" size="large" color="primary">Siguiente</ion-button>

    </div>

    <div *ngIf="contrasenaIngresada==false && pinIngresado==true" text-center>
        <ion-icon color="primary" src="assets/icons/lock.svg" class="lock-icon"></ion-icon>
        <h1>
            <ion-text color="primary"><strong>3. Ingrese la nueva contraseña</strong></ion-text>
        </h1>
        <ion-list class="contrasena" lines="none">
            <ion-item>
                <ion-input text-center type="password" [(ngModel)]="campcontrasena" name="campcontrasena" class="campcontrasena">
                </ion-input>
            </ion-item>
        </ion-list>
        <ion-label position="stacked" color="primary">Confirme la nueva contraseña</ion-label>
        <ion-list class="contrasena" lines="none">
            <ion-item>
                <ion-input text-center type="password" name="confcontrasena" class="campcontrasena">
                </ion-input>
            </ion-item>
        </ion-list>
        <ion-button shape="round" (click)="ingresoContrasena()" size="large" color="primary">Cambiar la contraseña</ion-button>

    </div>

</ion-content>