<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content id="page" class="fondo" padding no-border>

    <div class="signup-logo">
        <img src="assets/img/WAOlogin.png" alt="Ionic Logo">
        <h1 text-center>
            <ion-text color="light"> <strong>Registro | Empresa</strong></ion-text>
        </h1>
    </div>

    <div class="formulario">


        <form #signupFormEnterprise="ngForm" class="formulario" novalidate>
            <ion-list lines="none">

                <!--CAJA PARA NOMBRE COMPLETO-->
                <ion-item>
                    <ion-label position="stacked" color="primary">
                        <ion-text>Nombre de la empresa</ion-text>
                        <ion-chip [hidden]="(enterprisename.valid || submitted == false)" color="danger">
                            <ion-icon src="assets/icons/warning.svg" color="danger"></ion-icon>
                        </ion-chip>
                    </ion-label>
                    <ion-input [(ngModel)]="signupenterprise.enterprisename" name="enterprisename" type="text" #enterprisename="ngModel" (keypress)="soloLetra($event)" required>
                    </ion-input>
                </ion-item>

                <!--CAJA PARA NÚMERO DE IDENTIFICACIÓN-->
                <ion-item>
                    <ion-label position="stacked" color="primary">
                        <ion-text>NIT</ion-text>
                        <ion-chip [hidden]="(nit_enterprise.valid || submitted == false) && FaltaID==false" color="danger">
                            <ion-icon src="assets/icons/warning.svg" color="danger"></ion-icon>
                        </ion-chip>
                    </ion-label>
                    <ion-input [(ngModel)]="signupenterprise.nit_enterprise" name="nit_enterprise" type="text" #nit_enterprise="ngModel" required>
                    </ion-input>
                </ion-item>

                <!--CAJA PARA TELÉFONO-->
                <ion-item>
                    <ion-label position="stacked" color="primary">
                        <ion-text>Teléfono principal</ion-text>
                        <ion-chip [hidden]="(Enterprise_tel_cel.valid || submitted == false)" color="danger">
                            <ion-icon src="assets/icons/warning.svg" color="danger"></ion-icon>
                        </ion-chip>
                    </ion-label>
                    <ion-input [(ngModel)]="signupenterprise.Enterprise_tel_cel" name="Enterprise_tel_cel" type="number" #Enterprise_tel_cel="ngModel" required>
                    </ion-input>
                </ion-item>

                <!--CAJA PARA EMAIL-->
                <ion-item>
                    <ion-label position="stacked" color="primary">
                        <ion-text>Correo electrónico</ion-text>
                        <ion-chip [hidden]="(Enterpriseemail.valid || submitted == false)" color="danger">
                            <ion-icon src="assets/icons/warning.svg" color="danger"></ion-icon>
                        </ion-chip>
                    </ion-label>
                    <ion-input [(ngModel)]="signupenterprise.Enterpriseemail" name="Enterpriseemail" type="email" #Enterpriseemail="ngModel" required>
                    </ion-input>
                </ion-item>

                <!--CAJA PARA FECHA DE NACIMIENTO-->
                <ion-item>
                    <ion-label position="stacked" color="primary">
                        <ion-text>Codigo CIIU</ion-text>
                        <ion-chip [hidden]="(ciiu.valid || submitted == false)" color="danger">
                            <ion-icon src="assets/icons/warning.svg" color="danger"></ion-icon>
                        </ion-chip>
                    </ion-label>
                    <ion-input [(ngModel)]="signupenterprise.ciiu" name="ciiu" type="text" #ciiu="ngModel" required>
                    </ion-input>
                </ion-item>
            </ion-list>

        </form>
    </div>


    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="onSignup(signupFormEnterprise)" type="submit">
            <ion-icon src="assets/icons/arrow-foward.svg"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>