<ion-item class="textoIngreso">
    <ion-input type="text" debounce="500" (ionChange)="listar($event)" [(ngModel)]="cadena" [placeholder]='placeholder'> </ion-input>
    <!-- <datalist>
      <option *ngFor='let coincidencia of coincidencias.Mensaje' [value]="coincidencia.Institucion_Educativa">
        {{coincidencia.Institucion_Educativa}}</option>
    </datalist>-->
</ion-item>


<ion-list *ngIf="hayCoincidencias && parametroBusqueda === 'InstitucionE'">
    <ion-item *ngFor='let coincidencia of coincidencias.Mensaje' (click)='cadena = coincidencia.Institucion_Educativa; hayCoincidencias = false; clicked = true;'>
        {{ coincidencia.Institucion_Educativa }}
    </ion-item>
</ion-list>

<ion-list *ngIf="hayCoincidencias && (parametroBusqueda === 'TituloOP' || parametroBusqueda === 'TituloOT')">
    <ion-item *ngFor='let coincidencia of coincidencias.Mensaje' (click)='cadena = coincidencia.Profesion; hayCoincidencias = false; clicked = true;'>
        {{ coincidencia.Profesion }}
    </ion-item>
</ion-list>

<ion-list *ngIf="hayCoincidencias && parametroBusqueda === 'Empresas'">
    <ion-item *ngFor='let coincidencia of coincidencias.Mensaje' (click)='cadena = coincidencia.RazonSocial; hayCoincidencias = false; clicked = true;'>
        {{ coincidencia.RazonSocial }}
    </ion-item>
</ion-list>