<ion-header>
  <ion-toolbar>

      <ion-buttons slot="start">
          <ion-button color="light" (click)="cerrarPaginaActual()"><ion-icon slot="start" src="assets/icons/arrow-left-thick.svg"></ion-icon></ion-button>
      </ion-buttons>
    <ion-title>calificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ionic4-star-rating class="centrado" #rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#ffd700"
    defaultColor="#c0c0c0" readonly="false" rating="5" fontSize="32px" (ratingChanged)="logRatingChange($event)">
  </ionic4-star-rating>

  <ion-item>
    <ion-label position="stacked">Comentario</ion-label>
    <ion-textarea id="myInput" placeholder="Comente aquí" size="text" [(ngModel)]="areaTexto" rows="7" >

    </ion-textarea>
  </ion-item>
  

  <ion-button (click)="enviarComentario()">enviar</ion-button>




</ion-content>