ion-toolbar {
    background: linear-gradient(to right, rgb(102, 0, 204), rgb(146, 37, 255));
}

ion-grid {
    padding-left: var(--ion-grid-padding-xs, var(--ion-grid-padding, 0px));
    padding-right: var(--ion-grid-padding-xs, var(--ion-grid-padding, 0px));
    padding-top: var(--ion-grid-padding-xs, var(--ion-grid-padding, 0px));
    padding-bottom: var(--ion-grid-padding-xs, var(--ion-grid-padding, 0px));
    background: -webkit-linear-gradient(left top, rgba(255, 255, 255, 0.212), rgba(255, 255, 255, 0.226));
}


/* Custom Skeleton Line Height and Margin */

.custom-skeleton ion-skeleton-text {
    line-height: 13px;
}

.custom-skeleton ion-skeleton-text:last-child {
    margin-bottom: 5px;
}

.filaAmigosComun {
    background: -webkit-linear-gradient(left top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    --ion-background-color: rgba(255, 255, 255, 0);
}

.imagen {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-radius: 10px;
}

.lock-icon {
    text-align: center;
    font-size: 90px
}

.AmigosComunFoto {
    max-width: 40px;
    border: 2px solid #ffffff;
    border-radius: 50%;
}

ion-item {
    --background: #3881ff00;
}

ion-list {
    background: var(--ion-item-background, var(--ion-background-color, rgba(255, 255, 255, 0.219)));
}

.colImagen {
    height: 130%;
    background: -webkit-linear-gradient(left top, rgba(255, 255, 255, 0.212), rgba(255, 255, 255, 0.226));
}

.colImagenSkeleton {
    height: 130%;
    background: -webkit-linear-gradient(left top, rgba(109, 109, 109, 0.685), rgba(155, 155, 155, 0.692));
}

////// ********** DEFINICIÓN DE LOS COLORES PARA CADA TIPO DE CLASIFICADO ***********

/*                 Para los Pequeños, LargoH, ExtralargoH                             */

.ion-col3 {
    height: 130%;
    background: -webkit-linear-gradient(left top, rgba(102, 0, 204, 0.212), rgba(146, 37, 255, 0.226));
}

.ion-col31 {
    height: 130%;
    background: -webkit-linear-gradient(left top, rgba(0, 88, 204, 0.212), rgba(37, 139, 255, 0.226));
}

.ion-col32 {
    height: 130%;
    background: -webkit-linear-gradient(left top, rgba(204, 0, 0, 0.212), rgba(255, 37, 37, 0.226));
}

.ion-col33 {
    height: 130%;
    background: -webkit-linear-gradient(left top, rgba(0, 204, 10, 0.212), rgba(37, 255, 37, 0.226));
}

.ion-col34 {
    height: 130%;
    background: -webkit-linear-gradient(left top, rgba(204, 190, 0, 0.212), rgba(255, 233, 37, 0.226));
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////

/*                            Para los Grande2, GrandeXL                   */

.ion-col6x6 {
    height: 130%;
    background: -webkit-linear-gradient(left top, rgba(102, 0, 204, 0.212), rgba(146, 37, 255, 0.226));
}

.ion-col6x61 {
    height: 130%;
    background: -webkit-linear-gradient(left top, rgba(0, 88, 204, 0.212), rgba(37, 139, 255, 0.226));
}

.ion-col6x62 {
    height: 130%;
    background: -webkit-linear-gradient(left top, rgba(204, 0, 0, 0.212), rgba(255, 37, 37, 0.226));
}

.ion-col6x63 {
    height: 130%;
    background: -webkit-linear-gradient(left top, rgba(0, 204, 10, 0.212), rgba(37, 255, 37, 0.226));
}

.ion-col6x64 {
    height: 130%;
    background: -webkit-linear-gradient(left top, rgba(204, 190, 0, 0.212), rgba(255, 233, 37, 0.226));
}

///////////////////////////////////////////////////////////////////////////////////////////////////////////////

/*                            Para los largoV                    */

.ion-col6x3 {
    height: 130%;
    background: -webkit-linear-gradient(left top, rgba(102, 0, 204, 0.212), rgba(146, 37, 255, 0.226));
}

.ion-col6x31 {
    height: 130%;
    background: -webkit-linear-gradient(left top, rgba(0, 88, 204, 0.212), rgba(37, 139, 255, 0.226));
}

.ion-col6x32 {
    height: 130%;
    background: -webkit-linear-gradient(left top, rgba(204, 0, 0, 0.212), rgba(255, 37, 37, 0.226));
}

.ion-col6x33 {
    height: 130%;
    background: -webkit-linear-gradient(left top, rgba(102, 0, 204, 0.212), rgba(146, 37, 255, 0.226));
}

.ion-col6x34 {
    height: 130%;
    background: -webkit-linear-gradient(left top, rgba(204, 190, 0, 0.212), rgba(255, 233, 37, 0.226));
}