<ion-header no-border>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/app/tabs/schedule"></ion-back-button>
        </ion-buttons>

        <ion-title>
            Detalle del clasificado
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="light">
    <div *ngIf="completo=='true'" [class]="DetalleClasificadoData.Color" text-center>
        <ion-grid>
            <ion-row>
                <ion-col class="colImagen" size="12">

                    <img [src]="URLAvatar + DetalleClasificadoData.imagen" [alt]="DetalleClasificadoData.Titulo" class="imagen" no-repeat center center fixed>

                    <h1>
                        <ion-text color="primary"><strong>{{DetalleClasificadoData.Titulo}}</strong></ion-text>
                    </h1>
                    <!-- <h6>
                        <ion-text color="danger">ID del clasificado: <strong>000{{DetalleClasificadoData.ID}}</strong></ion-text>
                    </h6> -->

                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-list padding>

            <ion-item>
                <ion-label text-wrap>
                    <ion-text color="primary">
                        <h2> <strong>Descripción</strong> </h2>
                    </ion-text>
                    <p text-justify>{{DetalleClasificadoData.Descripcion}}</p>
                </ion-label>
            </ion-item>


            <ion-item>
                <ion-label text-wrap>
                    <ion-text color="primary">
                        <h2> <strong>Número de contacto</strong> </h2>
                    </ion-text>

                    <h6>Llamar a:
                        <ion-button (click)="llamar()" fill="clear">
                            <ion-icon src="assets/icons/phone.svg" color="primary"></ion-icon>
                            <strong>&#32; {{DetalleClasificadoData.Contacto}}</strong>
                        </ion-button>
                    </h6>

                </ion-label>
            </ion-item>

            <ion-item>
                <ion-label text-wrap>
                    <ion-text color="primary">
                        <h2> <strong>Contactos en común del publicador</strong> </h2>
                    </ion-text>

                    <div *ngIf="registro.CargaAmigosComunCompleta===false">

                        <h6>
                            <ion-spinner></ion-spinner>
                            <ion-text>Obteniendo contactos en común...</ion-text>
                        </h6>
                    </div>
                    <ion-grid *ngIf="registro.AmigosEnComun.amigoscomun!='Ninguno'" class="filaAmigosComun">
                        <ion-row class="filaAmigosComun">
                            <ion-col *ngFor="let i of registro.AmigosEnComun.amigoscomun" [hidden]="registro.CargaAmigosComunCompleta===false" size="1">
                                <img [src]="URLavatar + i.foto_perfil" alt="amigos_comun" routerLink="/app/tabs/speakers/speaker-details/{{i.Identificacion}}" class="AmigosComunFoto">
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <h6 *ngIf="registro.AmigosEnComun.amigoscomun=='Ninguno'" [hidden]="registro.CargaAmigosComunCompleta===false">
                        <ion-text>Ningún contacto en común</ion-text>
                    </h6>

                </ion-label>
            </ion-item>

        </ion-list>

    </div>


    <div *ngIf="completo=='false'" text-center>
        <ion-grid>
            <ion-row>
                <ion-col class="colImagenSkeleton" size="12">
                    <ion-icon class="lock-icon" color="dark" src="assets/icons/image.svg"></ion-icon>

                </ion-col>
            </ion-row>
        </ion-grid>
        <h1 text-center>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
        </h1>
        <ion-list padding>

            <ion-item>
                <ion-label text-wrap>
                    <ion-text color="primary">
                        <h2> <strong>Descripción</strong> </h2>
                    </ion-text>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                    <ion-skeleton-text animated></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 88%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                    <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                </ion-label>
            </ion-item>


            <ion-item>
                <ion-label text-wrap>
                    <ion-text color="primary">
                        <h2> <strong>Contactos</strong> </h2>
                    </ion-text>

                    <h6>Celular:
                        <ion-icon src="assets/icons/phone.svg" color="primary"></ion-icon>
                        <ion-skeleton-text animated style="width: 30%"></ion-skeleton-text>
                    </h6>

                </ion-label>
            </ion-item>
        </ion-list>
    </div>


    <div text-center *ngIf="completo == 'error'" padding>


        <img src="../../../assets/img/404.png" alt="no cargo la pagina" padding>
        <p padding>Por favor, revise la conexión a internet en su dispositivo</p>
        <h5> <strong> Para recargar de nuevo, deslice hacia abajo en esta pantalla</strong></h5>

    </div>
</ion-content>